* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(.draggable-item) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

a {
  color: #666;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

/*CSS Header*/

#header {
  background: #464775;
}

.header-logo {
  position: relative;
  padding: 0;
}

.header-logo h1 {
  font-size: 18px;
  text-transform: capitalize;
  height: 50px;
  line-height: 50px;
  margin: 0;
  margin-left: 35px;
}

.header-logo a {
  color: #fff;
}

.header-logo i {
  position: absolute;
  right: 10px;
  top: 0;
  color: #fff;
  opacity: 0.8;
  line-height: 50px;
}

.header-form {
  position: relative;
  padding: 0;
}

.header-form .form-group {
  margin-bottom: 0;
}

.header-form input.input-search {
  position: absolute;
  width: 500px;
  border: 0;
  border-radius: 5px;
  top: 8px;
  font-size: 13px;
  background: #edebe9;
}

.header-form button.icon-search {
  position: absolute;
  left: 480px;
  background: none;
  border: none;
  line-height: 50px;
}

.header-profile {
  position: absolute;
  right: 0;
  top: 3px;
}

.header-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
}

input,
select,
a,
button {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#navbar .dropdown-menu {
  background: #f0f0f0;
}

#navbar .drop-setting {
  background: #fff;
}

#navbar .drop-setting a {
  padding: 8px;
}

#navbar .drop-setting li a:hover {
  background: #f0f0f0;
}

#navbar > ul > li.dropdown.open > ul.drop-setting > li.dropdown-header > a:hover {
  background: none;
}

#navbar ul li a i {
  font-size: 18px;
  color: #fff;
}

.navbar-collapse {
  padding-right: 0;
  margin-right: 0;
}

.nav > li > a {
  padding: 15px 20px;
}

/*Dropdown*/

.dropdown a.header-drop-infomation {
  padding: 0;
  margin-top: 8px;
}

.drop-notification {
  margin-right: -155px;
}

.drop-help {
  margin-right: -45px;
}

.drop-infomation {
  margin-right: -8px;
}

.drop-notification-title {
  font-size: 23px;
}

.drop-notification i {
  color: #666;
}

#navbar ul li.drop-notification-title a i {
  color: #666;
  margin-left: 145px;
  font-size: 14px;
}

#navbar ul li.drop-help-item button i {
  color: #3f84de;
  margin-left: 145px;
  font-size: 14px;
}

#navbar ul li a:hover {
  background: none;
}

.drop-notification-alert {
  font-size: 13px;
  margin-top: 30px;
  margin-left: 30px;
}

.drop-help-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.drop-help-item form {
  position: relative;
}

.drop-help-item input.help-input {
  position: absolute;
  width: 268px;
  margin-left: 20px;
  padding: 10px 10px;
  background: #f4f9fd;
  border: 0;
  font-size: 13px;
}

.drop-help-item button.icon-light {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: 0;
}

#navbar > ul > li.dropdown.open > ul > li.dropdown-header > a {
  margin-top: 10px;
  color: blue;
}

.drop-profile-item {
  margin-top: 30px;
  margin-bottom: 20px;
}

.drop-profile-info img.header-avatar {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
}

.drop-profile-item img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 15px;
}

.drop-profile-item a {
  height: 90px;
}

.drop-profile-item a span {
  margin-top: 20px;
  font-size: 18px;
}

#drop-tabs-icon {
  padding: 0;
  border: 1;
}

#drop-tabs-icon .drop-item {
  width: 100%;
  margin: 0;
  padding: 8px;
}

#drop-tabs-icon .drop-item:hover {
  background: #f0f0f0;
}

#drop-tabs-icon .drop-item a {
  padding: 8px;
}

#drop-options ul li a.dropdown-toggle {
  font-size: 14px;
}

.drop-setting li a {
  padding: 8px;
}

.drop-setting-heading {
  margin-top: 20px;
}

.drop-setting-heading span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}

.drop-setting-heading button {
  background: none;
  border: 0;
  margin-right: 15px;
  float: right;
}

.drop-setting-input input {
  width: 90%;
  height: 30px;
  margin: 10px auto;
  padding-left: 8px;
  border: 0;
  background: #f0f0f0;
  display: block;
}

.dropdown-menu.drop-setting {
  width: 250px;
}

/* CSS Global Main*/

.inbox-menu-favorite {
  height: 158px;
  overflow-y: auto;
}

.inbox-menu-near {
  height: 218px;
  overflow-y: auto;
}

.symper-app-main-content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  overflow-x: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: calc(100vh - 80px);
  overflow-y: hidden;
  padding-top: 0px;
}

.mail-box {
  position: relative;
}

.mail-box aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}

/*.mail-box .sm-side {
    position: relative;
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 20%;
    height: 100%;
}*/

.mail-box .lg-side {
  background: #f5f5fa;
  border-radius: 0 4px 4px 0;
  width: 100%;
  height: 100vh;
  display: block;
}

.inbox-body {
  padding: 20px;
}

.inbox-last-item {
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.inbox-last-item div a i {
  font-size: 23px;
  color: #666;
}

.btn-compose {
  background: none repeat scroll 0 0 #ff6c60;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}

.btn-compose:hover {
  background: none repeat scroll 0 0 #f5675c;
  color: #fff;
}

ul.inbox-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%;
}

ul.inbox-nav li a {
  color: #6a6a6a;
  display: inline-block;
  line-height: 45px;
  padding: 0 10px;
  width: 100%;
}

ul.inbox-nav li a:hover,
ul.inbox-nav li.active a,
ul.inbox-nav li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a;
}

ul.inbox-nav li a i {
  color: #6a6a6a;
  font-size: 16px;
  padding-right: 10px;
}

ul.inbox-nav li a span.label {
  margin-top: 13px;
}

ul.labels-info li h4 {
  color: #5c5c5e;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  text-transform: uppercase;
}

ul .label-info li h4 i.fa-chevron-down:before {
  margin-left: 60px;
}

ul.labels-info li {
  margin: 0;
}

ul.labels-info li a {
  border-radius: 0;
  color: #6a6a6a;
}

ul.labels-info li a:hover,
ul.labels-info li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a;
}

ul.labels-info li a i {
  padding-right: 10px;
}

.mail-box .sm-side ul li img.inbox-menu-img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

#pills-tabContent {
  margin-top: 30px;
}

/*.tabs-task { flex-direction: column; flex: 1; display: flex; align-content: flex-start; overflow-y: auto; }*/

.tabs-table {
  margin-top: 20px;
  width: 300px;
  float: left;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27rem;
          flex: 0 0 27rem;
  max-height: calc(100vh - 145px);
  height: calc(100vh - 145px);
}

/*.tabs-table label { width: 100%; background: red; text-align: center;}*/

#drop-tabs-icon {
  width: 150px;
  left: 0;
}

.tabs-table-info {
  background: #fff;
  margin-top: 25px;
}

.tabs-body-info {
  padding: 8px;
}

.task-list {
  margin-top: 10px;
}

.checkbox label {
  min-height: 0;
}

.task-option {
  font-size: 12px;
  margin-top: 10px;
}

.tabs-table-manage {
  margin-top: 2px;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
}

.tabs-table-manage:hover {
  background: #f0f0f0;
}

.drop-img-manager {
  margin: 15px;
  background: #f0f0f0;
}

.drop-img-manager img {
  width: 36px;
  height: 36px;
  margin-left: 15px;
  margin-top: 10px;
}

.drop-img-manager a span i {
  margin-left: 60px;
}

.drop-member-manager span {
  font-weight: bold;
}

.drop-setting-input input.input-add-member {
  margin-bottom: 0;
}

.drop-setting input.drop-create-member {
  width: 250px;
  height: 30px;
  margin-left: 15px;
  margin-bottom: 20px;
  background: #edeff2;
  padding-left: 10px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: 0;
}

.drop-setting li.drop-member-title {
  padding: 8px;
}

.drop-setting li.drop-member-image img {
  width: 36px;
  height: 36px;
  margin-left: 20px;
  margin-right: 15px;
}

.drop-setting li.drop-member-title span {
  font-weight: bold;
  margin-left: 15px;
}

/*Modal main content*/

#card-detail-model .form-control {
  border-radius: 0;
  background: #edeff2;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#card-detail-model a {
  color: #666;
}

#card-detail-model a:hover {
  text-decoration: none;
}

.icon-addMember {
  margin-right: 8px;
  margin-top: 5px;
}

.modal-add-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-name-info {
  margin-top: 5px;
}

.modal-input-file > .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  background-color: #f0f0f0;
  display: inline-block;
  cursor: pointer;
  padding: 8px 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #f9f9f9;
}

.modal-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-header-button {
  background: none;
  margin-left: 10px;
  border: 0;
}

.modal-header-icon {
  margin-top: 8px;
}

#card-detail-model .dropdown-menu {
  padding: 0;
}

.modal-drop-item {
  padding: 8px;
}

.modal-drop-item:hover {
  background: #f0f0f0;
}

.modal-drop-member span {
  font-weight: bold;
  margin-left: 15px;
}

.modal-drop-img {
  margin: 15px;
}

.modal-drop-img img {
  margin-top: -5px;
}

.modal-drop-img a span i {
  margin-left: 90px;
}

.modal-content {
  position: relative;
  z-index: 2;
  border-radius: 0;
}

.rule-option-item:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.rule-option-item {
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 40px;
  display: block;
}

.rule-option-item input.rule-input {
  position: absolute;
  width: 200px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 30px;
  text-align: right;
  padding-right: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rule-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 0;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rule-1 {
  background: #d87093;
}

.rule-2 {
  background: #0000ff;
}

.rule-3 {
  background: #9acd32;
}

.rule-4 {
  background: #f44b1d;
}

.rule-5 {
  background: #39aa98;
}

.rule-6 {
  background: #4fddfe;
}

/*css scrollbar*/

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #d5d7de;
}

.label-check-box:checked + label:before {
  display: block;
  opacity: 1;
  visibility: visible;
}

label.rule-button:before {
  content: '';
  width: 14px;
  height: 7px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
  visibility: hidden;
}

.tabs-task.ui-sortable-handle {
  height: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 265px);
}

a.datepicker,
button.datepicker {
  cursor: pointer;
  outline: none;
}

label.check-finish-task {
  width: 25px;
  height: 25px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 0px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  line-height: 23px;
  text-align: center;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

label.check-finish-task:hover {
  background: #158215;
  color: #fff;
}

.task-name .navbar-right {
  margin-right: 0px;
  float: right;
}

.sm-side-menu {
  height: calc(100vh - 143px);
  overflow: auto;
}

.sm-side-menu-fixed {
  position: fixed;
  bottom: 0;
  height: 91px;
  width: 20%;
}

.sm-side-menu-fixed a:hover {
  color: #666;
}

.side-menu-collapse {
  text-align: right;
}

.side-menu-collapse a i {
  font-size: 18px;
}

.symper-datepicker .vdatetime-input {
  display: none;
}

.theme-symper .vdatetime-popup__header,
.theme-symper .vdatetime-calendar__month__day--selected > span > span,
.theme-symper .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #8183b9;
  font-family: Quicksand, Arial, sans-serif;
}

.theme-symper .vdatetime-year-picker__item--selected,
.theme-symper .vdatetime-time-picker__item--selected,
.theme-symper .vdatetime-popup__actions__button {
  color: #8183b9;
  font-family: Quicksand, Arial, sans-serif;
}

.vdatetime-calendar__current--month,
.vdatetime-calendar__month__weekday {
  font-family: Quicksand, Arial, sans-serif;
}

#card-detail-model .vdatetime-overlay {
  width: 200vh !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #header {
    display: none;
  }

  .inbox-body {
    padding: 1em 0 0 .4em;
  }

  .header-group {
    margin-right: 2.5em;
  }

  .nav > li > a {
    padding: 8px 10px;
  }

  #drop-options ul li a.dropdown-toggle {
    font-size: 13px;
  }

  #exampleModal > div {
    width: 580px !important;
  }

  .rule-option-item input.rule-input {
    position: absolute;
    width: 14em;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 30px;
    text-align: right;
    padding-right: 2em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .rule-option {
    z-index: 1;
    width: 15em;
    height: auto;
    background: transparent;
    position: absolute;
    top: 0px;
    left: 31.5em;
    margin-top: 10px;
    margin: 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
  }

  .rule-option:hover {
    left: 37em;
  }

  .side-menu {
    height: calc(100vh - 100px);
  }

  .symper-app-main-content {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    overflow-x: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: calc(100vh - 61px);
    overflow-y: hidden;
  }

  img.img-name-group {
    width: 40px !important;
  }

  .header-img {
    margin-right: .5em;
  }

  .header-group {
    margin-right: 0.5em;
  }

  .header-group .name-group h3 {
    font-size: 15px;
  }
}

.symper-task-member {
  display: inline-block;
  float: left;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.symper-task-member:hover i.ms-Icon {
  display: inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.symper-member-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  background-color: #ee0411;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
}

.symper-member-avatar img {
  width: 30px;
  height: 30px;
  margin: 0;
  display: block;
}

.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
  overflow: unset !important;
}

.side-menu img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  background-color: #ee0411;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  line-height: 33px;
  margin-top: -0.4em;
  margin-right: 3em;
}

.side-menu img img {
  width: 30px;
  height: 30px;
}

.side-item-fix h4 {
  color: #666;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 20px;
}

.swal2-icon {
  margin: 0 auto !important;
  margin-bottom: 15px !important;
}

.swal2-popup,
.swal2-cancel,
.swal2-popup .swal2-styled.swal2-confirm {
  border-radius: 0px !important;
  font-size: 14px !important;
}

