<template>
    <div class="symper-loader-wrapper">
        <div class="symper-loader">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square clear"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square clear"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
    </div>
</template>
<style lang="sass" scoped>
	@import 'loader.scss';
</style>
