.symper-loader-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: +10000;
    background-color: rgb(245, 245, 250);
    top: 0;
    .symper-loader {
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .square {
            height: 15px;
            width: 15px;
            top: calc( -15px * 2 / 3);
            margin-right: calc(15px / 3);
            margin-top: calc(15px / 3);
            background: rgb(111, 111, 111);
            float: left;
            position:relative;
            opacity: 0;
            animation: self-building-square-spinner 6s infinite;
            &:nth-child(1) {
                animation-delay: calc(300ms * 6);
            }
            
            &:nth-child(2) {
                animation-delay: calc(300ms * 7);
            }
            
            &:nth-child(3) {
                animation-delay: calc(300ms * 8);
            }
            
            &:nth-child(4) {
                animation-delay: calc(300ms * 3);
            }
            
            &:nth-child(5) {
                animation-delay: calc(300ms * 4);
            }
            
            &:nth-child(6) {
                animation-delay: calc(300ms * 5);
            }
            
            &:nth-child(7) {
                animation-delay: calc(300ms * 0);
            }
            
            &:nth-child(8) {
                animation-delay: calc(300ms * 1);
            }
            
            &:nth-child(9) {
                animation-delay: calc(300ms * 2);
            }
        }
        .clear{
            clear: both;
        }
    }
}

@keyframes self-building-square-spinner {
    0% {opacity: 0;}
    5% {opacity: 1;top: 0;}
    50.9% {opacity: 1;top: 0;}
    55.9% {opacity: 0;top: inherit;}
}