<template>
  <div>
    <GChart 
      ref="chart"
      type="ColumnChart"
      :data="bar_data"
      :options="chartOptions" 
      :resizeDebounce="300"
    />    
  </div>
</template>

<script>
import { GChart } from "vue-google-charts";
export default {
  components: {
    GChart
  },
  data() {
    return {
      chartOptions: {
        colors: ['#c8c8c8', '#408ab7', '#d63867', '#64b564'],
        height: 330,
        width: '100%',
        chartArea: {
          left: 50,
          right: 50,
          top: 50,
          bottom: 50 
        },
        legend: {position:'none'},
        responsive: true,
        maintainAspectRatio: true,
        isStacked: true,
        bar: {groupWidth: "20%"},
        hAxis: {
          viewWindow: {
            min: [10, 4, 30],
            max: [30, 45, 30]
          }
        }
      }
    };
  },
  props: {
    bar_data: {
      type: Array
    }
  },
  methods: {
    re_draw(){
      this.$refs.chart.drawChart();
    }
  }
};
</script>