<template>
  <div >
  <GChart
    ref="chart"
    type="BarChart"
    :data="user_data"
    :options="chartOptions" 
    :resizeDebounce="300"
  />
  </div>
</template>

<script>
import { GChart } from 'vue-google-charts'
export default {
  components: {
    GChart
  },
  props: {
    user_data: {
      type: Array
    }
  },
  data() {
    return {
      chartOptions: {
        legend: {position:'none'},
        chartArea:{
          left: 150,
          top: 50,
          right: 100,
          bottom: 50
        },
        responsive: true,
        maintainAspectRatio: false,
        isStacked: true,
        bar: {groupWidth: "45%"},
        colors: ['#c8c8c8', '#408ab7', '#d63867', '#64b564'],
        axes: {
          x: {
            0: { side: 'top'}
          }
        },
        animation: {
          duration: 1500,
          easing: 'linear',
          startup: true
        }
      }
    };
  },
  methods: {
    re_draw(){
      this.$refs.chart.drawChart();
    }
  }
};
</script>
