<template>
  <div>
    <GChart
      ref="chart"
      type="PieChart"
      :data="pie_data"
      :options="chartOptions" 
      :resizeDebounce="300"
    />    
  </div>
</template>

<script>
import { GChart } from "vue-google-charts";
export default {
  components: {
    GChart
  },
  data() {
    return {
      chartOptions: {
        pieHole: .8,
        height: 300,
        pieSliceText: 'none',
        slices: {
            0: { color: '#c8c8c8' },
            1: { color: '#408ab7' },
            2: { color: '#d63867' },
            3: { color: '#64b564' }
          },
        legend: {
          position: 'none'
        },
        animation: {
          duration: 1500,
          easing: 'linear',
          startup: true
        }
      }
    };
  },
  props: {
    pie_data: {
      type: Array
    }
  },
  methods: {
    re_draw(){
      this.$refs.chart.drawChart();
    }
  }
};
</script>