<template>
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <!-- Header : Logo -->
                <div class="col-md-3 header-logo">
                    <h1><a href="#">Symper Teams</a></h1>
                    <a><i class="ms-Icon ms-Icon--SingleColumnEdit"></i></a>
                </div>
                <!-- Header : Form + Profile -->
                <div class="col-md-9 header-form">
                    <!-- Header : Form -->
                    <div class="form-group">
                        <input type="text" placeholder="Tìm kiếm hoặc gõ câu lệnh" class="form-control text-center input-search">
                        <button type="submit" class="icon-search"><i class="ms-Icon ms-Icon--Search"></i></button>
                    </div>
                    <!-- Header : Profile -->
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i></a>
                                <ul class="dropdown-menu drop-notification" style="height: 600px; max-height: 600px; width: 310px;max-width: 310px;">
                                    <li class="drop-notification-title"><a href="#">Thông báo <i class="ms-Icon ms-Icon--Clear"></i></a></li>
                                    <li class="drop-notification-alert">Không có thông báo nào mới lúc này !</li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Thông báo về bảo mật tài khoản cá nhân</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ms-Icon ms-Icon--Settings"></i></a>
                                <ul class="dropdown-menu drop-setting" style="width: 280px;max-width: 280px; padding:0;">
                                    <li><a href="#">Thay đổi chủ đề</a></li>
                                    <li><a href="#">Cài đặt</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header"><a href="#">Thiết lập symper teams</a></li>
                                    <li><a href="#">Giấy phép</a></li>
                                    <li><a href="#">Thông báo</a></li>
                                    <li><a href="#">Gửi phản hồi về Symper</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ms-Icon ms-Icon--StatusCircleQuestionMark"></i></a>
                                <ul class="dropdown-menu drop-help" style="height: 600px; max-height: 600px; width: 310px;max-width: 310px;">
                                    <li class="drop-notification-title"><a href="#">Trợ giúp <i class="ms-Icon ms-Icon--Clear"></i></a></li>
                                    <li class="drop-help-item">
                                        <form class="form-group">
                                            <input type="text" placeholder="Cho tôi biết bạn muốn làm gì ?" class="help-input">
                                            <button type="submit" class="icon-light"><i class="ms-Icon ms-Icon--Lightbulb"></i></button>
                                        </form>
                                    </li>
                                    <li role="separator" class="divider" style="margin-top: 90px; border:none;"></li>
                                    <li class="dropdown-header"><a href="#">Cộng đồng</a></li>
                                    <li class="dropdown-header"><a href="#">Pháp lý</a></li>
                                    <li class="dropdown-header"><a href="#">Quyền riêng tư & cookie</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle header-drop-infomation" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <div class="drop-profile-info">
                                        <div class="info-user">
                                            <img src="img/img.jfif" alt="" class="img-circle img-fluid header-avatar">
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drop-infomation" style="height: 600px; max-height: 600px; width: 310px;max-width: 310px; padding: 0; margin-top: 8px;">
                                    <li class="drop-notification-title"><a href="#">Tài khoản <i class="ms-Icon ms-Icon--Clear"></i></a></li>
                                    <li class="drop-profile-item">
                                        <a href="#">
                                            <img src="img/user_2.jpg" alt="avarar" class="img-circle">
                                            <span>Lê Khang</span>
                                            <br>
                                            <small>khangle0608@gmail.com</small>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header"><a href="#">Hồ sơ của tôi</a></li>
                                    <li class="dropdown-header"><a href="#">Tài khoản của tôi</a></li>
                                    <li class="dropdown-header"><a href="#" type="submit">Đăng xuất</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!-- End profile -->
            </div>
            <!-- End row -->
        </div>
        <!-- End container-fluid -->
    </div>
    <!-- End header -->
</template>