$task_width: 280px;
$label_bg: #f0f0f0;
.symper-app-main-content.empty-boards{
    &:before {
        content: "\EF88";
        font-family: FabricMDL2Icons;
        font-style: normal;
        font-weight: 400;
        position: absolute;
        z-index: 0;
        font-size: 80px;
        opacity: 0.2;
        top: 50%;
        left: 50%;
        width: 100px;
        transform: translate(-50%, -50%);
        height: 100px;
        display: block;
    }
    &:after{
        content: attr(data-msg);
        font-size: 18px;
        position: absolute;
        top: 60%;
        left: 50%;
        opacity: 0.45;
        z-index: 0;
        transform: translate(-50%, -50%);
    }
}

.tabs-table {
    transition: all 0.3s;
    .tabs-table-item {
        .note-title{
            input.tabs-input { 
                position: relative; 
                width: 100%; 
                padding: 10px; 
                background: $label_bg; 
                border: 0;
                outline: none;
            }
        }
    }
}

.note-ghost {
    transition: all 0.18s ease;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 7.5px;
    padding-top: 10px;
    box-shadow: 0 0 10px #ccc;
    transform: rotateZ(5deg);
    cursor: hand;
}

.note-ghost-drop {
    transition: all 0.18s ease-in-out;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0px;
    transform: rotateZ(0deg)
}
.slide-right-enter-active {
  animation: slide-right .2s;
}
.slide-right-leave-active {
  animation: slide-right .2s reverse;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
@keyframes slide-right {
  0% {
    left: -999999px;
  }
  100% {
    left: 0;
  }
}
