<template>
    <div class="symper-content">
        <symper-navbar 
            :group_info="selected_group" 
            :users_in_group="users_in_group" 
            :users="users"  
            :groups="groups"  
            :show_mode="show_mode" 
            @changeShowMode="set_show_mode($event)" 
            @removePlan="remove_plan($event)" 
            @filter_task="do_filter($event)">    
        </symper-navbar>
        <symper-loader v-if="show_loading" />
        <div class="symper-app-main-content" :class="{'empty-boards': !boards.length}" :data-msg="empty_msg" v-show="show_mode == 'notes'">
            <Container 
                orientation="horizontal" 
                :animation-duration="200" 
                @drop="drop_board($event)"
                :should-accept-drop="should_accept_drop" 
                group-name="col"
                drag-class="note-ghost"
                drop-class="note-ghost-drop"
                >            
                <Draggable 
                    v-for="(note, index) in boards" 
                    :key="'single-board-' + index" 
                    >
                    <single-board class="draggable-item" 
                      :note="note" 
                      :boards="boards" 
                      :mode="mode"
                      :users="users" 
                      :is_drag_task="is_drag_task" 
                      :group_info="selected_group" 
                      :users_in_group="users_in_group" 
                      :hidden_board_all_done="hidden_board_all_done"
                      @deleteNote="remove_note($event)" 
                      @changeBoards="change_boards($event)" 
                      @showDetail="show_detail_card($event)" 
                      @deleteCard="delete_card($event)" 
                      @doFilterAgaint="do_filter_again($event)"
                      @updateTitle="update_title($event)"
                      @updateTask="update_task($event)"
                    ></single-board>
                </Draggable>
            </Container>
                
            <div class="tabs-table connectedSortable" v-show="!mode.length">
                <div class="tabs-table-item">
                    <div class="note-title">
                        <input type="text" :placeholder="trans('template.add_new_note')" 
                          class="tabs-input last-input" 
                          v-model="new_note_title" 
                          v-on:keyup.enter="add_new_board()">
                    </div>
                </div>
            </div>
        </div>
        <transition>
            <board-detail 
                @update_task="update_task($event)" 
                @remove_todolist="remove_todolist($event)" 
                @deleteCard="delete_card($event)" 
                @check_todolist="check_todolist($event)" 
                @updateTodolist="update_todolist($event)" 
                @copyCard="copy_card_to_note($event)"
                @updateLabel="update_label($event)" 
                @closeModal="close_modal()" 
                @add_users="add_users($event)" 
                @remove_users="remove_users($event)" 
                :task="task_detail" 
                :users="users" 
                :users_in_group="users_in_group"
                :selected_group="selected_group"
                :groups="groups" 
                v-show="show_detail_task"
            >
            </board-detail>
        </transition>
        <chart v-if="show_mode == 'charts'" 
            :group_info="selected_group" 
            :temp_data="temp_data"
            :users_in_group="users_in_group"
            :users="users" 
            :show_mode="show_mode"
            @doFilterAgaint="do_filter_again($event)"
            @showDetail="show_detail_card($event)"
            @deleteCard="delete_card($event)" 
            @disable_loading="disable_loading"
        />
        <time-line 
            v-if="show_mode == 'timeline'" 
            :boards="boards" :users="users" 
            @showDetail="show_detail_card($event)" 
            @disable_loading="disable_loading"
        />
        <gantt 
            v-if="show_mode == 'gantt'" 
            :temp_data="temp_data" :users_in_group="users_in_group" 
            @showDetail="show_detail_card($event)" 
            @disable_loading="disable_loading"
        />
    </div>
</template>
<style lang="sass" scoped>
  @import "boards.scss"
</style>

<script>
import loader from "../../../Loader/Loader";
import singleBoard from "./Single-board/Board";
import chart from "./Single-board/Chart";
import gantt from "./Single-board/Gantt";
import Timeline from "./Single-board/Timeline";
import modal from "./Board-detail/Modal";
import navbar from "../Navs/Navs";
import { Container, Draggable } from "vue-smooth-dnd";
import swal from 'sweetalert2'
export default {
    data() {
        return {
            show_loading: true,
            api_url: window.api_url + "/",
            boards: [],
            empty_msg: "",
            new_note_title: "",
            task_detail: {},
            users: [],
            selected_group: {},
            temp_data: [],
            show_detail_task: false,
            mode: '',
            current_filter: {},
            users_in_group: [],
            is_drag_task: false,
            show_mode: 'notes',
            pre_show_mode: 'notes',
        };
    },
    methods: {
        remove_plan(plan){
            this.$emit('RemovePlan', plan);
        },
        update_title(note){
            for (var i = this.temp_data.length - 1; i >= 0; i--) {
                if (this.temp_data[i].note_id == note.note_id) {
                    this.temp_data[i].title = note.title;
                    break;
                }
            }
        },
        set_show_mode(mode){
            this.pre_show_mode = this.show_mode;
            this.show_mode = mode;
            this.show_loading = true;
            if (mode == 'notes') {
                (function(_this){
                    setTimeout(function(){
                        _this.show_loading = false;
                    }, 2000, false);
                })(this);
            }
        },
        disable_loading(){
            this.show_loading = false;
        },
        delete_card($card){
            for (var i = 0; i < this.temp_data.length; i++) {
                if (this.temp_data[i].note_id == $card.note_id) {
                    for (var j = this.temp_data[i].cards.length - 1; j >= 0; j--) {
                        if(this.temp_data[i].cards[j].card_id == $card.card_id){
                            this.temp_data[i].cards.splice(j, 1);
                            break;
                        }
                    }
                }
            }
            this.do_filter(this.current_filter);
        },
        /**
         * Xoá bộ chứa kèm theo toàn bộ tác vụ bên trong
         */
        remove_note(note_id){
            for (var i = 0; i < this.temp_data.length; i++) {
                if (this.temp_data[i].note_id == note_id) {
                    this.temp_data.splice(i, 1);
                    break;
                }
            }
            this.do_filter(this.current_filter);
        },
        /**
         * Lấy toàn bộ các bảng thuộc một nhóm
         */
        get_all_board() {
            if (!this.group.length) {
                return false;
            }
            for (var i = 0; i < this.groups.length; i++) {
                if (this.groups[i].Id === this.group) {
                    this.selected_group = this.groups[i];
                    break;
                }
            }
            fetch(window.api_url + "/get-notes/"+this.group)
                .then(res => res.json())
                .then(res => {
                    if (res.status) {
                        this.boards = res.data;
                        this.temp_data = res.data;
                        if ( this.current_filter !== {} ) {
                            this.do_filter(this.current_filter);
                        }
                        this.check_card_slug();
                    } else {
                        this.empty_msg = this.trans('template.no_note_found');
                    }
                    this.show_loading = false;
                }
            ).catch( res => {
                this.show_loading = false;
            });
        },

        /**
         * Kiểm tra slug của task có tồn tại trên url hay không
         */
        check_card_slug(){
            if (this.card_slug !== "") {
                let flag = false;
                for (var i = 0; i < this.boards.length; i++) {
                    for (var j = 0; j < this.boards[i].cards.length; j++) {
                        if (this.boards[i].cards[j].card_slug == this.card_slug) {
                            flag = true;
                            this.show_detail_card({
                                note_id: this.boards[i].note_id,
                                card: this.boards[i].cards[j]
                            });
                            break;
                        }
                    }
                }
                if (!flag) {
                    swal({
                        text: this.trans('api_validation.card_does_not_exist'),
                        type: 'warning',
                    });
                }
            }
        },

        /**
         * Sao chép thẻ sang bảng khác
         */
        copy_card_to_note(card){
            for (var i = 0; i < this.boards.length; i++) {
                if (this.boards[i].note_id == card.note_id) {
                    this.boards[i].cards.splice(0, 0, card);
                    break;
                }
            }
        },

        /**
         * Thêm task mới
         */
        add_new_board() {
            fetch(window.api_url + "/add-note", {
                method: "post",
                body: JSON.stringify({
                    title: this.new_note_title.trim(),
                    group_id: this.selected_group.Id
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.new_note_title = "";
                res.data.cards = [];
                this.boards.push(res.data);
                this.temp_data.push(res.data);
            });
        },

        /**
         * Hiển thị toàn bộ thông tin chi tiết của một tác vụ
         */
        show_detail_card(_res) {
            this.show_loading = true;
            fetch(window.api_url + "/get-card-detail/" + _res.card.note_id + "/" + _res.card.card_id)
                .then(res => res.json())
                .then(res => {
                    if (res.status) {
                        document.title = res.data.card_title;
                        let _url = window.location.origin + "/" + this.group+"/"+encodeURI(res.data.card_slug);
                        if (window.history.state && window.history.state.urlPath && window.history.state.urlPath != _url) {
                            window.history.pushState({urlPath:_url}, res.data.card_title, _url);
                        }
                        res.data.open_action = _res.card.open_action;
                        this.task_detail = res.data;
                        this.show_detail_task = true;
                    } else {
                        swal({
                            text: res.msg,
                            type: 'warning',
                        });
                    }
                    this.show_loading = false;
                }
            ).catch( res => {
                this.show_loading = false;
            });
        },

        /**
         * Đóng khung chi tiết của thẻ
         */
        close_modal(){
            this.show_detail_task = false;
            this.$emit('SetCardSlug', '');
        },

        /**
         * Cập nhật tác vụ
         */
        update_task(data){
            let task = {};
            for (let index = 0; index < this.temp_data.length; index++) {
                if (this.temp_data[index].note_id == data.note_id) {
                    let tasks = this.temp_data[index].cards;
                    for (let j = 0; j < this.temp_data[index].cards.length; j++) {
                        if (this.temp_data[index].cards[j].card_id == data.card_id) {
                            task = this.temp_data[index].cards[j];
                            switch (data.key) {
                                case 'card_title':
                                    this.temp_data[index].cards[j].card_title = data.val;
                                    break;
                                case 'expiry_date':
                                    this.temp_data[index].cards[j].expiry_date = data.val;
                                    break;
                                case 'start_date':
                                    this.temp_data[index].cards[j].start_date = data.val;
                                    break;
                                case 'show_des':
                                    this.temp_data[index].cards[j].show_des = data.val;
                                    break;
                                case 'show_checklist':
                                    this.temp_data[index].cards[j].show_checklist = data.val;
                                    break;
                                case 'is_urgent':
                                    this.temp_data[index].cards[j].is_urgent = data.val;
                                    break;
                                case 'status':
                                    let last_status = this.temp_data[index].cards[j].status;
                                    this.temp_data[index].cards[j].status = data.val;
                                    break;
                                case 'card_des':
                                    this.temp_data[index].cards[j].card_des = data.val;
                                    break;
                                case 'add_todo_list':
                                    this.temp_data[index].cards[j].todolist.push(data.val);
                                    break;
                                case 'add_comment':
                                    this.temp_data[index].cards[j].totalComment++;
                                    break;
                                case 'members':
                                    this.temp_data[index].cards[j].members = data.val;
                                    break;
                                case 'schedule':
                                    this.temp_data[index].cards[j].schedule = data.val;
                                    break;
                                case 'add_attachement':
                                    this.temp_data[index].cards[j].files.push( data.val );
                                    break;
                                case 'remove_attachement':
                                    for (var k = 0; k < this.temp_data[index].cards[j].files.length; k++) {
                                        if (this.temp_data[index].cards[j].files[k].file_id == data.val) {
                                            this.temp_data[index].cards[j].files.splice(k, 1);
                                            break;
                                        }
                                    }
                                    break;
                                default:
                                    break;
                            }
                        }                        
                    } 
                }
            }
            this.do_filter_again(task);

        },

        /**
         * Xóa todo list
         */
        remove_todolist(data){
            for (let index = 0; index < this.boards.length; index++) {
                if (this.boards[index].note_id == data.note_id) {
                    for (let j = 0; j < this.boards[index].cards.length; j++) {
                        if (this.boards[index].cards[j].card_id == data.card_id) {
                            this.boards[index].cards[j].todolist = this.boards[index].cards[j].todolist.filter(todo => {
                                return todo.todo_list_id != data.todo_list_id;
                            });                            
                        }                        
                    } 
                }
                
            }
        },

        /**
         * Đánh dấu todo list
         */
        check_todolist(data){
            for (let index = 0; index < this.boards.length; index++) {
                if (this.boards[index].note_id == data.note_id) {
                    for (let j = 0; j < this.boards[index].cards.length; j++) {
                        if (this.boards[index].cards[j].card_id == data.card_id) {
                            for (let k = 0; k < this.boards[index].cards[j].todolist.length; k++) {
                                if(this.boards[index].cards[j].todolist[k].todo_list_id == data.todo_list_id){
                                    this.boards[index].cards[j].todolist[k].status = !this.boards[index].cards[j].todolist[k].status;
                                }                                
                            }                          
                        }                        
                    } 
                }
            }
        },

        /**
         * Cập nhật nội dung todo list
         */
        update_todolist(data){
            for (let index = 0; index < this.boards.length; index++) {
                if (this.boards[index].note_id == data.note_id) {
                    for (let j = 0; j < this.boards[index].cards.length; j++) {
                        if (this.boards[index].cards[j].card_id == data.card_id) {
                            for (let k = 0; k < this.boards[index].cards[j].todolist.length; k++) {
                                if(this.boards[index].cards[j].todolist[k].todo_list_id == data.todo_list_id){
                                    this.boards[index].cards[j].todolist[k].content = data.content;
                                }                                
                            }                          
                        }                        
                    } 
                }
            }
        },

        get_users(){
            fetch(window.api_url+"/get-users")
                .then(res => res.json())
                .then(res => {
                    if (!res.status) {
                        swal({
                            text: res.msg,
                            type: 'warning',
                        });
                        return false;
                    }
                    this.users = res.data;
                }
            );
        },

        get_users_in_group(){
            if (!this.group.length) {
                return false;
            }
            fetch(window.api_url+"/get-users-in-group/" + this.group)
                .then(res => res.json())
                .then(res => {
                    if (!res.status) {
                        swal({
                            text: res.msg,
                            type: 'warning',
                        });
                        return false;
                    }
                    this.users_in_group = res.data;
                }
            );
        },

        change_boards(boards){
            this.boards = boards;
        },

        /**
         * Xử lý sự kiện thả thẻ hoặc bảng
         */
        drop_board(board){
            if (board.payload != undefined && board.payload.card_id != undefined) { return false}
            this.boards = this.apply_drag_board(this.boards, board);
            let arr_len = this.boards.length;
            if (this.mode.length) {
                return false;
            }
            for (var i = 0; i < this.boards.length; i++) {
                this.boards[i].position = arr_len-i+1;
                this.update_board_position(this.boards[i]);
            }
            
        },

        /**
         * Cập nhật vị trí của thẻ trong bảng
         */
        update_board_position(board){
            let data = {
                position: board.position,
                note_id: board.note_id
            };
            fetch(window.api_url + "/update-note", {
                method: "post",
                body: JSON.stringify(data),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                return true;
            });
        },

        /**
         * Cập nhật khi thẻ được thả vào bảng
         */
        apply_drag_board(arr, board){
            let { removedIndex, addedIndex, payload } = board;
            if (removedIndex === null && addedIndex === null) return arr;
            let result = [...arr];
            let itemToAdd = payload;
            let result_length = result.length;
            if (removedIndex !== null) {
                itemToAdd = result.splice(removedIndex, 1)[0];
            }
            if (addedIndex !== null) {
                result.splice(addedIndex, 0, itemToAdd);
            }
            return result;
        },

        /**
         * Cho phép thả task vào bảng
         */
        should_accept_drop(sourceContainerOptions, payload){
            // return false;
            if(payload == undefined)
                return sourceContainerOptions.groupName == "col";
            else
                return false;
        },

        /**
         * Kiểm tra url có chứa id của nhóm hay slug của task hay không
         */
        set_group_by_url(){
            let url = window.location.pathname.split('/');
            for (var i = 0; i < url.length; i++) {
                if(url[i] === ""){
                    url.splice(i, 1);
                    i--;
                }
            }
            if (url[0] !== undefined && /[0-9A-Z]{8}/.test(url[0])) {
                this.group = url[0];   
                if (url[1] != undefined) {
                    this.card_slug = url[1];     
                }
            }else{
                document.title = this.trans('template.welcome_text');
                this.group = '';
            }
        },

        do_filter_again(task){
            for (let index = 0; index < this.temp_data.length; index++) {
                if (this.temp_data[index].note_id == task.note_id) {
                    let found = 0;
                    for (let j = 0; j < this.temp_data[index].cards.length; j++) {
                        if (this.temp_data[index].cards[j].card_id == task.card_id) {
                            this.temp_data[index].cards[j] = task;
                            found = 1;
                            break;
                        } 
                    } 
                    if (!found) {
                        this.temp_data[index].cards.reverse();
                        this.temp_data[index].cards.push(task);
                        this.temp_data[index].cards.reverse();
                    }
                }
            }
            this.do_filter(this.current_filter);
        },

        /**
         * Lọc các task theo filter
         */
        do_filter(_filter){
            this.mode = '';
            this.boards = JSON.parse(JSON.stringify(this.temp_data));
            let date = new Date();
            let current_date = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            // Lọc theo budget trước để map lại các bảng
            let checked_filter2 = _filter.groups.filter(e => e.check);
            if (checked_filter2.length > 0) {
                this.current_filter = _filter;
                this.mode = 'filter_bucket';
                var vm = this;
                var all_cards = [];
                for (var i = 0; i < this.temp_data.length; i++) {
                    all_cards = all_cards.concat(this.temp_data[i].cards);
                }
                if (checked_filter2[0].val !== 'timeline') {
                    this.boards = [];
                    if (this.show_mode == 'timeline') {
                        this.show_mode = this.pre_show_mode;
                    }
                    if (this.show_mode == 'charts') {
                        this.show_mode = 'notes';
                    }
                    // Nhóm theo bộ chứa
                    if (checked_filter2[0].val == 'container') {
                        this.mode = '';
                        this.boards = JSON.parse(JSON.stringify(this.temp_data));
                    }

                    // Nhóm theo user được giao việc
                    else if (checked_filter2[0].val == 'user_asigned') {
                        let temp_de_boards = [];
                        if (!this.users_in_group.length) {
                            temp_de_boards.push({
                                title: this.current_user.fullname,
                                type: "user_asigned",
                                uid: this.current_user.uid,
                                cards: all_cards
                            });
                        }else{
                            for (let index = 0; index < this.users_in_group.length; index++) {
                                let user = this.users_in_group[index];
                                temp_de_boards.push({
                                    title: user.fullname,
                                    type: "user_asigned",
                                    uid: user.uid,
                                    cards: all_cards.filter(card => {
                                        return card.members.filter(mem => {
                                            return mem.fullname == user.fullname;
                                        }).length;
                                    })
                                });
                            }
                        }
                        this.boards = JSON.parse(JSON.stringify(temp_de_boards));
                    }
                    // Nhóm theo ngày đến hạn
                    else if (checked_filter2[0].val == 'deadline') {
                        var deadline_board = [{
                            cards:[],
                            title:'Hôm nay',
                            slug:'Hôm nay',
                            type: 'deadline'
                        }];
                        var today = new Date();
                        var d = today.getDate();
                        var m = today.getMonth()+1;
                        var y = today.getFullYear();
                        var today_to_string = y+'-'+m+'-'+d;
                        for (var i = 0; i < all_cards.length; i++) {
                            var _date = new Date(all_cards[i].expiry_date);
                            var d_date = _date.getDate();
                            var m_date = _date.getMonth()+1;
                            var y_date = _date.getFullYear();
                            var expiry_date = y_date+'-'+m_date+'-'+d_date;
                            if (expiry_date == today_to_string) {
                                deadline_board[0].cards.push(all_cards[i]);
                            }
                        }
                        this.boards = JSON.parse(JSON.stringify(deadline_board));
                    }
                    // Nhóm theo tiến độ công việc
                    else if (checked_filter2[0].val == 'progress') {
                        var progress_boards = [
                            {
                                title: this.trans('template.task_status_not_start'),
                                slug: this.trans('template.task_status_not_start'),
                                status:0,
                                type: 'progress',
                                class: "ms-Icon ms-Icon--CircleRing status-icon",
                                cards:[]
                            },
                            {
                                title: this.trans('template.task_status_working'),
                                slug: this.trans('template.task_status_working'),
                                status:1,
                                type: 'progress',
                                class: "ms-Icon ms-Icon--CircleHalfFull status-icon",
                                cards:[]
                            },
                            {
                                title: this.trans('template.task_status_done'),
                                slug: this.trans('template.task_status_done'),
                                status:2,
                                type: 'progress',
                                class: "ms-Icon ms-Icon--Accept status-icon",
                                cards:[]
                            }
                        ]
                        
                        for (var i = 0; i < progress_boards.length; i++) {
                            for (var j = 0; j < all_cards.length; j++) {
                                // So sánh trạng thái của thẻ
                                if (progress_boards[i].status === all_cards[j].status) {
                                    progress_boards[i].cards.push(all_cards[j]);
                                }
                            }
                        }
                        this.boards = JSON.parse(JSON.stringify(progress_boards));
                    }
                    // Nhóm theo nhãn dán công việc
                    else if (checked_filter2[0].val == 'labels'){
                        // Lọc theo nhãn
                        var labels_boards = [
                            {
                                title: this.trans('template.filter_no_label'),
                                cards: [],
                                type: 'labels',
                                class: "",
                                val: 'no_label'
                            },
                            {
                                title: this.trans('template.filter_label_no') + " 1",
                                cards: [],
                                type: 'labels',
                                class: "task-rule-button rule-"+"1",
                                val: 'label_1'
                            },
                            {
                                title: this.trans('template.filter_label_no') + " 2",
                                cards: [],
                                type: 'labels',
                                class: "task-rule-button rule-"+"2",
                                val: 'label_2'
                            },
                            {
                                title: this.trans('template.filter_label_no') + " 3",
                                cards: [],
                                type: 'labels',
                                class: "task-rule-button rule-"+"3",
                                val: 'label_3'
                            },
                            {
                                title: this.trans('template.filter_label_no') + " 4",
                                cards: [],
                                type: 'labels',
                                class: "task-rule-button rule-"+"4",
                                val: 'label_4'
                            },
                            {
                                title: this.trans('template.filter_label_no') + " 5",
                                cards: [],
                                type: 'labels',
                                class: "task-rule-button rule-"+"5",
                                val: 'label_5'
                            },
                            {
                                title: this.trans('template.filter_label_no') + " 6",
                                cards: [],
                                type: 'labels',
                                class: "task-rule-button rule-"+"6",
                                val: 'label_6'
                            }
                        ];
                        for (var j = 0; j < all_cards.length; j++) {
                            // Lấy danh sách các nhãn đã gán cho thẻ
                            let task_labels = all_cards[j].labels.map(e => { return {
                                pos: e.label_pos,
                                check: e.check 
                            }});
                            let had_checked_labels = task_labels.filter(e => e.check);
                            // Gán thẻ tương ứng vào từng bảng
                            if (had_checked_labels.length == 0) {
                                labels_boards[0].cards.push(all_cards[j]);
                            }else{
                                for (let i = 0; i < task_labels.length; i++) {
                                    if(task_labels[i].check){
                                        labels_boards[i+1].cards.push(all_cards[j]);
                                    }
                                }
                            }
                        }
                        this.boards = JSON.parse(JSON.stringify(labels_boards));
                    }
                    else if (checked_filter2[0].val == 'repeat_task') {
                        if (this.show_mode != 'notes') {
                            this.set_show_mode('notes');
                        }
                        var repeat_task_board = [
                            {
                                val: 1,
                                title: this.trans('template.monday'),
                                slug: "monday",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 2,
                                title: this.trans('template.tuesday'),
                                slug: "tuesday",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 3,
                                title: this.trans('template.wednesday'),
                                slug: "wednesday",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 4,
                                title: this.trans('template.thursday'),
                                slug: "thursday",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 5,
                                title: this.trans('template.friday'),
                                slug: "friday",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 6,
                                title: this.trans('template.saturday'),
                                slug: "saturday",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 7,
                                title: this.trans('template.sunday'),
                                slug: "sunday",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 8,
                                title: this.trans('template.every_week'),
                                slug: "every_week",
                                type: "repeat_task",
                                cards: []
                            },
                            {
                                val: 9,
                                title: this.trans('template.every_month'),
                                slug: "every_month",
                                type: "repeat_task",
                                cards: []
                            } 
                        ];
                        
                        for (var i = 0; i < repeat_task_board.length; i++) {
                            for (var j = 0; j < all_cards.length; j++) {
                                if (all_cards[j].schedule.indexOf(repeat_task_board[i].val) > -1) {
                                    repeat_task_board[i].cards.push(all_cards[j]);
                                }
                            }
                        }
                        this.boards = JSON.parse(JSON.stringify(repeat_task_board));
                    }
                }
                
            }

            // Lọc thông tin của từng bảng theo bộ lọc
            if (this.is_empty_filter(_filter)) {
                return false;
            }
            this.mode = 'filter';
            this.current_filter = _filter;
            for (var i = 0; i < this.boards.length; i++) {
                if (!this.boards[i].cards.length) {continue;}
                let _this = this;
                this.boards[i].cards = this.boards[i].cards.filter(task => {
                    // Chứa từ khóa
                    let key = this.remove_latin_accent(_filter.keyword.trim());
                    if (
                        key.length && 
                        (
                            task.card_title.toLowerCase().indexOf(key) > -1 ||
                            this.remove_latin_accent(task.card_title.toLowerCase()).indexOf(key) > -1
                        )
                    ) {
                        return true;
                    }
                    let checked_date = _filter.date.filter(e => e.check);
                    if (checked_date.length) {
                        checked_date = checked_date.map(e => e.val);
                        
                        // Không có hạn
                        if (checked_date.indexOf("notime") > -1) {
                            if (task.expiry_date == null) {
                                return true;
                            }
                        }
                        
                        let expiry_date = task.expiry_date.split(" ")[0].split("-");
                        expiry_date = new Date(expiry_date[0], parseInt(expiry_date[1]) - 1, expiry_date[2]);
                        let date_range = current_date.getTime() - expiry_date.getTime();

                        // Quá hạn
                        if (checked_date.indexOf('overtime') > -1 && task.status == 2) {
                            if (date_range > 0) {
                                return true;
                            }
                        }

                        // Hôm nay
                        if (checked_date.indexOf("today") > -1) {
                            if (date_range == 0) {
                                return true;
                            }
                        }

                        // Trong tuần này
                        if (checked_date.indexOf("thisweek") > -1) {
                            let first_date_of_this_week = current_date.getDate() - current_date.getDay();
                            let last_date_of_this_week = first_date_of_this_week + 6;
                            if (expiry_date.getDate() >= first_date_of_this_week && expiry_date.getDate() <= last_date_of_this_week) {
                                return true;
                            }
                        }

                        // Trong tuần sau
                        if (checked_date.indexOf("nextweek") > -1) {
                            let first_date_of_next_week = current_date.getDate() - current_date.getDay() + 6;
                            let last_date_of_next_week = first_date_of_next_week + 6;
                            if (expiry_date.getDate() >= first_date_of_next_week && expiry_date.getDate() <= last_date_of_next_week) {
                                return true;
                            }
                        }
                    }

                    // Lọc theo nhãn
                    let check_label = _filter.labels.filter(e => e.check);
                    if (check_label.length) {
                        check_label = check_label.map(e => {return e.val});
                        let task_labels = task.labels.map(e => { return {
                            pos: e.label_pos,
                            check: e.check 
                        }});
                        if (check_label.indexOf('no_label') > -1) {
                            if (!task_labels.filter(e => {return e.check == 1;}).length) {
                                return true;
                            }
                        }
                        if(check_label.indexOf('label_1') > -1){
                            if (task_labels.filter(e => e.pos == 1 && e.check ==1).length) {
                                return true;
                            }
                        }
                        if(check_label.indexOf('label_2') > -1){
                            if (task_labels.filter(e => e.pos == 2 && e.check ==1).length) {
                                return true;
                            }
                        }
                        if(check_label.indexOf('label_3') > -1){
                            if (task_labels.filter(e => e.pos == 3 && e.check ==1).length) {
                                return true;
                            }
                        }
                        if(check_label.indexOf('label_4') > -1){
                            if (task_labels.filter(e => e.pos == 4 && e.check ==1).length) {
                                return true;
                            }
                        }
                        if(check_label.indexOf('label_5') > -1){
                            if (task_labels.filter(e => e.pos == 5 && e.check ==1).length) {
                                return true;
                            }
                        }
                        if(check_label.indexOf('label_6') > -1){
                            if (task_labels.filter(e => e.pos == 6 && e.check ==1).length) {
                                return true;
                            }
                        }
                    }
                    let check_users = _filter.users.filter(e => e.check);
                    if (check_users.length) {
                        check_users = check_users.map(e => e.uid);
                        if (check_users.indexOf(0) > -1 && task.members.length == 1) {
                            return true;
                        }
                        for (var i = 0; i < task.members.length; i++) {
                            if (check_users.indexOf(task.members[i].uid) > -1) {
                                return true;
                            }
                        }
                    }
                    return false;
                });
            }
        },
        is_empty_filter(filter){
            if (filter.keyword !== undefined && filter.keyword.length) {
                return false;
            }
            if (filter.date !== undefined) {
                let checked_date = filter.date.filter(e => { return e.check});
                if (checked_date.length) {
                    return false;
                }
            }
            if (filter.labels !== undefined) {
                let check_label = filter.labels.filter(e => e.check);
                if (check_label.length) {
                    return false;
                }
            }
            if (filter.users !== undefined) {
                let check_users = filter.users.filter(e => e.check);
                if (check_users.length) {
                    return false;
                }
            }
            return true;
        }, 
        update_label(task){
            for (var i = 0; i < this.temp_data.length; i++) {
                if (this.temp_data[i].note_id == task.note_id) {
                    for (var j = 0; j < this.temp_data[i].cards.length; j++) {
                        if (this.temp_data[i].cards[j].card_id == task.card_id) {
                            this.temp_data[i].cards[j].labels = task.labels;
                            break;
                        }
                    }
                    break;
                }
            }
            this.do_filter_again(task);
        },
        add_users(user){
            this.users.push(user);
        },
        remove_users(user){
            for (var i = 0; i < this.users.length; i++) {
                if (this.users[i].uid == user.uid) {
                    this.users.splice(i, 1);
                    break;
                }
            }
        }
    },
    components: {
        symperLoader: loader,
        singleBoard: singleBoard,
        boardDetail: modal,
        symperNavbar: navbar,
        Container, 
        Draggable,
        chart, gantt,
        timeLine: Timeline
    },
    created: function() {
        this.get_all_board();
        this.get_users();
        this.get_users_in_group();
        let _this = this;
        setTimeout(function(){
            for (var i = 0; i < _this.groups.length; i++) {
                if (_this.groups[i].Id === _this.group) {
                    _this.selected_group = _this.groups[i];
                    break;
                }
            }
        }, 1000);
    },
    props: {
        group: {
            type: String,
            default: ''
        },
        card_slug: {
            type: String,
            default: ''
        },
        groups: {
            type: Array,
            default: []
        },
        hidden_board_all_done: {
            type: Boolean
        }
    },
    watch: {
        group: function(val){
            this.show_loading = true;
            this.boards = [];
            this.temp_data = [];
            this.get_all_board();
            this.get_users_in_group();
        },
        card_slug: function(val){
            this.check_card_slug();
        }
    },
};
</script>