<template>
	<div class="symper-editor clearfix">
		<div contenteditable="true" :id="'editor-content-' + cur_cmt_id" class="form-control symper-editor-main" 
			:class="{'comment': mode == 'comment', 'reply': mode == 'reply'}"
			:placeholder="placeholder" 
			@keyup="get_suggestion($event)"
			@keypress.enter="send_comment($event)"
			@paste="paste_handle" 
			rows="3">
		</div>
		<!-- Suggestion Users -->
		<div class="suggestion-users">
			<div class="symper-task-member" 
				v-for="(user, index) in suggest_members" 
				:key="'result-'+user.uid" 
				@click.stop="insert_user_into_comment(user)" 
				:title="user.fullname" 
				>
				<div class="symper-member-avatar" v-bind:style="{ background: random_colors[index%5] }">
					<img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
					<span v-if="!user.avatar.length">
						{{get_user_avatar_name(user.fullname)}}
					</span>
				</div>
				<div class="symper-member-name">
					<a href="javascript:void(0);">
						<span>{{user.fullname}}</span>
					</a>
				</div>
			</div>
		</div>

		<!-- Select file -->
		<input type="file" ref="file" @change="handle_file_change" class="hidden" :id="'attachment-for-'+ cur_cmt_id">
		<label :for="'attachment-for-'+ cur_cmt_id" :title="trans('template.attachement_button')">
			<i class="ms-Icon ms-Icon--Attach"></i>
		</label>
		<div class="col-xs-6 col-sm-4 col-md-3 row pull-left" v-if="has_file">
			<!-- File not image -->
			<div class="symper-single-file" 
				:file-name="file.file_name" 
				v-if="!is_image(file.file_type)"
				 >
				<i :class="'flaticon flaticon-'+get_file_type(file.file_type)+''"></i>
				<p class="symper-file-name">
					{{file.file_name}}
				</p>
				<p class="symper-file-size">
					{{get_file_size(file.file_size)}}
				</p>
				<i class="ms-Icon ms-Icon--CalculatorMultiply" 
					:title="trans('template.remove_file')"
					@click="remove_file">
				</i>
				
			</div>

			<!-- Images -->
			<div class="symper-single-file image-preview"
				:file-name="file.file_name" 
				v-if="is_image(file.file_type)">
				<img :src="file_src" :alt="file.file_src">
				<div class="symper-image-action">
					<button :title="trans('template.remove_file')">
						<i class="ms-Icon ms-Icon--CalculatorMultiply" @click="remove_file"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="sass" scoped="">
	@import "./editor.scss";
</style>

<script>
export default {
    props: {
        users_in_group: {
        	type: Array,
        	default: []
        },
        random_colors: {
        	type: Array,
        	default: []
        },
        cur_cmt_id: {
        	type: String
        },
        placeholder: {
        	type: String
        },
        mode: {
        	type: String
        }
    },
    data(){
        return {
            suggest_members: [],
            caret_pos: 0,
            has_file: false,
            file: {
            	file_type: '',
            	file_size: 0,
            	file_name: '',
            },
        	file_src: '',
        };
    },
    created(){
        
    },
    methods: {
    	remove_file(){
    		this.file = {
    			file_type: '',
            	file_size: 0,
            	file_name: ''
    		};
    		this.file_src = '';
    		this.has_file = false;
    		document.getElementById('attachment-for-'+ this.cur_cmt_id).value = '';
    	},
    	is_image(type){
			return ['bmp', 'gif', 'ico', 'jpeg', 'jpg', 'png', 'tif', 'tiff', 'webp', 'jfif'].indexOf(type.toLowerCase()) > -1;
		},
		get_file_type(type){
			type = type.toLowerCase();
			if (['jfif'].indexOf(type) > -1) return 'jpg';
			if (['scss', 'sass', 'less'].indexOf(type) > -1) return 'css';
			if (['json', 'md', 'woff', 'eot', 'xd'].indexOf(type) > -1) return 'object';
			return type;
		},
		get_file_size(size){
			let kb_size = size/1024;
			if (kb_size/1024 > 1) {
				return (kb_size/1024).toFixed(1) + ' MB';
			}
			return kb_size.toFixed(1) + ' KB';
		},
    	handle_file_change(){
    		this.has_file = true;
    		let _file = this.$refs.file.files[0];
    		this.file = {
    			file_type: _file.name.split('.').reverse()[0],
    			file_size: _file.size,
    			file_name: _file.name,
    		}
    		if (this.is_image(_file.name.split('.').reverse()[0])) {
	    		let reader = new FileReader();
			    reader.addEventListener("load", function () {
			      	this.file_src = reader.result;
			    }.bind(this), false);
			    reader.readAsDataURL(_file);
    		}
    	},
        paste_handle(e){
		    // cancel paste
		    e.preventDefault();
		    // get text representation of clipboard
		    var text = (e.originalEvent || e).clipboardData.getData('text/plain');
		    // insert text manually
		    document.execCommand("insertHTML", false, text);
		},
		insert_user_into_comment(user){
			let text = document.getElementById('editor-content-'+this.cur_cmt_id);
			this.caret_pos = this.get_caret_pos(text);
			let key = this.get_word_before_caret(text.innerHTML, this.get_caret_pos(text));
		    if (key != null && key.length && key[0] == "@") {
		    	text.focus();
				let range = document.createRange();
				let sel = window.getSelection();
				sel.modify("extend", "backward", "word");
				range = sel.getRangeAt(0);
				range.deleteContents();
				let el = document.createElement("div");
                el.innerHTML = user.email;
                let frag = document.createDocumentFragment(), node;
                while (node = el.firstChild) {
                    frag.appendChild(node);
                }
                range.insertNode(frag);
                range.collapse();
		    	this.suggest_members = [];
		    }
		},
		get_user_avatar_name(name){
			if (!name.length) { return '';}
            name = name.split(' ');
            if (name.length > 1) {
                return name[0][0] + name[1][0];
            }
            return name[0][0];
		},
		get_word_before_caret(text, caretPos) {
		    var index = text.indexOf(caretPos + 1);
		    var preText = text.substring(0, caretPos);
		    if (preText.indexOf(" ") > 0) {
		    	if (preText.charAt(preText.length-1) == 160) {
		    		return null;
		    	}
		        var words = preText.split(" ");
		        return words[words.length - 1];
		    }
		    else {
		        return preText;
		    }
		},
		get_caret_pos(editableDiv) {
		    var caretPos = 0,
			    sel, range;
			if (window.getSelection) {
			    sel = window.getSelection();
			    if (sel.rangeCount) {
			      range = sel.getRangeAt(0);
			      if (range.commonAncestorContainer.parentNode == editableDiv) {
			        caretPos = range.endOffset;
			      }
			    }
			} else if (document.selection && document.selection.createRange) {
			    range = document.selection.createRange();
			    if (range.parentElement() == editableDiv) {
			      	var tempEl = document.createElement("span");
			      	editableDiv.insertBefore(tempEl, editableDiv.firstChild);
			     	var tempRange = range.duplicate();
			      	tempRange.moveToElementText(tempEl);
			      	tempRange.setEndPoint("EndToEnd", range);
			      	caretPos = tempRange.text.length;
			    }
			}
			return caretPos;
		},
		get_suggestion(event){
			if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
			    var sel, range, br;
			    if (typeof window.getSelection != "undefined") {
		            sel = window.getSelection();
		            if (sel.getRangeAt && sel.rangeCount) {
		                range = sel.getRangeAt(0);
		                range.deleteContents();
		                br = document.createElement("br");
		                range.insertNode(br);
		                range.setEndAfter(br);
		                range.setStartAfter(br);
		                sel.removeAllRanges();
		                sel.addRange(range);
		            }
		        } else if (typeof document.selection != "undefined") {
		            sel = document.selection;
		            if (sel.createRange) {
		                range = sel.createRange();
		                range.pasteHTML("<br>");
		                range.select();
		            }
		        }
				return false;
			}
			if ((event.keyCode == 77) && event.ctrlKey) {
				document.execCommand('insertUnorderedList', false);
				return false;
			}
			let _this = this;
			let typingTimer = null;
			clearTimeout(typingTimer);
			typingTimer = setTimeout(function(){
				let text = event.target;
			    let key = _this.get_word_before_caret(text.innerHTML, _this.get_caret_pos(text));
			    if (key != null && key.length && key[0] == "@") {
					key = _this.remove_latin_accent(key.substr(1).trim().toLowerCase());
					_this.suggest_members = _this.users_in_group.filter(user => {
						return _this.remove_latin_accent(user.fullname.toLowerCase()).includes(key) || (user.email.toLowerCase().includes(key));
					});
					
			    }else{
			    	_this.suggest_members = [];
			    }
			}, 1000);
		},
		send_comment(e){
			e.preventDefault();
            e.stopPropagation();
			if ((e.keyCode == 10 || e.keyCode == 13) && e.ctrlKey) {
				return false;
			}
			let comment_content = e.target.innerHTML.trim();
			if(!comment_content.length){
				alert(this.trans("template.empty_comment_alert"));
				return;
			}
			this.$emit('send_comment', {
				event: e,
				file: this.$refs.file.files[0]
			});
			e.target.innerHTML = '';
			this.file = {
    			file_type: '',
            	file_size: 0,
            	file_name: ''
    		};
    		document.getElementById('attachment-for-'+ this.cur_cmt_id).value = '';
    		this.file_src = '';
    		this.has_file = false;
		}
    },
    watch: {
        
    }
};
</script>