.symper-editor {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    .symper-editor-main {
        height: 120px;
        overflow-x: hidden;
        overflow-y: auto;
        outline: none;
        width: 100%;
        display: block;
        float: left;
        padding: 10px;
        &:empty:before{
            content: attr(placeholder);
            color: #ccc;
            white-space: pre-wrap;
        }
        &:focus:before{
            content: '';
        }
        &:not(:focus){
            background-color: transparent !important;
            padding: 0;
        }
        &:empty{
            background-color: #edeff2 !important;
            padding: 10px;
        }
        &.comment:not(:focus){
            background-color: #edeff2 !important;
            padding: 10px;
        }
        &.reply{
            height: 70px;
            &:not(:focus){
                background-color: #edeff2 !important;
                padding: 10px;
            }
        }
    }
    .suggestion-users {
        width: 200px;
        height: auto;
        max-height: 200px;
        background-color: #ddd;
        transition: all 0.3s;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        overflow-y: auto;
        &:not(:empty){
            min-height: 40px;
        }
        .symper-task-member {
            padding: 0;
            &:hover {
                background: #ccc;
            }
            .symper-member-name {
                width: 150px;
                display: inline-block;
                float: right;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    label {
        width: 30px;
        height: 30px;
        display: block;
        float: right;
        line-height: 30px;
        text-align: center;
        background: #efeff2;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 2px;
        cursor: pointer;
    }
    .symper-single-file {
            width: 100%;
            display: inline-block;
            height: 60px;
            border: 1px solid #edeff2;
            padding: 10px;
            padding-left: 50px;
            border-radius: 3px;
            color: #4b5477;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            transition: all 0.2s;
            margin-top: 10px;
            &.image-preview {
                height: 120px !important;
                float: left !important;
                padding: 0px !important;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:before {
                    content: attr(file-name);
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    background: rgba(237, 239, 242, 0.6);
                    height: 100%;
                    padding: 10px;
                    left: 0;
                    border-radius: 3px;
                    display: none;
                    clear: both;
                    font-weight: bold;
                    transition: all 0.2s;
                    text-align: justify;
                }
                &:hover {
                    &:before{
                        display: block;
                        bottom: 0;
                        animation: fade_in 0.3s linear;
                    }
                    .symper-image-action{
                        opacity: 1;
                    }
                }
                .symper-image-action{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 100%;
                    width: 100%;
                    text-align: right;
                    height: 25px;
                    opacity: 0;
                    transition: all 0.3s;
                    button{
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        border: 1px solid #666;
                        background: #666;
                        color: #fff;
                        margin: 0 5px;
                        i{
                            opacity: 1;
                            position: relative;
                        }
                    }
                }
            }
            &:hover {
                i.ms-Icon{
                    opacity: 1;
                    display: block;
                }
                &:before{
                    display: block;
                    bottom: 65px;
                    animation: pop 0.3s linear;
                }
            }
            &:before {
                content: attr(file-name);
                position: absolute;
                bottom: 50px;
                width: auto;
                background: #edeff2;
                height: 40px;
                padding: 10px;
                min-width: 180px;
                left: -10%;
                border-radius: 3px;
                display: none;
                clear: both;
                font-weight: bold;
                transition: all 0.2s;
                text-align: justify;
                height: auto;
            }
            >i{
                &.ms-Icon{
                    position: absolute;
                    top: 2px;
                    right: 5px;
                    opacity: 0;
                    display: none;
                    transition: opacity 0.2s;
                    z-index: +10000;
                    background: #edeff2;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    border-radius: 50%;
                    padding: 5px;
                    cursor: pointer;
                    &:before{
                        position: absolute;
                        left: 52%;
                        top: 50%;
                        display: block;
                        transform: translate(-50%, -50%);
                    }
                    &.ms-Icon--Settings {
                        top: 30px !important;
                    }
                }
                &.flaticon:before {
                    font-size: 35px;
                    margin: 0;
                    position: absolute;
                    top: 5px;
                    left: 10px;
                }
            }
            p.symper-file-name {
                font-weight: bold;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            p.symper-file-size {
                font-size: 85%;
                font-weight: bold;
                opacity: 0.8;
            }
        }
}