<template>
	<div class="detail-img" id="detail-img" :title="trans('template.close_full_image_title')">
		<img :src="img_src" :alt="img_name">
	</div>
</template>


<style lang="sass" scoped="">
	@import "./full-image.scss";
</style>
<script>
export default {
	data(){
		return {
			width : 0,
			height : 0
		};
	},
	created(){
		(function(_this){
			setTimeout(function(){
				_this.close_modal_by_click_outside_of_img();
			}, 1000, false);
		})(this);
	},
	props: {
		img_src: {
			type: String
		},
		img_name: {
			type: String
		}
	},
	methods: {
		close_modal_by_click_outside_of_img(){
			let _this = this;
			document.getElementById('detail-img').addEventListener('click', function(event){
				if (event.target.tagName == "IMG") {
					return;
				}else{
					_this.$emit('close_full_image');
				}
			});
		}
	},
	watch: {
		img_src: function(url){
		    let img = new Image();
		    img.onload = function(){
		    	// return {w: this.width, h: this.height};
		    	// alert(this.width + ' - ' + this.height);
		    };
		    img.src = url;
		}
	}
};
</script>