.detail-img {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: +9999999999999;
    background: rgba(0, 0, 0, 0.6);
    img{
        height: auto;
        width: auto;
        max-height: 100vh;
        max-width: 100%;
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}