<template>
	<!-- Modal sidebar -->
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modal-sidebar-header">
                    <h3 class="modal-title" id="add-new-plan-modalTitle">{{ is_adding_mode ? trans('template.add_plan_title') : trans('template.update_plan_title') }}</h3>
                    <button type="button" class="close" @click.stop="close_modal">
                        <i class="ms-Icon ms-Icon--Clear"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-sidebar-build">
                        <input type="text" placeholder="Tên Kế hoạch" class="build-group" v-model="plan.Name" pattern="[^()/<>[\]\\,'|\x22]+" :title="trans('template.plan_name_not_valid')">
                    </div>
                    <div class="modal-sidebar-build" v-if="!is_adding_mode">
                        <span class="pull-left">{{trans('template.plan_des_title')}}</span>
                        <textarea :placeholder="trans('template.plan_des_placeholder')" v-model="plan.Description"></textarea>
                    </div>
                    <div class="modal-sidebar-security">
                        <p>Quyền riêng tư</p>
                        <div class="modal-sidebar-radio">
                            <div class="modal-sidebar-check">
                                <input type="radio" name="plan-status" value="public" id="radio1" :checked="plan.Status == 1">
                                <label  @click.stop="plan.Status = 1" for="radio1">
                                    {{trans('template.plan_public_status_des')}}
                                </label>
                            </div>
                            <div class="modal-sidebar-check">
                                <input type="radio" name="plan-status" value="private" id="radio2" :checked="plan.Status == 0">
                                <label for="radio2" @click.stop="plan.Status = 0">
                                    {{trans('template.plan_private_status_des')}}
                                </label>
                            </div>
                        </div>
                        <div class="modal-sidebar-option" v-if="is_adding_mode">
                            <div class="toggle-option-btn">
                                <a @click.stop="toggleCollapse">
                                    {{trans('template.plan_option_title')}} <i class="ms-Icon ms-Icon--ChevronDown"></i>
                                </a>
                            </div>
                            <div class="collapse collapseSidebar" :id="'collapseSidebar-'+modalId">
                                <div class="card card-body">
                                    <span class="pull-left">{{trans('template.plan_des_title')}}</span>
                                    <textarea :placeholder="trans('template.plan_des_placeholder')" v-model="plan.Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="form-control sidebar-sbm" v-if='is_adding_mode' @click.stop="add_new_plane">
                        {{trans('template.adding_plan_button')}}
                    </button>
                    <button class="form-control sidebar-sbm" v-if='!is_adding_mode' @click.stop="update_plane">
                        {{trans('template.updating_plan_button')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="sass" scoped>
	@import 'modal_aside.scss'
</style>
<script>
    import swal from 'sweetalert2'
	export default {
		methods: {
            toggleCollapse(){
                document.getElementById('collapseSidebar-'+this.modalId).classList.toggle('in');
            },
            close_modal(){
                document.getElementById(this.modalId).classList.remove('in');
                // Đang chỉnh sửa kế hoạch
                if (!this.is_adding_mode) {
                    // Nếu thay đổi mà chưa cập nhật
                    if (this.temp_plan.Name != this.plan.Name || 
                        this.temp_plan.Status != this.plan.Status || 
                        this.plan.Description != this.temp_plan.Description
                    ) {
                        this.selected_group.Name = this.temp_plan.Name;
                        this.selected_group.Status = this.temp_plan.Status;
                        this.selected_group.Description = this.temp_plan.Description;
                    }
                }
            },
            update_plane(){
                if ( ! this.plan.Name.trim().length ) {                 
                    swal({
                        text: this.trans('template.plan_name_can_not_be_null'),
                        type: 'warning',
                    });
                    return false;
                }
                if(!document.getElementsByClassName('build-group')[0].validity.valid){
                    return false;
                }
                fetch(window.api_url + "/update-plan", {
                    method: "post",
                    body: JSON.stringify(this.plan),
                    headers: { "content-type": "application/json" }
                })
                .then(res => res.json())
                .then(res => {
                    if (!res.status) {
                        swal({
                            text: res.msg,
                            type: 'warning',
                        });
                        return false;
                    }
                    this.$emit('updatePlan', this.plan);
                    this.temp_plan = JSON.parse(JSON.stringify(this.plan))
                    this.close_modal();
                });
            },
            add_new_plane(){
                if ( ! this.plan.Name.trim().length ) {                 
                    swal({
						text: this.trans('template.plan_name_can_not_be_null'),
						type: 'warning',
                    });
                    return false;
                }
                if(!document.getElementsByClassName('build-group')[0].validity.valid){
                    return false;
                }
                fetch(window.api_url + "/add-plan", {
                    method: "post",
                    body: JSON.stringify(this.plan),
                    headers: { "content-type": "application/json" }
                })
                .then(res => res.json())
                .then(res => {
                    if (!res.status) {
                        swal({
                            text: res.msg,
                            type: 'warning',
                        });
                        return false;
                    }
                    this.$emit('addPlan', res.data);
                    this.close_modal();
                    swal({
                        text: this.trans('template.success_to_add_plan'),
                        type: 'success',
                    });
                });
            }
        },
        data: function(){
            return {
                plan: {
                    Name: '',
                    Status: 0,
                    Description: ''
                },
                is_adding_mode: true,
                temp_plan: {
                    Name: '',
                    Status: 0,
                    Description: ''
                }
            };
        },
        props: {
            modalId: {
                type: String
            },
            selected_group: {
                type: Object,
                default: null
            }
        },
        watch: {
            selected_group: function(val){
                if (val != null) {
                    this.is_adding_mode = false;
                    this.plan = val;
                    this.temp_plan = JSON.parse(JSON.stringify(val));
                }
            }
        }
	}
</script>