div#symper-modal-copy-task {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .modal-dialog {
        .modal-body {
            padding: 1em 1em;
        }
        .form-control {
            border-radius: 0;
            background: #f0f0f0;
            font-weight: 600;
        }
        .form-control:active,
        .form-control:focus,
        .form-control:visited {
            outline: 0;
            box-shadow: none !important;
            border-color: #ccc;
        }
        ul {
            list-style: none;
        }
        a {
            color: #666;
        }
        a:hover,
        a:focus,
        a:visited,
        a:active {
            color: #666;
            text-decoration: none;
        }
        .row{
            margin-left: -7.5px;
            margin-right: -7.5px;
            .col{
                padding-left: 7.5px;
                padding-right: 7.5px;
                input[type="checkbox"]{
                    display: none;
                    &:checked~.symper-single-file{
                        border: 3px solid #6cc34e;
                    }
                }
            }
        }
        .symper-single-file {
            width: 100%;
            display: inline-block;
            height: 60px;
            border: 1px solid #edeff2;
            padding: 10px;
            padding-left: 50px;
            border-radius: 3px;
            color: #4b5477;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            transition: all 0.3s;
            &.image-preview {
                height: 60px !important;
                float: left !important;
                padding: 0px !important;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
                &:before {
                    content: attr(file-name);
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    background: rgba(237, 239, 242, 0.6);
                    height: 100%;
                    padding: 10px;
                    left: 0;
                    border-radius: 3px;
                    display: none;
                    clear: both;
                    font-weight: bold;
                    transition: all 0.2s;
                    text-align: justify;
                }
            }
            &:hover {
                i.ms-Icon{
                    opacity: 1;
                    display: block;
                }
                &:before{
                    display: block;
                    bottom: 65px;
                    animation: pop 0.3s linear;
                }
            }
            &:before {
                content: attr(file-name);
                position: absolute;
                bottom: 50px;
                width: auto;
                background: #edeff2;
                height: 40px;
                padding: 10px;
                min-width: 180px;
                left: -10%;
                border-radius: 3px;
                display: none;
                clear: both;
                font-weight: bold;
                transition: all 0.2s;
                text-align: justify;
                height: auto;
            }
            >i{
                &.ms-Icon{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    opacity: 0;
                    display: none;
                    transition: opacity 0.2s;
                    z-index: +10000;
                    background: #edeff2;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    border-radius: 50%;
                    padding: 5px;
                    cursor: pointer;
                    &:before{
                        position: absolute;
                        left: 52%;
                        top: 50%;
                        display: block;
                        transform: translate(-50%, -50%);
                    }
                }
                &.flaticon:before {
                    font-size: 35px;
                    margin: 0;
                    position: absolute;
                    top: 5px;
                    left: 10px;
                }
            }
            p.symper-file-name {
                font-weight: bold;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            p.symper-file-size {
                font-size: 85%;
                font-weight: bold;
                opacity: 0.8;
            }
        }

    }

    .copy-check-item {
        margin-top: 1em;
    }

    .copy-check-item label.check-item {
        font-size: 14px;
        font-weight: 400;
    }
}

.check-item {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked~.checkmark {
            background-color: #2196F3;
        }
        &:checked~.checkmark:after {
            display: block;
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 8px;
            top: 0;
            width: 6px;
            height: 14px;
            border: solid white;
            border-width: 0 1px 1px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover input~.checkmark {
        background-color: #ccc;
    }
}

.button-copy-task {
    border-radius: 0;
}

.select-task-item {
    background: #eee;
    padding: 0 10px;
    position: relative;
}

.select-task-item-copy {
    display: none;
    ul {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 33px;
        background: #fff;
        left: 0;
        z-index: +999;
        width: 100%;
        border: 1px solid #ccc;
        >li {
            padding: 8px;
            &:hover {
                background: #f5f5fa;
            }
        }
    }
}

.select-task-name {
    cursor: pointer;
}

.select-task-item {
    label {
        width: 24em;
        >i.pull-right {
            margin-left: 20em;
        }
    }
    input#check-toggle {
        display: none;
        &:checked~div.select-task-item-copy {
            display: block;
        }
    }
}