<template>
    <div class="modal" id="card-detail-model">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-xs-10">
										<div class="form-group">
											<input type="text" v-model="task.card_title" @change="update_task('card_title')" class="form-control input-name">
										</div>
									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<div class="nav navbar-nav navbar-right">
											<i class="ms-Icon ms-Icon--Running" 
												style="margin-left: 20px; font-size: 115%;" 
												:title="trans('template.set_task_urgent')" 
												v-if="task.is_urgent"></i>
											<button class="btn btn-secondary modal-header-button" @click="hide_modal()">
												<i class="ms-Icon ms-Icon--CalculatorMultiply"></i>
											</button>
										</div>
										<div class="dropdown nav navbar-nav navbar-right modal-header-icon">
											<a 
												href="javascript:void(0);" 
												class="dropdown-toggle" 
												data-toggle="dropdown"
												>
											<i class="ms-Icon ms-Icon--More"></i>
											</a>
											<div class="dropdown-menu modal-header-main" style="width: 200px; margin-top: -70px;">
												<div class="modal-drop-body">
													<div class="modal-drop-item">
														<a href="javascript:void(0);" @click="copy_link_to_clipboard()">
															{{trans('template.copy_link_task')}}
														</a>
													</div>
													<div class="modal-drop-item">
														<a href="javascript:void(0);" @click="toggle_copy_task_segment()">
															{{trans('template.copy_task')}}
														</a>
													</div>
													<div class="modal-drop-item" v-if="can_do_action">
														<a href="javascript:void(0);" @click="remove_task()">
															{{trans('template.remove_card')}}
														</a>
													</div>
													<div class="modal-drop-item" v-if="can_do_action">
														<a href="javascript:void(0)" @click.stop="update_task('is_urgent')">
			                                                {{ !task.is_urgent ? trans('template.set_task_urgent') : trans('template.set_task_normal') }}
			                                            </a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Tìm và giao việc cho thành viên, loại bỏ thành viên -->
								<div class="symper-task-members" v-if="'3ABSFT4B' !== selected_group.Id">
									<label for="symper-asign-member-checkbox">
										<input type="text" 
											class="symper-find-member-input" 
											id="symper-asign-member-checkbox" 
											:placeholder="trans('template.find_member_placeholder')" 
											v-model="keyword" 
											@keyup="find_user()"
										>
										<i class="ms-Icon ms-Icon--AddFriend" :data-title="trans('template.assign')"></i>
										<div class="symper-show-asign-member">
											<div class="symper-task-member" 
												v-for="(user, index) in member_results" 
												:key="'result-'+user.uid" 
												@click="assign_user(user)" 
												:title="user.fullname" 
												>
												<div class="symper-member-avatar" v-bind:style="{ background: random_colors[index%5] }">
													<img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
													<span v-if="!user.avatar.length">
														{{get_user_avatar_name(user.fullname)}}
													</span>
												</div>
												<div class="symper-member-name">
													<a href="javascript:void(0);">
														<span>{{user.fullname}}</span>
													</a>
												</div>
											</div>
											<strong v-if="!member_results.length">{{trans('template.no_user_found')}}</strong>
										</div>
									</label>
									<div class="symper-task-member" 
										v-for="(user, index) in task.members" 
										:key="'member-'+user.uid" 
										>
										<div class="symper-member-avatar" v-bind:style="{ background: random_colors[index%5] }">
											<img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
											<span v-if="!user.avatar.length">
												{{get_user_avatar_name(user.fullname)}}
											</span>
										</div>
										<div class="symper-member-name">
											<a href="javascript:void(0);">
												<span>{{user.fullname}}</span>
											</a>
										</div>
										<i class="ms-Icon ms-Icon--ChromeClose" 
											v-if="can_do_action"
											@click="remove_member(user)"
										></i>
									</div>
								</div>
								<div class="clearfix"></div>
								<datetime class="symper-datepicker theme-symper" 
									format="yyyy-MM-dd HH:mm:ss" 
									input-class="form-control" 
									v-model="date_picker" 
									:auto=true 
									:phrases="date_phrases" 
									@input="update_date($event)">
								</datetime>

								<!-- Status, start date, expiry date -->
								<div class="row modal-row">
									<div class="col-md-4 col-sm-4 col-xs-12 modal-select form-group">
										<label>{{ trans('template.progress_label') }}</label>
										<div class="form-control symper-custom-selector" :class="{'open-selector': is_show_selector}">
											<div v-for="opt in options" :key="'option-'+opt.value"
												v-if="task.status === opt.value || is_show_selector"
												@click="toggle_selector(opt)"
											>
												<span class="ms-Icon " v-bind:style="{color: opt.color}" :class="opt.icon"></span>
										      	{{ opt.label }}
										      	<span class="ms-Icon ms-Icon--Accept pull-right" style="color: #32c165" v-if="task.status === opt.value && is_show_selector"></span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12 form-group">
										<label>{{ trans('template.start_date_label') }}</label>
										<input type="text" class="form-control" 
											v-model="task.start_date" 
											@focus="show_date_picker('start_date', task.start_date)">
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12 form-group">
										<label>{{ trans('template.expire_date_label') }}</label>
										<input type="text" class="form-control" 
											v-model="task.expiry_date" 
											@focus="show_date_picker('expiry_date', task.expiry_date)">
									</div>
								</div>

								<!-- Description -->
								<div class="form-group">
									<label class="pull-left">
										{{ trans('template.task_description_title') }}
									</label>
									<div v-if="can_do_action" class="pull-right">
										<label @click="update_task('show_des')" for="check-outside">
											{{ trans('template.checklist_helper_text') }} 
										</label>
										<input type="checkbox" :checked="task.show_des" class=" hidden check-outside" id="check-outside">
										<label @click="update_task('show_des')" for="check-outside"></label>
									</div>
									
									<div class="symper-editor-content form-control clearfix" 
										:placeholder="trans('template.task_description_placeholder')"
										@blur="update_task('card_des')" @paste="paste_handle" @keyup="get_execute_command($event)"
										contenteditable="true" v-model="task.card_des" v-html="task.card_des">
									</div>
								</div>

								<!-- Checklist -->
								<div class="form-group clearfix row">
									<div class="col-md-12">
										<label class="pull-left">
											{{ trans('template.checklist_title') }} 
										</label>
										<span v-if="can_do_action" class="pull-right">
											<label @click="update_task('show_checklist')" for="check-outside--1">
												{{ trans('template.checklist_helper_text') }} 
											</label>
											<input type="checkbox" :checked="task.show_checklist" class="hidden check-outside" id="check-outside--1">
											<label @click="update_task('show_checklist')" for="check-outside--1"></label>
										</span>
									</div>
									<div class="modal-list-job clearfix col-xs-12" 
										v-for="list in task.todolist" :key="list.todo_list_id">	
										<input type="checkbox" class="hidden" :checked="list.status" :id="'check-todo-list-'+list.todo_list_id">
										<div class="symper-todo-content">
											<label :for="'check-todo-list-'+list.todo_list_id" @click="check_todo_list(list.todo_list_id)" class="symper-check-finish-todo-list"></label>
											<input 
												type="text" v-model="list.content" 
												v-show="can_do_action && show_todo_editing && current_todo_list == list.todo_list_id" 
												@keyup.enter="save_todo_content(list)"
												@change="save_todo_content(list)"
											>
											<span 
												@click="show_edit_todo(list.todo_list_id)" 
												v-show="current_todo_list != list.todo_list_id" 
												:title="list.content"
												>
												{{list.content}}
											</span>
											<button class="symper-remove-todo-list" v-if="can_do_action" @click="remove_todo_list(list)">
												<i class="ms-Icon ms-Icon--Delete"></i>
											</button>
										</div>
									</div>
									<div class="modal-list-add clearfix col-xs-12" v-if="can_do_action">
										<input type="text" id="new-checklist-input" @keydown.enter="add_new_todo_list($event)" class="form-control" :placeholder="trans('template.add_new_task_button')">
									</div>
								</div>
								
								<!-- Attachement -->
								<div class="form-group clearfix row">
									<div class="col-xs-12">
										<label>
											{{ trans('template.attachement_label') }} 
										</label>
										<!-- List attachements -->
										<div class="row" v-show="!show_file_setting">
											<div class="col-xs-6 col-sm-4 col-md-3" v-for="file in task.files" :key="'file-'+ file.file_id">
												<!-- File not image -->
												<div class="symper-single-file" 
													@click="open_download(file.file_id)" 
													:file-name="file.file_name + '.' + file.file_type" 
													 v-if="!is_image(file.file_type)">
													<i :class="'flaticon flaticon-'+get_file_type(file.file_type)+''"></i>
													<p class="symper-file-name">
														{{file.file_name}}
													</p>
													<p class="symper-file-size">
														{{get_file_size(file.file_size)}}
													</p>
													<i class="ms-Icon ms-Icon--CalculatorMultiply" 
														:title="trans('template.remove_file')"
														v-if="can_remove_file(file)" 
														@click="remove_file(file, $event)">
													</i>
													<i class="ms-Icon ms-Icon--Settings" 
														:title="trans('template.setting_file')" 
														v-if="can_remove_file(file)" 
														@click="_show_file_setting(file.file_id, $event)"
														>
													</i>
												</div>

												<!-- Images -->
												<div class="symper-single-file image-preview"
													:file-name="file.file_name + '.' + file.file_type" 
													v-if="is_image(file.file_type)">
													<img :src="'view/'+file.file_id" :alt="file.file_name">
													<div class="symper-image-action">
														<button @click="open_download(file.file_id)" :title="trans('template.download_file')">
															<i class="ms-Icon ms-Icon--Download"></i>
														</button>
														<button @click="view_full(file)" :title="trans('template.view_file')">
															<i class="ms-Icon ms-Icon--FullScreen"></i>
														</button>
														<button v-if="can_remove_file(file)">
															<i class="ms-Icon ms-Icon--Settings" 
																:title="trans('template.setting_file')" 
																@click="_show_file_setting(file.file_id, $event)"
																>
															</i>
														</button>
														<button v-if="can_remove_file(file)" :title="trans('template.remove_file')">
															<i class="ms-Icon ms-Icon--CalculatorMultiply" @click="remove_file(file, $event)"></i>
														</button>
													</div>
												</div>
											</div>
										</div>

										<!-- Upload file -->
										<div class="modal-input-file" v-show="!show_file_setting" v-if="can_do_action">
											<input type="file" name="file" id="symper-upload-file" @change="upload_file($event)" class="inputfile"/>
											<label for="symper-upload-file">{{ trans('template.attachement_button') }}</label>
										</div>

										<!-- Editting file -->
										<div class="symper-file-setting" v-if="show_file_setting">
											<h4>
												<button @click.stop="back_to_list_files()" :title="trans('template.back_to_list_files')">
													<i class="ms-Icon ms-Icon--Back"></i>
												</button>
												<b class="text-uppercase">{{trans('template.setting_file')}}</b>
											</h4>
											<h5><i>{{trans('template.file_setting_helper')}}</i></h5>

											<input type="text" class="form-control" 
												v-model="editing_file_content.file_name" 
												@change="update_file_name()">
											<p>{{trans('template.who_can_see_it')}}</p>
											<div class="row">
												<div class="col-xs-6 col-sm-4 col-md-4" 
													v-if="editing_file_content != null" 
													v-for="(user, index) in editing_file_content.members" 
													:key="'file-member-'+user.uid"
													>
													<div class="symper-task-member">
														<div class="symper-member-avatar" 
															v-bind:style="{ background: random_colors[index%5] }" 
															:title="user.fullname" 
															>
															<img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
															<span v-if="!user.avatar.length">
																{{get_user_avatar_name(user.fullname)}}
															</span>
														</div>
														<div class="symper-member-name">
															<span :title="user.fullname">{{user.fullname}}</span>
															<i class="ms-Icon ms-Icon--Clear" 
																:title="trans('template.click_to_remove') + ' ' + user.fullname" 
																@click.stop="remove_file_member(user)"
																>
															</i>
														</div>
													</div>
												</div>

												<!-- Finding and adding member -->
												<div class="clearfix">
													<div class="col-xs-12">
														<input type="text" 
															class="form-control" id="find-attachement-user" 
															:placeholder="trans('template.find_member_placeholder')" 
															@keyup="find_attachement_user($event)"
														>
														<div class="symper-show-can-access-file-member">
															<div class="symper-task-member" 
																v-for="(user, index) in attachement_user" 
																:key="'can-access-file-member-'+user.uid" 
																@click.stop="select_user(user)"
																:title="user.fullname" 
																>
																<div class="symper-member-avatar" v-bind:style="{ background: random_colors[index%5] }">
																	<img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
																	<span v-if="!user.avatar.length">
																		{{get_user_avatar_name(user.fullname)}}
																	</span>
																</div>
																<div class="symper-member-name">
																	<a href="javascript:void(0);">
																		<span>{{user.fullname}}</span>
																	</a>
																</div>
															</div>
															<strong v-if="!attachement_user.length">{{trans('template.no_user_found')}}</strong>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Discution -->
								<div class="form-group discution-section" style="position: relative;">
									<label :class="{'active': show_comment}" @click.stop="toggle_show_comment(true)">
										{{ trans('template.comment_header') }}
									</label>
									<label :class="{'active': !show_comment}" @click.stop="toggle_show_comment(false)">
										{{ trans('template.activity_header') }}
									</label>
									<transition name="fade">
										<div v-show="show_comment">
											<!-- Comment editor -->
											<editor 
												:users_in_group="users_in_group" 
												:random_colors="random_colors" 
												:cur_cmt_id="'none'" 
												:mode="'comment'" 
												:placeholder="trans('template.add_comment_placeholder')"
												@send_comment="send_comment($event)"
												v-if="can_do_action"
											/>
											<!-- List comment -->
											<div class="modal-body-action">
												<div class="modal-body-content" 
													v-for="comment in task.comments" 
													:key="task.card_id+'-comment-' + comment.comment_id"
													v-if="task.comments != undefined && task.comments.length && comment.comment_id != undefined">
													<div class="symper-member-avatar" v-bind:style="{ background: random_colors[user_comment_id.indexOf(comment.user_id)%5] }">
														<img :src="find_comment_user(comment.user_id).avatar" v-if="find_comment_user(comment.user_id).avatar.length" :alt="find_comment_user(comment.user_id).fullname" class="img-circle img-reponsive">
														<span v-if="!find_comment_user(comment.user_id).avatar.length">
															{{get_user_avatar_name(find_comment_user(comment.user_id).fullname)}}
														</span>
													</div>
													<div class="clearfix sp-cmt-content">
														<div class="clearfix">
															<div class="cmt-content pull-left" v-html="render_comment_html(comment)"></div>
														</div>
														<div class="row" v-if="comment.file !== undefined">
															<div class="col-xs-6 col-sm-6 col-md-5">
																<!-- File not image -->
																<div class="symper-single-file" 
																	@click="open_download(comment.file.file_id)" 
																	:file-name="comment.file.file_name + '.' + comment.file.file_type" 
																	 v-if="!is_image(comment.file.file_type)">
																	<i :class="'flaticon flaticon-'+get_file_type(comment.file.file_type)+''"></i>
																	<p class="symper-file-name">
																		{{comment.file.file_name}}
																	</p>
																	<p class="symper-file-size">
																		{{get_file_size(comment.file.file_size)}}
																	</p>
																</div>

																<!-- Images -->
																<div class="symper-single-file image-preview"
																	:file-name="comment.file.file_name + '.' + comment.file.file_type" 
																	v-if="is_image(comment.file.file_type)">
																	<img :src="'full/'+comment.file.file_id" :alt="comment.file.file_name">
																</div>
															</div>
														</div>
														<div class="clearfix content-actions">
															<span class="sp-cmt-content-action reply-comment" 
																@click.stop="show_reply_form(comment.comment_id)"
																:title="trans('template.reply_comment') + ' ' + find_comment_user(comment.user_id).fullname">
																<small>{{trans('template.reply_comment')}}</small>
															</span>
															<span class="sp-cmt-content-action" :title="get_full_datetime(comment.created_at.date)">
																<small>{{get_datetime(comment.created_at.date)}}</small>
															</span>
														</div>
													</div>

													<!-- List replies comment -->
													<div class="clearfix sp-cmt-replies" v-if="comment.replies.length">
														<div class="modal-body-content" 
															v-for="cmt in comment.replies" 
															:key="task.card_id+'-comment-' + cmt.comment_id"
															v-if="comment.replies != undefined && comment.replies.length && cmt.comment_id != undefined">
															<div class="symper-member-avatar" 
																v-bind:style="{ background: random_colors[user_comment_id.indexOf(cmt.user_id)%5] }">
																<img :src="find_comment_user(cmt.user_id).avatar" v-if="find_comment_user(cmt.user_id).avatar.length" :alt="find_comment_user(cmt.user_id).fullname" class="img-circle img-reponsive">
																<span v-if="!find_comment_user(cmt.user_id).avatar.length">
																	{{get_user_avatar_name(find_comment_user(cmt.user_id).fullname)}}
																</span>
															</div>
															<div class="clearfix sp-cmt-content">
																<div class="clearfix">
																	<div class="cmt-content pull-left" v-html="render_comment_html(cmt)"></div>
																</div>
																<div class="row" v-if="cmt.file !== undefined">
																	<div class="col-xs-6 col-sm-6 col-md-5">
																		<!-- File not image -->
																		<div class="symper-single-file" 
																			@click="open_download(cmt.file.file_id)" 
																			:file-name="cmt.file.file_name + '.' + cmt.file.file_type" 
																			 v-if="!is_image(cmt.file.file_type)">
																			<i :class="'flaticon flaticon-'+get_file_type(cmt.file.file_type)+''"></i>
																			<p class="symper-file-name">
																				{{cmt.file.file_name}}
																			</p>
																			<p class="symper-file-size">
																				{{get_file_size(cmt.file.file_size)}}
																			</p>
																		</div>

																		<!-- Images -->
																		<div class="symper-single-file image-preview"
																			:file-name="cmt.file.file_name + '.' + cmt.file.file_type" 
																			v-if="is_image(cmt.file.file_type)">
																			<img :src="'full/'+cmt.file.file_id" :alt="cmt.file.file_name">
																		</div>
																	</div>
																</div>
																<div class="clearfix content-actions">
																	<span class="sp-cmt-content-action" :title="get_full_datetime(cmt.created_at.date)">
																		<small>{{get_datetime(cmt.created_at.date)}}</small>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="clearfix sp-cmt-reply-editor" v-if="can_do_action && show_reply && cur_cmt_id == comment.comment_id" >
														<editor 
															:users_in_group="users_in_group" 
															:random_colors="random_colors" 
															:cur_cmt_id="comment.comment_id" 
															:placeholder="trans('template.reply_comment') + ' ' + find_comment_user(comment.user_id).fullname"
															:mode="'reply'" 
															@send_comment="$event => reply_comment($event, comment.comment_id)"
															v-if="can_do_action"
														/>
														<button @click.stop="cancel_sent_reply">
															{{trans('template.cancel_copy_btn')}}
														</button>
													</div>
												</div>
											</div>
										</div>
									</transition>

									<!-- Activities -->
									<transition name="fade">
										<div v-show="!show_comment">
											<div class="modal-body-action">
												<div class="modal-body-content" 
													v-for="acti in task.activities" 
													:key="task.card_id+'-activities-' + acti.id">
													<div class="symper-member-avatar" v-bind:style="{ background: random_colors[0] }">
														<span>
															<b></b>{{get_user_avatar_name(acti.fullname)}}
														</span>
													</div>
													<div class="action-info">
														<span><b>{{acti.fullname}}</b></span>
														<span class="action-time pull-right">
															<small>{{get_datetime(acti.created_at.date)}}</small>
														</span>
														<p style="white-space: pre;" v-html="render_acti_content(acti)"></p>
													</div>
												</div>
												<div class="modal-body-content task-created-by" v-if="task.created_by != undefined">
													<div class="symper-member-avatar" v-bind:style="{ background: random_colors[0] }">
														<img :src="find_comment_user(task.created_by).avatar" v-if="find_comment_user(task.created_by).avatar.length" :alt="find_comment_user(task.created_by).fullname" class="img-circle img-reponsive">
														<span v-if="!find_comment_user(task.created_by).avatar.length">
															{{get_user_avatar_name(find_comment_user(task.created_by).fullname)}}
														</span>
													</div>
													<div class="action-info">
														<span><b>{{find_comment_user(task.created_by).fullname}}</b></span>
														<span class="action-time pull-right">
															<small>{{get_datetime(task.created_at)}}</small>
														</span>
														<p>
															{{trans('template.task_created_by')}} <font style="color: #096cb5;">"{{task.card_title}}"</font>
														</p>
													</div>
												</div>
											</div>
										</div>
									</transition>
								</div>
								
								<!-- Copy task -->
								<transition name="fade">
									<modal-copy 
										:task="task" 
										:groups="groups" 
										v-show="is_showing_copy_task" 
										@hideCopyModal="is_showing_copy_task = false;"
										@copyCard="copy_task($event)"
									/>
								</transition>

								<!-- Full image preview -->
								<transition name="fade">
									<full-image 
										:img_src="full_img" 
										:img_name="full_img_name" 
										v-if="full_img" 
										@close_full_image="close_full_image()"
									/>
								</transition>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Rule options position -->
			<div class="rule-option">
				<div class="rule-option-item" v-for="(la, index) in task.labels" :key="'task-rule-key-'+index">
					<input type="text" 
						v-model="la.label_name" 
						@change="update_label(la, 'label_name')" 
						:placeholder="trans('template.filter_label_no') + ' ' + la.label_pos" 
						class="rule-input">
					<input type="checkbox" 
						class="hidden label-check-box" 
						:id="'checkbox-rule-'+la.label_pos" 
						:checked="la.check"
						@input="update_label(la, 'check')">
					<label class="rule-button" :class="'rule-'+la.label_pos" :for="'checkbox-rule-'+la.label_pos">
					</label>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</template>
<style lang="sass" scoped>
	@import 'modal.scss'
</style>

<script>
import ModalCopy from './ModalCopy';
import Editor from './Editor';
import FullImage from './full_image';
import swal from 'sweetalert2';
export default {
	data(){
		return {
			date_picker : '',
			type_of_date: '',
			date_phrases: {
				ok: this.trans('template.datepicker_ok'), 
				cancel: this.trans('template.datepicker_cancel')
			},
			show_todo_editing: false,
			show_comment: true,
			current_todo_list: '',
			keyword: '',
			member_results: [],
			random_colors: [
                '#417542', 
                '#ff7826',
                '#ff2674',
                '#d526ff',
                '#26adff'
            ],
            user_comment_id: [],
            options:[
				{
					label: this.trans('template.task_status_not_start'),
					value: 0,
					icon: 'ms-Icon--CircleRing',
					color: "inherit"
				},
				{
					label: this.trans('template.task_status_working'),
					value: 1,
					icon: 'ms-Icon--CircleHalfFull',
					color: "#7272ce"
				},
				{
					label: this.trans('template.task_status_done'),
					value: 2,
					icon: 'ms-Icon--Accept',
					color: "#32c165"
				}
			],
			is_show_selector: false,
			is_showing_copy_task: false,
			note_to_move_in: '',
			show_error_on_copy_task: false,
			copy_task_error: '',
			can_do_action: false,
			show_file_setting: false,
			editing_file_content: {
				file_id: '',
				file_name: '',
				members: []
			},
			attachement_user: [],
			show_reply: false,
			cur_cmt_id: '',
			full_img: '',
			full_img_name: '',
		};
	},
	created(){
		let _this = this;
		setTimeout(function(){
			if (_this.task.comments) {
				_this.user_comment_id = _this.task.comments.map(cmt => {return cmt.user_id});
			}
		}, 1000);
		this.close_modal_by_click_outside();
	},
	props: {
		task: {
			type: Object,
			default: {
				comments: {
					data: [],
					total: 0
				},
				checkList: [],
				card_title: '',
				card_id: ''
			}
		},
		users: {
			type: Array,
			default: []
		},
		groups: {
			type: Array,
			default: []
		},
		users_in_group: {
			type: Array,
			default: []
		},
		selected_group: {
			type: Object,
			default: {}
		}
	},
	methods: {
		paste_handle(e){
		    // cancel paste
		    e.preventDefault();
		    // get text representation of clipboard
		    let text = (e.originalEvent || e).clipboardData.getData('text/plain');
		    // insert text manually
		    document.execCommand("insertHTML", false, text);
		},
		cancel_sent_reply(){
			this.show_reply = false;
			this.cur_cmt_id = '';
		},
		show_reply_form(comment_id){
			this.show_reply = true;
			this.cur_cmt_id = comment_id;
		},
		add_log(log_data){
			let _date = new Date();
			log_data.created_at = {
				date: _date.getFullYear()+'-'+(_date.getMonth()+1)+'-'+_date.getDate()+' '+_date.getHours()+':'+_date.getMinutes()+':'+_date.getSeconds()
			};
			log_data.user_id = this.current_user.uid;
			log_data.task_id = this.task.card_id;
			log_data.fullname = this.current_user.fullname;
			this.task.activities.unshift(log_data);
		},
		close_full_image(){
			this.full_img = '';
			this.full_img_name = '';
		},
		
		render_acti_content(acti){
			let content = '';
			switch(acti.type) {
				// UPDATE_TITLE
				case 1:
					return this.trans('template.UPDATE_TITLE') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
				// UPDATE_DES
				case 2:
					return this.trans('template.UPDATE_DES');
					break;
				// UPDATE_STATUS
				case 3:
					return this.trans('template.UPDATE_STATUS') + "<font style='color:#096cb5'>" + (acti.content == 0 ? this.trans('template.task_status_not_start') : acti.content == 1 ? this.trans('template.task_status_working') : this.trans('template.task_status_done')) + "</font>";
					break;
				// UPDATE_START_DATE
				case 4:
					return this.trans('template.UPDATE_START_DATE') + "<font style='color:#096cb5'>" + acti.content.split(' ')[0].split('-').reverse().join('-') + "</font>";
					break;
				// UPDATE_EXPIRY_DATE
				case 5:
					return this.trans('template.UPDATE_EXPIRY_DATE') + "<font style='color:#096cb5'>" + acti.content.split(' ')[0].split('-').reverse().join('-') + "</font>";
					break;
				// ADD_TODOLIST
				case 6:
					return this.trans('template.ADD_TODOLIST') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
				// UPDATE_TODOLIST
				case 7:
					return this.trans('template.UPDATE_TODOLIST') + "<font style='color:#096cb5'>" + (isNaN(acti.content) ? acti.content : acti.content ? this.trans('template.done_todolist') : this.trans('template.not_done_todolist')) + "</font>";
					break;
				// REMOVE_TODOLIST
				case 8:
					return this.trans('template.REMOVE_TODOLIST') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
				// ASSIGN_MEMBER
				case 9:
					return this.trans('template.ASSIGN_MEMBER') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
				// REMOVE_MEMBER
				case 10:
					return this.trans('template.REMOVE_MEMBER') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
				// ADD_ATTACHEMENT
				case 11:
					return this.trans('template.ADD_ATTACHEMENT') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
				// REMOVE_ATTACHEMENT
				case 12:
					return this.trans('template.REMOVE_ATTACHEMENT') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
				// SET_URGENT
				case 13:
					return this.trans('template.SET_URGENT');
					break;
				// UPDATE_LABEL
				case 14:
					return this.trans('template.UPDATE_LABEL') + "<font style='color:#096cb5'>" + acti.content + "</font>";
					break;
			}
		},
		toggle_show_comment(val){
			this.show_comment = val;
		},
		copy_task(task){
			this.$emit('copyCard', task);
		},
		reset_data(){
			this.keyword = '';
			this.member_results = [];
			this.user_comment_id = [];
			this.note_to_move_in = '';
			this.copy_task_error = '';
			this.is_show_selector = false;
			this.show_reply = false;
			this.cur_cmt_id = '';
			this.full_img = '';
			this.full_img_name = '';
			this.can_do_action = false;
			this.show_comment = true;
			this.is_showing_copy_task = false;
			this.show_error_on_copy_task = false;
			this.show_file_setting = false;
			this.editing_file_content = {
				file_id: '',
				file_name: '',
				members: []
			};
			this.attachement_user = [];
			if (document.getElementById('comment-content')) {
				document.getElementById('comment-content').value = '';
				document.getElementById('new-checklist-input').value = '';
			}
		},
		remove_task(){
			if (!this.can_do_action) {
				return;
			}
			swal({
                title: this.trans('template.are_you_sure_to_remove_card'),
                text: this.trans("template.delete_card_explain_text"),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
                    fetch(window.api_url + "/delete-card/"+this.task.card_id)
                    .then(res => res.json())
                    .then(res => {
                        if (!res.status) {
                            swal({
                                text: res.msg,
                                type: 'warning',
                            });
                            return false;
                        }
                        swal({
                            title: this.trans("template.delete_card_successful"),
                            type: 'success'
                        });
                        this.$emit('deleteCard', this.task);
                        this.hide_modal();
                    });
                }
            });
		},
		close_modal_by_click_outside(){
			let _this = this;
			document.addEventListener("click", function(event) {
                // Does not close modal on clicking on modal copy
                if (event.target.closest(".modal-dialog")) {
                    return
                };
                // Does not close modal on clicking on swal alert
                if (event.target.closest(".swal2-container")) {
                    return
                };
                // Does not close modal on clicking on full image
                if (event.target.closest(".detail-img")) {
                	return;
                }
                if (event.target.closest(".swal2-container")) {
                    return
                };
                _this.hide_modal();
			});
			document.body.addEventListener('keyup', function(e){
				if(e.key == "Escape" || e.key == "Esc" || e.keyCode == 27){
					if (_this.is_showing_copy_task) {
						_this.is_showing_copy_task = false;
					}else{
						if (document.getElementsByClassName('swal2-container').length) {
							return;
						}
						if (document.getElementsByClassName('detail-img').length) {
							_this.close_full_image();
							return;
						}
						_this.hide_modal();
					}
				}
			});
		},
		update_label(label, field){
			if (!this.can_do_action) {
				return;
			}
			if (field == 'check') {
				label.check = label.check ? 0 : 1;
			}
			fetch(window.api_url + "/update-label", {
                method: "post",
                body: JSON.stringify({
                	card_id: this.task.card_id,
                	label_id: label.label_id,
                	val : (field == 'check' ? label.check : label.label_name),
                	field: field,
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				for (let i = 0; i < this.task.labels.length; i++) {
					if(this.task.labels[i].label_id == label.label_id){
						this.task.labels[i] = label;
						break;
					}
				}
				
				this.add_log({
					type: 14,
					content: (field == 'check' ? label.check : label.label_name),
					id: res.acti_id
				});
				this.$emit('updateLabel', this.task);
            });
		},
		toggle_copy_task_segment(){
			this.is_showing_copy_task = !this.is_showing_copy_task;
		},
		copy_link_to_clipboard(){
			let tempInput = document.createElement("input");
		    tempInput.style = "position: absolute; left: -1000px; top: -1000px";
		    tempInput.value = window.location.origin+'/'+this.selected_group.Id+'/'+this.task.card_slug;
		    document.body.appendChild(tempInput);
		    tempInput.select();
		    document.execCommand("copy");
		    document.body.removeChild(tempInput);
		    swal({
				text: this.trans('template.task_link_copied'),
				type: 'success',
			});
		},
		hide_modal(){
			this.reset_data();
			this.$emit('closeModal');
			let url = window.location.pathname.split('/');
		    for (let i = 0; i < url.length; i++) {
		        if(url[i] === ""){
		          	url.splice(i, 1);
		          	i--;
		        }
		    }
		    if (url[0] !== undefined && /[0-9A-Z]{8}/.test(url[0])) {
		        url = document.getElementsByTagName('base')[0].getAttribute('href') + url[0];
		        document.title = this.selected_group.Name;
				window.history.pushState({urlPath: url}, this.selected_group.Name, url);
		    }
		},
		urlify(text) {
		    var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
		    return text.replace(urlRegex, function(url) {
		        return '<a style="color:#096cb5; font-weight: bold;" target="_blank" href="' + url + '">' + url + '</a>';
		    })
		},
		render_comment_html(comment){
			let comment_html = '<b>' + this.find_comment_user(comment.user_id).fullname+'</b>&nbsp;';
			comment = comment.content.split(' ');
			for (let i = 0; i < comment.length; i++) {
				if (comment[i][0] == "@") {
					comment[i] = comment[i].replace('&nbsp;', '');
					let user = this.users_in_group.filter(function(u) {
						return u.email == comment[i].substr(1);
					});
					if (user.length) {
						user = user[0];
						comment_html += " <font style='color:#096cb5; font-weight: bold;' title='" + comment[i].substr(1) + "'>" + user.fullname + "</font>";
					}else{
						comment_html += comment[i];
					}
				}else{
					if (comment[i].indexOf('www.') == 0) {
						comment_html += '<a style="color:#096cb5; font-weight: bold;" target="_blank" href="//' + comment[i] + '">' + comment[i] + '</a>';
					}else{
						comment_html += " " + comment[i];
					}
				}
			}
			// return comment_html.trim();
			return this.urlify(comment_html.trim());
		},
		show_date_picker(type, date_value){
			this.type_of_date = type;
			if (date_value != null && date_value.length) {
				date_value = date_value.split(" ").join("T") + '.000Z'
			}
			this.date_picker = date_value;
			document.querySelector('#card-detail-model .symper-datepicker .vdatetime-input').click();
		},
		update_date(val){
			if (!this.can_do_action) {
				return;
			}
			if (this.type_of_date == '') return;
			if (val == '') return;
			val = val.split("T").join(" ").split(".");
			val = val[0];
			let data_to_update = {
				note_id : this.task.note_id,
                card_id : this.task.card_id
			};
			if (this.type_of_date == 'start_date') {
				this.task.start_date = val;
				data_to_update.start_date = val;
			}else{
				this.task.expiry_date = val;
				data_to_update.expiry_date = val;
			}
			fetch(window.api_url + "/update-card", {
                method: "post",
                body: JSON.stringify(data_to_update),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				
				this.add_log({
					type: this.type_of_date == 'start_date' ? 4 : 5,
					content: val,
					id: res.acti_id
				});
				this.$emit('update_task', {
					note_id 	: this.task.note_id,
					card_id 	: this.task.card_id,
					key : this.type_of_date,
					val : val
				});
            });
		},
		update_task(type){
			if (!this.can_do_action) {
				return;
			}
			let data = {
                note_id 	: this.task.note_id,
                card_id 	: this.task.card_id
			};
			let val = null;
			let log_data = {};
			switch (type) {
				case 'card_des':
					val = document.getElementsByClassName('symper-editor-content')[0].innerHTML.trim();
					if (!val.length) {
						return false;
					}
					if (this.task.card_des != null && val == this.task.card_des.trim()) {
						return false;
					}
					this.task.card_des = val;
					data.card_des = this.task.card_des;
					log_data = {
						type: 2,
						content: val
					};
					break;
				case 'card_title':
					data.card_title = this.task.card_title.trim();
					val = this.task.card_title.trim();
					log_data = {
						type: 1,
						content: val
					};
					break;
				case 'show_des':
					this.task.show_des = !this.task.show_des;
					data.show_des = this.task.show_des ? 1 : 0;
					val = data.show_des;
					break;
				case 'is_urgent':
					this.task.is_urgent = !this.task.is_urgent;
					data.is_urgent = this.task.is_urgent;
					val = data.is_urgent;
					log_data = {
						type: 13,
						content: val
					};
					break;
				case 'status':
					data.status = this.task.status;
					val = data.status;
					log_data ={
						type: 3,
						content: val
					};
					break;
				case 'show_checklist':
					this.task.show_checklist = !this.task.show_checklist;
					data.show_checklist = this.task.show_checklist ? 1 : 0;
					val = data.show_checklist
					break;
				default:
					break;
			}
            fetch(window.api_url + "/update-card", {
                method: "post",
                body: JSON.stringify(data),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				log_data.id = res.acti_id;
				this.add_log(log_data);
				this.$emit('update_task', {
					note_id : this.task.note_id,
					card_id : this.task.card_id,
					key 	: type,
					val 	: val
				});
            });
		},
		send_comment(obj){
			let comment_content = obj.event.target.innerHTML.trim();
			if(!comment_content.length){
				alert(this.trans("template.empty_comment_alert"));
				return;
			}
			let formData = new FormData();
			formData.append('attachement', obj.file);
			formData.append('card_id', this.task.card_id);
			formData.append('content', comment_content.trim());
			fetch(window.api_url + "/add-comment-to-card", {
                method: "post",
                body: formData
            })
            .then(res => res.json())
            .then(res => {
				this.task.comments.reverse();
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				
				this.task.comments.push(res.data);
				this.task.comments.reverse();
				this.$emit('update_task', {
					note_id : this.task.note_id,
					card_id : this.task.card_id,
					key 	: 'add_comment',
					val 	: 1
				});
				let date = new Date(res.data.created_at.date);
				let now = new Date();
				let range = (now.getTime() - date.getTime())/1000;
				localStorage.setItem('time_range', Math.abs(range)+2);
            });
            obj.event.target.innerHTML = '';
		},
		reply_comment(obj, comment_id){
			if (!comment_id.length) {
				return;
			}
			if ((obj.event.keyCode == 10 || obj.event.keyCode == 13) && obj.event.ctrlKey) {
				return false;
			}
			let comment_content = obj.event.target.innerHTML.trim();
			if(!comment_content.length){
				alert(this.trans("template.empty_comment_alert"));
				return;
			}
			let formData = new FormData();
			formData.append('attachement', obj.file);
			formData.append('card_id', this.task.card_id);
			formData.append('comment_id', comment_id);
			formData.append('content', comment_content.trim());
			fetch(window.api_url + "/reply-comment", {
                method: "post",
                body: formData
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				for (let i = 0; i < this.task.comments.length; i++) {
					if (this.task.comments[i].comment_id == comment_id) {
						this.task.comments[i].replies.push(res.data);
						break;
						let date = new Date(res.data.created_at.date);
						let now = new Date();
						let range = (now.getTime() - date.getTime())/1000;
						localStorage.setItem('time_range', Math.abs(range) + 2);
					}
				}
				this.$emit('update_task', {
					note_id : this.task.note_id,
					card_id : this.task.card_id,
					key 	: 'add_comment',
					val 	: 1
				});
				this.cancel_sent_reply();
            });
            obj.event.target.innerHTML = '';
		},
		get_full_datetime(date){
			date = date.split(' ');
			return date[1].split('.')[0] + ' ' + date[0].split('-').reverse().join('/');
		},
		get_datetime(date){
			date = new Date(date);
			let now = new Date();
			let range = (now.getTime() - date.getTime())/1000;
			let time_range = 0;
			if (localStorage.getItem("time_range") != null) {
				time_range = parseInt(localStorage.getItem("time_range"));
			}
			range += time_range;
			if (Math.floor(range) <= 0) {
				return this.trans('template.just_now');
			}
			if (range > 0 && range < 60) {
				return Math.floor(range) + ' ' + this.trans('template.senconds_ago');
			}
			// Bao nhiêu phút trước
			if (range >= 60 && range < 3600) {
				return Math.floor(range/60) + ' ' + this.trans('template.minutes_ago');
			}
			// Bao nhiêu giờ trước
			if (range >= 3600 && range < 84600) {
				return Math.floor(range/3600) + ' ' + this.trans('template.hours_ago');
			}
			// Bao nhiêu ngày trước
			if (range >= 84600 && range < 592200) {
				return Math.floor(range/84600) + ' ' + this.trans('template.days_ago');
			}
			// Bao nhiêu tuần trước
			if (range >= 592200 && range < 2368800) {
				return Math.floor(range/592200) + ' ' + this.trans('template.weeks_ago');
			}
			return date.getHours().toString().padStart(2, '0') + ":" + date.getMinutes().toString().padStart(2, '0') + " " + date.getDate().toString().padStart(2, '0') + "/" + (date.getMonth() + 1).toString().padStart(2, '0');
		},
		add_new_todo_list(e){
			let todo_list_content = e.target.value;
			if(!todo_list_content.length){
				alert(this.trans("template.empty_comment_alert"));
				return;
			}
			fetch(window.api_url + "/add-todo-list", {
                method: "post",
                body: JSON.stringify({
					card_id: this.task.card_id,
					note_id: this.task.note_id,
					content: todo_list_content.trim(),
				}),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				e.target.value = '';
				this.task.todolist.push(res.data);
				
				this.add_log({
					type: 6,
					content: todo_list_content.trim(),
					id: res.acti_id
				});
				this.$emit('update_task', {
					note_id : this.task.note_id,
					card_id : this.task.card_id,
					key 	: 'add_todo_list',
					val 	: res.data
				});
            });
		},
		show_edit_todo(todo_id){
			if (!this.can_do_action) {
				return;
			}
			this.current_todo_list = todo_id;
			this.show_todo_editing = true;
		},
		save_todo_content(todolist){
			if (!this.can_do_action) {
				return;
			}
			fetch(window.api_url + "/update-todo-list", {
                method: "post",
                body: JSON.stringify({
					todolist_id: todolist.todo_list_id,
					content: todolist.content.trim(),
				}),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				this.current_todo_list = '';
				this.show_todo_editing = false;
				
				this.add_log({
					type: 7,
					content: todo_list_content.trim(),
					id: res.acti_id
				});
				this.$emit('updateTodolist', {
					todo_list_id: todolist.todo_list_id,
					content: todolist.content.trim(),
					card_id: this.task.card_id,
					note_id: this.task.note_id
				});
            });
		},
		remove_todo_list(todolist){
			if (!this.can_do_action) {
				return;
			}
			swal({
                title: this.trans('template.are_you_sure_to_remove_todolist'),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
					fetch(window.api_url + "/remove-todo-list/" + todolist.todo_list_id)
		            .then(res => res.json())
		            .then(res => {
		                if (!res.status) {
		                    swal({
								text: res.msg,
								type: 'warning',
							});
		                    return false;
						}
						this.task.todolist = this.task.todolist.filter(todo => {
							return todo.todo_list_id != todolist.todo_list_id;
						});
						this.current_todo_list = '';
						this.show_todo_editing = false;
						
						this.add_log({
							type: 8,
							content: todolist.content,
							id: res.acti_id
						});
						this.$emit('remove_todolist', {
							todo_list_id: todolist.todo_list_id,
							card_id: this.task.card_id,
							note_id: this.task.note_id
						});
		            });
                }
            });
		},
		check_todo_list(todo_list_id){
			if (!this.can_do_action) {
				return;
			}
			fetch(window.api_url + "/check-todo-list", {
                method: "post",
                body: JSON.stringify({
					checklist_id: todo_list_id
				}),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				for (let index = 0; index < this.task.todolist.length; index++) {
					if(this.task.todolist[index].todo_list_id == todo_list_id){
						this.task.todolist[index].status = !this.task.todolist[index].status;
						this.add_log({
							type: 7,
							content: this.task.todolist[index].status,
							id: res.acti_id
						});
						break;
					}
				}
				this.$emit('check_todolist', {
					todo_list_id: todo_list_id,
					card_id: this.task.card_id,
					note_id: this.task.note_id
				});
            });
		},
		upload_file(e){
			if (!this.can_do_action) {
				return;
			}
			let formData = new FormData();
			let file = e.target.files[0];
			formData.append('attachement', file);
			formData.append('card_id', this.task.card_id);
			fetch(window.api_url + "/add-attachement", {
                method: "post",
                body: formData
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				this.task.files.push(res.data);
				
				this.add_log({
					type: 11,
					content: res.data.file_name,
					id: res.acti_id
				});
				e.target.value = '';
				this.$emit('update_task', {
					note_id : this.task.note_id,
					card_id : this.task.card_id,
					key 	: 'add_attachement',
					val 	: res.data
				});
            })
            .catch(function(){
	          	console.log('FAILURE!!');
	        });
		},
		get_file_type(type){
			type = type.toLowerCase();
			if (['jfif'].indexOf(type) > -1) return 'jpg';
			if (['scss', 'sass', 'less'].indexOf(type) > -1) return 'css';
			if (['json', 'md', 'woff', 'eot', 'xd'].indexOf(type) > -1) return 'object';
			return type;
		},
		get_file_size(size){
			let kb_size = size/1024;
			if (kb_size/1024 > 1) {
				return (kb_size/1024).toFixed(1) + ' MB';
			}
			return kb_size.toFixed(1) + ' KB';
		},
		open_download(file_id){
			fetch(window.api_url+"/check-permission/"+file_id + '/' + this.task.card_id)
			.then(res => res.json())
			.then(res => {
				if (!res.status) {
                    swal({
						title: this.trans('api_validation.cannt_download_this_file'),
						text: this.trans('api_validation.cannt_download_this_file_explain'),
						type: 'warning',
					});
                    return false;
				}else{
					let win = window.open(window.location.origin+"/file/"+file_id, '_blank');
					win.focus();
				}
			});
		},
		view_full(file){
			this.full_img = window.location.origin+"/full/"+file.file_id;
			this.full_img_name = file.file_name;
		},
		remove_file(file, e){
			if (!this.can_do_action) {
				return;
			}
			e.preventDefault();
			e.stopPropagation();
			swal({
                title: this.trans('template.are_you_sure_to_remove_attachement'),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
					fetch(window.api_url+"/delete-attachement/"+file.file_id)
					.then(res => res.json())
					.then(res => {
						if (!res.status) {
		                    swal({
								text: res.msg,
								type: 'warning',
							});
		                    return false;
						}
						let file_to_del = this.task.files.filter(function(f) {
							return file.file_id == f.file_id;
						})[0];
						this.task.files = this.task.files.filter(f => { return file.file_id != f.file_id});
						
						this.add_log({
							type: 12,
							content: file_to_del.file_name,
							id: res.acti_id
						});
						this.$emit('update_task', {
							note_id : this.task.note_id,
							card_id : this.task.card_id,
							key 	: 'remove_attachement',
							val 	: file.file_id
						});
					});
                }
            });
			return false;
		},
		_show_file_setting(id, e){
			if (!this.can_do_action) {
				return;
			}
			this.show_file_setting = true;
			e.preventDefault();
			e.stopPropagation();
			fetch(window.api_url+"/get-file-setting/"+id+"/"+this.task.card_id)
			.then(res => res.json())
			.then(res => {
				if (!res.status) {
                    swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				this.editing_file_content = res.data;
			});
			return false;
		},
		back_to_list_files(){
			this.show_file_setting = false;
		},
		is_image(type){
			return ['bmp', 'gif', 'ico', 'jpeg', 'jpg', 'png', 'tif', 'tiff', 'webp', 'jfif'].indexOf(type.toLowerCase()) > -1;
		},
		find_user(){
			if (this.keyword.trim().length) {
				let key = this.remove_latin_accent(this.keyword.trim().toLowerCase());
				this.member_results = this.users_in_group.filter(user => {
					return ( this.remove_latin_accent(user.fullname.toLowerCase()).includes(key) || (user.email.toLowerCase().includes(key))) && this.task.members.map( member => member.uid).indexOf(user.uid) < 0;
				});
			}else{
				this.member_results = [];
			}
		},
		find_attachement_user(e){
			let key = e.target.value.trim();
			if (key.length) {
				key = this.remove_latin_accent(key.toLowerCase());
				this.attachement_user = this.users_in_group.filter(user => {
					return ( this.remove_latin_accent(user.fullname.toLowerCase()).includes(key) || (user.email.toLowerCase().includes(key)));
					 // && this.task.members.map( member => member.uid).indexOf(user.uid) < 0;
				});
			}else{
				this.attachement_user = [];
			}
		},
		select_user(user){
			this.attachement_user = [];
			document.getElementById('find-attachement-user').value = '';
			for (let i = 0; i < this.editing_file_content.members; i++) {
				if (this.editing_file_content.members[i].uid == user.uid) {
					swal({
						text: this.trans('template.dupplicate_member'),
						type: 'warning',
					});
					return false;
				}
			}
			// do thing here
			let member_ids = this.editing_file_content.members.map(mem => {return mem.uid});
			member_ids.push(user.uid);
			fetch(window.api_url+"/update-file-setting", {
				method: 'post',
				body: JSON.stringify({
					card_id: this.task.card_id,
					file_id: this.editing_file_content.file_id,
					member_ids: member_ids
				}),
				headers: { "content-type": "application/json" }
			})
			.then(res => res.json())
			.then(res => {
				if (!res.status) {
					swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				this.editing_file_content.members.push(user);
			});
		},
		remove_file_member(user){
			swal({
                title: this.trans('template.are_you_sure_to_remove_member'),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
					// do thing here
					let member_ids = this.editing_file_content.members.map(mem => {return mem.uid});
					if (member_ids.length === 1 && member_ids[0] == user.uid) {
						member_ids = [];
					}else{
						member_ids = member_ids.filter(mem => {return mem.uid != user.uid});
					}
					fetch(window.api_url+"/update-file-setting", {
						method: 'post',
						body: JSON.stringify({
							card_id: this.task.card_id,
							file_id: this.editing_file_content.file_id,
							member_ids: member_ids
						}),
						headers: { "content-type": "application/json" }
					})
					.then(res => res.json())
					.then(res => {
						if (!res.status) {
							swal({
								text: res.msg,
								type: 'warning',
							});
		                    return false;
						}
						for (let i = 0; i < this.editing_file_content.members.length; i++) {
							if (this.editing_file_content.members[i].uid == user.uid) {
								this.editing_file_content.members.splice(i, 1);
							}
						}
					});
                }
            });
		},
		update_file_name(){
			fetch(window.api_url+"/update-file-name", {
				method: 'post',
				body: JSON.stringify({
					card_id: this.task.card_id,
					file_id: this.editing_file_content.file_id,
					file_name: this.editing_file_content.file_name
				}),
				headers: { "content-type": "application/json" }
			})
			.then(res => res.json())
			.then(res => {
				if (!res.status) {
					swal({
						text: res.msg,
						type: 'warning',
					});
                    return false;
				}
				for (let i = 0; i < this.task.files.length; i++) {
					if (this.task.files[i].file_id == this.editing_file_content.file_id) {
						this.task.files[i].file_name = this.editing_file_content.file_name;
						break;
					}
				}
			});
		},
		check_can_do_action(){
			this.can_do_action = (this.task.created_by != undefined && this.task.created_by != '' && this.current_user.uid == this.task.created_by);
			if (!this.can_do_action) {
				let _this = this;
				this.can_do_action = (this.task.members != undefined && this.task.members.filter(user => { return user.uid == _this.current_user.uid}).length);
			}
		},
		can_remove_file(file){
			let flag = (this.task.created_by != undefined && this.task.created_by != '' && this.current_user.uid == this.task.created_by);
			if (!flag) {
				return file.author_id == this.current_user.uid;
			}else{
				return flag;
			}
		},
		get_execute_command(event){
			if ((event.keyCode == 77) && event.ctrlKey) {
				document.execCommand('insertUnorderedList', false);
			}
		},
		find_comment_user(uid){
			let user = this.users.filter(user => {
				return user.uid == uid;
			});
			if (!user.length) {
				return this.current_user;
			}else{
				return user[0];
			}
		},
		get_user_avatar_name(name){
			if (!name.length) { return '';}
            name = name.split(' ');
            if (name.length > 1) {
                return name[0][0] + name[1][0];
            }
            return name[0][0];
		},
		assign_user(user){
			for (let i = 0; i < this.task.members.length; i++) {
				if(this.task.members[i].uid == user.uid){
					alert(this.trans('api_validation.dupplicate_member', {":card": this.task.card_title}));
					return false;
				}
			}
			fetch(window.api_url+"/add-member-to-card", {
				method: 'post',
				body: JSON.stringify({
					card_id: this.task.card_id,
					member_id: user.uid,
				}),
				headers: { "content-type": "application/json" }
			})
			.then(res => res.json())
			.then(res => {
				if (!res.status) {
					swal({
						text: res.msg,
						type: 'warning',
					});
					return false;
				}
				this.task.members.push(user);
				
				this.add_log({
					type: 9,
					content: user.fullname,
					id: res.acti_id
				});
				this.check_can_do_action();
				this.$emit('update_task', {
					note_id : this.task.note_id,
					card_id : this.task.card_id,
					key 	: 'members',
					val 	: this.task.members
				});
				this.keyword = '';
				
			});
		},
		toggle_selector(option){
			if (this.is_show_selector) {
				this.task.status = option.value;
				this.is_show_selector = false;
				this.update_task('status');
			}else{
				this.is_show_selector = true;
			}
		},
		remove_member(user){
			if (!this.can_do_action) {
				return;
			}
			swal({
                title: this.trans('template.are_you_sure_to_remove_member'),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
                    fetch(window.api_url+"/remove-card-member", {
						method: 'post',
						body: JSON.stringify({
							card_id: this.task.card_id,
							member_id: user.uid,
						}),
						headers: { "content-type": "application/json" }
					})
					.then(res => res.json())
					.then(res => {
						if (!res.status) {
							swal({
								text: res.msg,
								type: 'warning',
							});
							return false;
						}
						this.task.members = this.task.members.filter(mem => {
							return mem.uid != user.uid;
						});
						this.check_can_do_action();
						
						this.add_log({
							type: 10,
							content: user.fullname,
							id: res.acti_id
						});
						this.$emit('update_task', {
							note_id : this.task.note_id,
							card_id : this.task.card_id,
							key 	: 'members',
							val 	: this.task.members
						});
					});
                }
            });
			
		},

	},
	watch: {
		task: function(val){
			if (val.open_action != undefined && val.open_action == 'copy' ) {
				this.toggle_copy_task_segment();
			}
			this.check_can_do_action();
		}
	},
	components: {
		ModalCopy,
		Editor,
		FullImage
	}
};
</script>
