.modal{
    display: block;
}
.modal-dialog{
    margin: 0 auto;
    position: relative;
    min-width: 780px;
    width: 780px;
    box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.51);
    .modal-content {
        height: calc(100vh - 50px);
        overflow-y: auto;
        top: 0;
        margin-top: 0;
        min-width: 780px;
        width: 780px;
        .avatar {
            max-width: 40px;
            max-height: 40px;
            margin-right: 10px;
            margin-top: -5px;
        }
        .symper-copy-task-segment {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 300px;
            transform: translate(-50%, -50%);
            min-height: 150px;
            height: auto;
            padding: 15px;
            background: #fff;
            z-index: +10000;
            box-shadow: 0 0 10px #a5a5a5, 0 0 0 100vh rgba(0, 0, 0, 0.5);
            .copy-action {
                width: 100%;
                padding: 10px;
                text-align: center;
                button.btn {
                    border-radius: 0;
                    outline: none;
                    box-shadow: none;
                    padding-left: 25px;
                    padding-right: 25px;
                    margin: 0 5px;
                    &.btn-default {
                        background-color: #edeff2;
                        border-color: #edeff2;
                    }
                    &.btn-primary {
                        color: #fff;
                        background-color: #628fb5;
                        border-color: #628fb5;
                    }
                }
            }
        }
        .form-control.symper-custom-selector {
            &.open-selector{
                div{
                    border-bottom: 1px solid #ccc;
                    box-shadow: 0 0 5px #ccc;
                }
            }
            padding: 0;
            position: relative;
            div {
                cursor: pointer;
                position: absolute;
                background: inherit;
                padding: 5px 15px;
                left: 0;
                width: 100%;
                border-radius: 0;
                &:nth-child(1){
                    top: 0;
                }
                &:nth-child(2){
                    top: 34px;
                }
                &:nth-child(3){
                    top: 68px;
                }
            }
        }
        .symper-editor-content {
            height: 120px;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            margin-bottom: 10px;
            &:empty:before{
                content: attr(placeholder);
                color: #ccc;
                white-space: pre-wrap;
            }
            &:focus:before{
                content: '';
            }
            &:not(:focus){
                background-color: transparent !important;
                padding: 0;
            }
            &:empty{
                background-color: #edeff2 !important;
                padding: 10px;
            }
            &.comment:not(:focus){
                background-color: #edeff2 !important;
                padding: 10px;
            }
        }
        .form-control > ul{
            margin-left: 15px;
        }
        .modal-list-job span i.far.fa-user {
            position: absolute;
            top: 35px;
            right: 15px;
        }
        input.check-outside+label:after,
        input.check-add+label:before {
            display: inline-block;
            width: 15px;
            height: 15px;
            content: '';
            border: 1px solid #666;
            vertical-align: middle;
            text-align: center;
            line-height: 15px;
            margin-left: 8px;
        }
        input.check-outside:checked+label:after,
        input.check-add+label:before {
            content: "\2713";
        }
        
        .modal-list-add {
            width: 100%;
            display: inline-block;
            margin-bottom: 5px
        }
        .modal-list-job {
            @extend .modal-list-add;
            .symper-todo-content{
                padding: 0px 10px 0px 30px;
                cursor: pointer;
                transition: all 0.2s;
                height: 30px;
                line-height: 30px;
                position: relative;
                input[type=text] {
                    background: transparent;
                    border: 0;
                    outline: none;
                    height: 30px;
                    line-height: 30px;
                    width: calc(100% - 50px);
                }
                span{
                    font-weight: normal;
                    cursor: text;
                    height: 30px;
                    line-height: 30px;
                    width: calc(100% - 50px);
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                button.symper-remove-todo-list {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    background-color: transparent;
                    border: 0;
                    opacity: 0;
                    transition: all 0.2s;
                    outline: none;
                    &:focus{
                        outline: none;
                    }
                }
                label.symper-check-finish-todo-list {
                    width: 15px;
                    height: 15px;
                    border: 1px solid #888;
                    position: absolute;
                    top: 8px;
                    left: 5px;
                    z-index: +10;
                }
                
                &:hover{
                    background-color: #f0f0f0;
                    button.symper-remove-todo-list{
                        opacity: 1;
                    }
                }
            }
            input[type=checkbox]{
                &:checked + div.symper-todo-content .symper-check-finish-todo-list:before {
                    content: '';
                    width: 12px;
                    height: 6px;
                    border: 1px solid transparent;
                    border-bottom-color: #333;
                    border-left-color: #333;
                    position: absolute;
                    transform: rotate(-45deg);
                    top: 2px;
                    left: 1px;
                }
                &:checked + div.symper-todo-content span{
                    text-decoration: line-through;
                }
            }
        }
        .navbar-right{
            margin-right: 0;
        }
        div.form-group:nth-child(1) > input.form-control { 
            background: rgb(255, 255, 255) !important; 
            border:0; 
            box-shadow: none; 
            font-weight: bold; 
            font-size: 16px;
            padding-left: 0px;
            &:hover { border-bottom:1px solid rgb(0, 0, 0);}
            &:focus { 
                border-bottom:1px solid rgb(0, 0, 0);
                background: #edeff2 !important;
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        .symper-single-file {
            width: 100%;
            display: inline-block;
            height: 60px;
            border: 1px solid #edeff2;
            padding: 10px;
            padding-left: 50px;
            border-radius: 3px;
            color: #4b5477;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            transition: all 0.2s;
            &.image-preview {
                height: 120px !important;
                float: left !important;
                padding: 0px !important;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:before {
                    content: attr(file-name);
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    background: rgba(237, 239, 242, 0.6);
                    height: 100%;
                    padding: 10px;
                    left: 0;
                    border-radius: 3px;
                    display: none;
                    clear: both;
                    font-weight: bold;
                    transition: all 0.2s;
                    text-align: justify;
                }
                &:hover {
                    &:before{
                        display: block;
                        bottom: 0;
                        animation: fade_in 0.3s linear;
                    }
                    .symper-image-action{
                        opacity: 1;
                    }
                }
                .symper-image-action{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                    height: 25px;
                    opacity: 0;
                    transition: all 0.3s;
                    button{
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        border: 1px solid #666;
                        background: #666;
                        color: #fff;
                        margin: 0 5px;
                        i{
                            opacity: 1;
                            position: relative;
                        }
                    }
                }
            }
            &:hover {
                i.ms-Icon{
                    opacity: 1;
                    display: block;
                }
                &:before{
                    display: block;
                    bottom: 65px;
                    animation: pop 0.3s linear;
                }
            }
            &:before {
                content: attr(file-name);
                position: absolute;
                bottom: 50px;
                width: auto;
                background: #edeff2;
                height: 40px;
                padding: 10px;
                min-width: 180px;
                left: -10%;
                border-radius: 3px;
                display: none;
                clear: both;
                font-weight: bold;
                transition: all 0.2s;
                text-align: justify;
                height: auto;
            }
            >i{
                &.ms-Icon{
                    position: absolute;
                    top: 2px;
                    right: 5px;
                    opacity: 0;
                    display: none;
                    transition: opacity 0.2s;
                    z-index: +10000;
                    background: #edeff2;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    border-radius: 50%;
                    padding: 5px;
                    cursor: pointer;
                    &:before{
                        position: absolute;
                        left: 52%;
                        top: 50%;
                        display: block;
                        transform: translate(-50%, -50%);
                    }
                    &.ms-Icon--Settings {
                        top: 30px !important;
                    }
                }
                &.flaticon:before {
                    font-size: 35px;
                    margin: 0;
                    position: absolute;
                    top: 5px;
                    left: 10px;
                }
            }
            p.symper-file-name {
                font-weight: bold;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            p.symper-file-size {
                font-size: 85%;
                font-weight: bold;
                opacity: 0.8;
            }
        }
        .symper-file-setting {
            border: 1px solid #eee;
            border-radius: 2px;
            padding: 0 10px 10px 10px;
            box-shadow: 0 0 1px #ddd;
            h4 button {
                background: transparent;
                border: 1px solid #ccc;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-shadow: 0 0 0;
            }
            > p {
                margin-top: 10px;
                font-weight: bold;
            }
            > .row{
                .symper-task-member{
                    padding: 0px 10px;
                    cursor: pointer;
                    width: 100%;
                    overflow: hidden;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    margin-bottom: 15px;
                    .symper-member-avatar {
                        margin-left: 0;
                    }
                    .symper-member-name {
                        width: calc(100% - 40px);
                        float: left;
                        span{
                            width: calc(100% - 30px);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            text-shadow: 0 0 0;
                            display: inline-block;
                            float: left;
                        }
                        i{
                            float: right;
                            width: 20px;
                            height: 20px;
                            overflow: hidden;
                            display: block;
                            text-align: center;
                            background: #ccc;
                            border-radius: 50%;
                            font-size: 10px;
                            line-height: 20px;
                            font-weight: bold;
                            margin-top: 10px;
                        }
                    }
                }
            }
            .symper-show-can-access-file-member {
                width: 100%;
                min-height: 45px;
                max-height: 200px;
                overflow-x: hidden;
                overflow-y: auto;
                .symper-task-member {
                    width: 100%;
                    padding: 0;
                    background: #f5f5f5;
                    cursor: pointer;
                    &:hover{
                        background-color: #e5e5e5;
                        .symper-member-name{
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        // Asign member
        .symper-task-members {
            position: relative;
            width: 100%;
            display: inline-block;
            height: 40px;
            float: left;
            line-height: 40px;
            margin-bottom: 10px;
            label[for="symper-asign-member-checkbox"] {
                float: left;
                position: relative;
                input#symper-asign-member-checkbox {
                    width: 30px;
                    height: 30px;
                    border: 0;
                    transition: all 0.2s;
                    outline: none;
                    color: #ffffff;
                    padding-right: 25px;
                    padding-left: 5px;
                    &:focus, &:not(:placeholder-shown){
                        width: 150px;
                        border-bottom: 1px solid;
                        color: #333;
                    }
                    &:not(:placeholder-shown) ~ .symper-show-asign-member{
                        opacity: 1;
                        display: block;
                        animation: pop_bottom 0.3s linear;
                    }
                }
                .symper-show-asign-member {
                    display: none;
                    width: 200px;
                    position: absolute;
                    height: auto;
                    background: #edeff2;
                    min-height: 40px;
                    left: 0;
                    top: 50px;
                    z-index: +10000000000;
                    opacity: 0;
                    border-radius: 3px;
                    box-shadow: 0 0 5px #999;
                    text-align: center;
                    .symper-task-member{
                        width: 100%;
                        transition: all 0.3s;
                        &:hover{
                            background-color: #ddd;
                        }
                    }
                }
                i.ms-Icon.ms-Icon--AddFriend {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    cursor: pointer;
                    &:after {
                        content: attr(data-title);
                        font-family: sans-serif;
                        width: 100px;
                        height: 30px;
                        position: absolute;
                        top: -25px;
                        left: -40px;
                        background-color: #ccc;
                        text-align: center;
                        line-height: 30px;
                        color: #fff;
                        text-shadow: 0 0 0;
                        border-radius: 2px;
                        display: none;
                    }
                    &:hover:after{
                        display: block;
                        animation: pop_top 0.2s linear;
                    }
                }
            }
            .symper-show-asign-member{
                .symper-task-member{
                    .symper-member-name{
                        width: calc(100% - 50px);
                        display: block;
                        clear: both;
                        left: 45px;
                        float: right;
                        box-shadow: none;
                        top: 5px;
                        text-shadow: none;
                        background: transparent;
                    }
                }
            }
            .symper-task-member {
                position: relative;
                padding: 0;
                &:hover{
                    i.ms-Icon{
                        display: block;
                        transform: scale(1);
                        animation: fade_in 0.3s;
                    }
                    .symper-member-name {
                        animation: fade_in 0.3s linear;
                        display: block;
                    }
                }
                .symper-member-avatar {
                    margin-right: 0;
                }
                .symper-member-name {
                    float: left;
                    width: auto;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: absolute;
                    top: -30px;
                    left: -20px;
                    height: 30px;
                    background: #edeff2;
                    border-radius: 2px;
                    line-height: 30px;
                    padding: 0 5px;
                    text-shadow: 0 0 0;
                    box-shadow: 0 0 5px;
                    display: none;
                }
                i.ms-Icon {
                    cursor: pointer;
                    display: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: rgba(152, 152, 152, 0.7);
                    position: relative;
                    margin-left: 10px;
                    margin-top: 5px;
                    transform: scale(0);
                    transition: all 0.3s;
                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: auto;
                        width: auto;
                    }
                }
            }
        }
        .modal-body-content .symper-member-avatar {
            width: 32px;
            height: 30px;
            margin-left: 0;
            margin-right: 10px;
            border: 0;
            display: inline-block;
            float: left;
            img{
                display: inline-block;
                float: left;
                margin-left: 1px;
            }
        }
        .form-group.discution-section > label {
            width: 120px;
            text-align: center;
            height: 35px;
            line-height: 35px;
            background: #f5f5f5;
            cursor: pointer;
            &:hover, &.active{
                background-color: #ddd;
            }
        }
    }
    .vdatetime-input{
        display: block !important;
    }
    .sp-cmt-content {
        width: calc(100% - 42px);
        display: inline-block;
        border-radius: 3px;
        float: right;
        .cmt-content {
            white-space: pre-wrap;
            padding: 10px;
            background: rgba(237, 239, 242, 0.45);
            border-radius: 2px;
        }
        .symper-single-file {
            margin-bottom: 0px !important;
            margin-top: 10px;
            &.image-preview{
                min-height: 150px;
                max-height: 300px;
                height: 200px !important;
            }
        }
        .content-actions{
            margin-top: 5px;
            span.sp-cmt-content-action {
                padding: 3px 10px;
                display: inline-block;
                cursor: pointer;
                border-radius: 2px;
                text-shadow: 0 0 0;
                &:hover{
                    background: #efeff2;
                }
            }
        }
    }
    .rule-option{
        z-index: 1;
        width: 200px;
        height: auto;
        background: transparent;
        position: absolute;
        top: 0px;
        right: -30px;
        margin-top: 10px;
        margin: 0;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        &:hover { 
            right: -180px;
        }
    }
    // .suggestion-users {
    //     width: 200px;
    //     height: auto;
    //     max-height: 200px;
    //     background-color: #ddd;
    //     transition: all 0.3s;
    //     overflow-x: hidden;
    //     position: absolute;
    //     overflow-y: auto;
    //     &:not(:empty){
    //         min-height: 40px;
    //     }
    //     .symper-task-member {
    //         padding: 0;
    //         &:hover {
    //             background: #ccc;
    //         }
    //         .symper-member-name {
    //             width: 150px;
    //             display: inline-block;
    //             float: right;
    //             overflow: hidden;
    //             text-overflow: ellipsis;
    //             white-space: nowrap;
    //         }
    //     }
    // }
    .dropdown.nav.navbar-nav.navbar-right.modal-header-icon:hover  div.dropdown-menu{
        display: block;
        top: 90px;
        right: -30px;
    }
    .modal-body-content.task-created-by {
        border-top: 2px solid #ddd;
        padding-top: 10px;
    }
    .modal-body-content {
        margin-top: 5px;
        width: 100%;
        display: inline-block;
        .sp-cmt-reply-editor {
            width: calc(100% - 42px);
            float: right;
            display: inline-block;
            height: auto;
            margin-top: 10px;
            position: relative;
            >div:not(.suggestion-users){
                height: 70px;
            }
            button {
                width: auto;
                height: 30px;
                padding: 0px 20px;
                background: #edeff2;
                border: 0;
                border-radius: 2px;
                float: right;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
        }
        .cmt-user span.sp-cmt-content-action {
            width: auto;
            background: #eee;
            padding: 0 10px;
            border-radius: 50px;
            margin-left: 10px;
            cursor: pointer;
        }
        .sp-cmt-replies {
            width: calc(100% - 42px);
            display: inline-block;
            float: right;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
@keyframes pop{
    0%{
        bottom: 50px;
    }
    100%{
        bottom: 65px;
    }
}
@keyframes pop_bottom{
    0%{
        top: 45px;
    }
    100%{
        top: 50px;
    }
}
@keyframes pop_top{
    0%{
        top: -20px;
    }
    100%{
        top: -25px;
    }
}
@keyframes fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}