<template>
    <div>
        <!-- Modal -->
        <div id="symper-modal-copy-task">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" @click="hide_copy_modal">
                            <i class="ms-Icon ms-Icon--Clear"></i>
                        </button>
                        <h4>{{trans('template.copy_card')}}</h4>
                        <!-- Tên kế hoạch mới -->
                        <div class="form-group">
                            <label>{{trans('template.new_task_title')}}</label>
                            <input type="text" v-model="new_task.card_title" class="form-control" placeholder="Tên tác vụ">
                        </div>
                        <!-- Lựa chọn kế hoạch sao chép -->
                        <div class="form-group">
                            <label>{{trans('template.select_plan_to_copy')}}</label>
                            <select v-model="group_to_copy" class="form-control">
                                <option :value="gr.Id" v-for="gr in groups" :key="'group-to-copy-'+gr.Id" >{{gr.Name}}</option>
                            </select>
                        </div>
                        <!-- Lựa chọn bộ chứa sao chép -->
                        <div class="form-group" v-show="group_to_copy != '' && notes.length">
                            <label>{{trans('template.select_board_to_copy')}}</label>
                            <select v-model="note_to_copy" class="form-control">
                                <option :value="no.note_id" v-for="no in notes"  :key="'note-to-copy-'+no.note_id">{{no.title}}</option>
                            </select>
                        </div>
                        <!-- Thông tin chia sẻ trên kế hoạch sao chép -->
                        <div class="copy-infomation">
                            <label>{{trans('template.copy_include')}}</label>
                            <div class="copy-check-item">
                                <label class="check-item">
                                    {{trans('template.assignment')}}
                                    <input type="checkbox" name="includes[]" value="assignment" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="copy-check-item">
                                <label class="check-item">
                                    {{trans('template.progress_label')}}
                                    <input type="checkbox" name="includes[]" value="status" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="copy-check-item">
                                <label class="check-item">
                                    {{trans('template.expire_date_label')}}
                                    <input type="checkbox" name="includes[]" value="expiry_date" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="copy-check-item">
                                <label class="check-item">
                                    {{trans('template.task_description_title')}}
                                    <input type="checkbox" name="includes[]" value="description" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="copy-check-item">
                                <label class="check-item">
                                    {{trans('template.checklist_title')}}
                                    <input type="checkbox" name="includes[]" value="todolist" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="copy-check-item">
                                <label class="check-item">
                                    {{trans('template.attachement_label')}}
                                    <input type="checkbox" name="includes[]" value="files" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="copy-check-item">
                                <label class="check-item">
                                    {{trans('template.filter_by_label')}}
                                    <input type="checkbox" name="includes[]" value="labels" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <!-- <div class="copy-infomation" v-show="new_task.todolist && new_task.todolist.length">
                            <label>{{trans('template.select_todolist_to_copy')}}</label>
                            <div class="copy-check-item">
                                <label class="check-item" v-for="todo in new_task.todolist" :key="'check-list-to-copy-'+todo.todo_list_id">
                                    {{todo.content}}
                                    <input type="checkbox" name="copy-todolist[]" :value="todo.todo_list_id" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div> -->
                        <!-- <div class="copy-infomation" v-show="new_task.files && new_task.files.length">
                            <label>{{trans('template.select_file_to_copy')}}</label>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-3 col" v-for="file in new_task.files" :key="'file-to-copy-'+ file.file_id">
                                    <input type="checkbox" name="copy-files[]" checked :value="file.file_id" :id="'copy-file-'+file.file_id">
                                    <div class="symper-single-file" 
                                        @click="select_file(file.file_id)" 
                                        :file-name="file.file_name + '.' + file.file_type" 
                                         v-if="!is_image(file.file_type)">
                                        <i :class="'flaticon flaticon-'+get_file_type(file.file_type)+''"></i>
                                        <p class="symper-file-name">
                                            {{file.file_name}}
                                        </p>
                                        <p class="symper-file-size">
                                            {{get_file_size(file.file_size)}}
                                        </p>
                                    </div>
                                    <div class="symper-single-file image-preview"
                                        @click="select_file(file.file_id)" 
                                        :file-name="file.file_name + '.' + file.file_type" 
                                        v-if="is_image(file.file_type)">
                                        <img :src="'view/'+file.file_id" :alt="file.file_name">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary button-copy-task" @click="copy_to_this_note">{{trans('template.copy_task')}}</button>
                        <button type="button" class="btn btn-secondary button-copy-task" @click="hide_copy_modal">{{trans('template.cancel_copy_btn')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="sass" scoped>
    @import 'modal_copy.scss';
</style>
<script>
    import swal from 'sweetalert2';
    export default {
        props: {
            task: {
                type: Object
            },
            groups: {
                type: Array
            }
        },
        data(){
            return {
                new_task: {},
                group_to_copy: '',
                note_to_copy: '',
                notes: []
            };
        },
        created(){
            let _this = this;
            setTimeout(function(){
                _this.new_task = JSON.parse(JSON.stringify(_this.task));
            }, 1000);
        },
        methods: {
            get_plan_boards(plan_id){
                fetch(window.api_url + "/get-only-notes/"+plan_id)
                .then(res => res.json())
                .then(res => {
                    if (res.data.length) {
                        this.notes = res.data;
                    }else{
                        swal({
                            text: this.trans('template.not_found_any_note_of_this_plan'),
                            type: 'warning',
                        });
                        return false;
                    }
                });
            },
            hide_copy_modal(){
                this.$emit('hideCopyModal');
                this.new_task = {};
                this.group_to_copy = '';
                this.note_to_copy = '';
            },
            is_image(type){
                return ['bmp', 'gif', 'ico', 'jpeg', 'jpg', 'png', 'tif', 'tiff', 'webp', 'jfif'].indexOf(type.toLowerCase()) > -1;
            },
            get_file_type(type){
                type = type.toLowerCase();
                if (['jfif'].indexOf(type) > -1) return 'jpg';
                if (['scss', 'sass', 'less'].indexOf(type) > -1) return 'css';
                if (['json', 'md', 'woff', 'eot', 'xd'].indexOf(type) > -1) return 'object';
                return type;
            },
            get_file_size(size){
                let kb_size = size/1024;
                if (kb_size/1024 > 1) {
                    return (kb_size/1024).toFixed(1) + ' MB';
                }
                return kb_size.toFixed(1) + ' KB';
            },
            select_file(file_id){
                let input = document.getElementById('copy-file-'+file_id);
                input.checked = !input.checked;
            },
            copy_to_this_note(){
                let options = [];
                document.querySelectorAll("input[name='includes[]']:checked").forEach(e => {
                    options.push(e.value);
                });
                fetch(window.api_url + "/copy-card-to-note", {
                    method: "post",
                    body: JSON.stringify({
                        title   : this.new_task.card_title,
                        card_id : this.new_task.card_id,
                        to_note : this.note_to_copy,
                        options : options
                    }),
                    headers: { "content-type": "application/json" }
                })
                .then(res => res.json())
                .then(res => {
                    if (!res.status) {
                        swal({
                            text: res.msg,
                            type: 'warning',
                        });
                        return false;
                    }
                    this.hide_copy_modal();
                    swal({
                        text: this.trans('template.copy_task_successful'),
                        type: 'success',
                    });
                    this.$emit('copyCard', res.data);
                });
            }
        },
        watch: {
            task: function(val){
                this.new_task = JSON.parse(JSON.stringify(val));
            },
            group_to_copy: function(val){
                if (val != null && val != '') {
                    this.get_plan_boards(val);
                }
            }
        }
    };
</script>
