/*Modal Sidebar*/
#add-new-plan-modal .modal-header,
#update-plan-modal .modal-header {
    border-bottom: 0;
}
.modal-sidebar-header {
    position: relative;
}
.modal-sidebar-header h3 {
    
}
.modal-sidebar-header button i {
    position: absolute;
    top: 1.2em;
    right: 2em;
}
.modal-sidebar-build {
    margin-bottom: 30px;
}
.modal-sidebar-build input.build-group {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
}
.modal-sidebar-security p{
    font-size: 13px;
}
.modal-sidebar-check {
    margin-top: 10px;
}
.modal-sidebar-check label {
    font-weight: 300;
}

.modal-sidebar-check input + label {
    position: relative;
    cursor: pointer;
    padding: 3px 0 0 40px;
}
.modal-sidebar-check input{
    position: absolute;
    left: -9999px;
}
.modal-sidebar-check input + label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #1dd3d3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}
.modal-sidebar-check input + label:after {
    content: "";
    background: #71bdf7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    transform: scale(2);
    transition: transform 0.3s linear, opacity 0.3s linear;
}
.modal-sidebar-check input:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.collapseSidebar {
    margin-top: 2em;
}
.collapseSidebar textarea,
.modal-sidebar-build textarea,
 {
    width: 100%;
    max-width: 100%;
    height: 5em;
    margin-top: .8em;
    background: #f0f0f0;
    outline: none;
    padding: 10px;
    border: 0;
    color: #666;
}
.modal-sidebar-option {
    margin-top: 1.5em;
    .toggle-option-btn{
        cursor: pointer;
    }
}
.modal-sidebar-option a i{
    margin-left: 2em;
}
#add-new-plan-modal .modal-footer,
#update-plan-modal .modal-footer
 {
    padding: 0;
    border-top: 0;
}
.sidebar-sbm {
    background: #f9f9f9;
    width: 100%;
    height: 4em;
    font-size: 15px;
    padding: 10px auto !important;
    border-radius: 0;
    border: 0;
    transition: all 0.3s;
}
.sidebar-sbm:hover {
    background: #71bdf7;
    color: #ffffff;
}
#add-new-plan-modal.fade, 
#update-plan-modal.fade{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    &.in{
        opacity: 1;
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        animation: fade-in 0.3s;
        .modal-dialog{
            margin-top: 10%;
        }
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
        // transform: scale(1);
    }
    // 50%{
    //     opacity: 1;
    //     transform: scale(0.8);
    // }
    // 75%{
    //     opacity: 1;
    //     transform: scale(1.2);
    // }
    100%{
        opacity: 1;
        // transform: scale(1);
    }
}