input#toggle-sidebar-btn:checked ~ .symper-content .symper-group-navbar{
    width: calc(100% - 20px);
}
.symper-group-navbar {
    width: calc(100% - 70px);
    padding-top: 10px;
    margin-bottom: 0px;
    ul.dropdown-menu.drop-setting {
        display: none;
    }
    ul.navbar-nav li input[type="checkbox"]:checked ~ ul.dropdown-menu{
        display: block;
        animation: pop_up 0.3s linear;
    } 
    ul.navbar-nav li input[type="checkbox"]:checked ~ a label i.ms-Icon--ChevronDown{
        transform: rotate(180deg);
        animation: upside_down 0.3s linear;
    } 
    .navbar-right ul.nav.navbar-nav {
        margin-top: 0px;
    }
    .navbar-left {
        width: 30%;
    }
    .navbar-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: auto;
        .nav > li > a.nav-link:hover ul {
            display: block;
            width: 225px;
            top: 40px;
            animation: pop_up 0.3s linear;
        }
    }
    ul.navbar-nav{
        transition: all 0.3s linear;
        > li{
            span.symper-selected-label{
                color: #3ca03c;
            }
            &:last-of-type{
                ul.dropdown-menu.drop-setting> li {
                    width: 100%;
                    padding: 5px 10px;
                    cursor: pointer;
                    -webkit-transition: all .25s;
                       -moz-transition: all .25s;
                        -ms-transition: all .25s;
                         -o-transition: all .25s;
                            transition: all .25s;
                    &:hover{
                        background-color: #f0f0f0;
                    }
                }
            }
            > a{
                position: relative;
                padding: 0;
                label{
                    padding: 15px 30px 10px 10px;
                    cursor: pointer;
                    i.ms-Icon--ChevronDown{
                        position: absolute;
                        top: 15px;
                        right: 10px;
                        transition: all 0.3s linear;
                    }
                }
            }
            ul{
                transition: all 0.3s linear;
                > li{
                    input[type="checkbox"]:checked ~ div{
                        display: block;
                        ul{
                            transition: all 0.3s linear;
                            animation: show_up 0.3s linear;
                        }
                    }
                    input[type="checkbox"]:checked ~ a{
                        label i.ms-Icon--ChevronDown {
                            transform: rotate(180deg);
                            animation: upside_down 0.3s linear;
                        }
                    }
                    a{
                        padding: 0px 15px;
                        background: #f0f0f0;
                        label{
                            width: 100%;
                            cursor: pointer;
                            padding: 5px 0px;
                        }
                        i.ms-Icon--ChevronDown{
                            float: right;
                            transition: all 0.3s linear;
                        }
                    }
                    div{
                        ul{
                            padding: 5px 20px;
                            list-style: none;
                            li{
                                padding: 5px 15px;
                                cursor: pointer;
                                transition: all .25s linear;
                                margin: 0 -10px;
                                height: 30px;
                                line-height: 25px;
                                padding-right: 5px;
                                &:hover{
                                    background-color: #f0f0f0;
                                }
                                .symper-member-avatar {
                                    margin-right: 10px;
                                    margin-top: -2px !important;
                                    margin-left: -5px;
                                    height: 25px;
                                    width: 25px;
                                    line-height: 30px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    li.symper-group-member {
        width: 230px;
        height: 40px;
        overflow: hidden;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        margin: 0 auto;
        &:hover{
            background: #f0f0f0;
            i{
                display: block;
                animation: show_up 0.3s;
            }
        }
        .symper-member-avatar{
            margin-top: 5px !important;
            margin-left: 0px !important;
        }
        i{
            display: none;
            transition: all 0.3s;
            position: relative;
            &:after{
                content: attr(data-title);
                position: absolute;
                right: 20px;
                width: 130px;
                background: #4e4e4e;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-family: Quicksand, Arial, sans-serif;
                color: #fff;
                top: 5px;
                border-radius: 2px;
                display: none;
            }
            &:hover:after{
                display: block;
                animation: slide-left 0.3s;
            }
        }
    }
    .member-result{
        position: absolute;
        width: 250px;
        background: #f5f5fa;
        box-shadow: 0 0 5px #585858;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        > div {
            width: 240px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            transition: background 0.3s;
            overflow: hidden;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover{
                background: #f0f0f0;
            }
            div{
                margin: 0;
                margin-left: 10px !important;
                margin-top: 7px !important;
                margin-right: 5px;
            }
        }
    } 
}

.nav.nav-pills{
    li.nav-item{
        i.ms-Icon{
            font-size: 16px;
            text-shadow: 0 0 0;
        }
    }
    .nav-stacked.labels-info p {
        color: #9d9f9e;
        font-size: 11px;
        margin-bottom: 0;
        padding: 0 22px;
    }
}

.group-info {
    padding-left: 15px;
    .symper-group-avatar {
        width: 45px;
        height: 45px;
        background: red;
        line-height: 45px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 5px;
        position: relative;
        margin-right: 10px;
        float: left;
        > a {
            position: absolute;
            top: 30px;
            left: 45px;
            i {
                position: absolute;
                top: 0px;
                right: -5px;
                font-size: 16px;
                border: 1px solid;
                padding: 0;
                height: 25px;
                width: 25px;
                line-height: 25px;
                border-radius: 50%;
                text-align: center;
                background-color: #fff;
                // &.ms-Icon--Group{
                //     background-color: #2dce4a;
                //     color: #fff;
                // }
                &:hover{
                    color: inherit;
                }
            }
        }
    }
    .name-group {
        float: left;
        width: calc(100% - 60px);
        position: relative;
        h3 {
            margin-top: 10px;
            float: left;
            font-size: 16px;
            font-weight: 900;
            margin-bottom: 5px;
            height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 30px;
            width: 100%;
        }
        a{
            display: block;
            width: 30px;
            height: 18px;
            line-height: 18px;
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: center;
            i {
                &.ms-Icon.ms-Icon--FavoriteStarFill {
                    color: #fd8200;
                }
                color: #000;
                width: 20px;
                border-radius: 3px;
                &:hover{
                    background: #ddd;
                }
            }
        }
    }
    .group-status {
        font-size: 12px;
    }
}

.nav.navbar-nav {
    margin-top: 10px;
}

.colap-rule-color {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    border-radius: 5px;
    float: left;
}

.symper-member-avatar{
    margin-top: 10px;
    margin-left: -15px;
    box-shadow: 0 0 5px 2px #fff;
}
.fade-enter-active, .fade-leave-active {
    transition: all 0.3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
@keyframes pop_up {
    0% { 
        margin-top: 15px;
        opacity: 0;
    }
    100% { 
        margin-top: 0px;
        opacity: 1;
    }
}
@keyframes show_up {
    0% { 
        display: none;
        opacity: 0;
    }
    100% { 
        display: block;
        opacity: 1;
    }
}
@keyframes upside_down {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        
        transform: rotate(180deg);
    }
}
@keyframes slide-left {
    0% { 
        right: 10px;
        opacity: 0;
    }
    100% { 
        right: 20px;
        opacity: 1;
    }
}
