<template>
    <nav class="symper-group-navbar navbar">
    	<!-- image -->
    	<div class="nav navbar-nav navbar-left group-info">
    		<div class="symper-group-avatar">
                <span class="text-uppercase">
                    {{get_avatar_name(group_info.Name ? group_info.Name : '')}}      
                </span>
    			<a href="javascript:void(0);" @click.stop="toggle_status()" v-if="group_info.from !== 'core' && is_admin && !group_info.is_temple">
    				<i class="ms-Icon" :class="{ 'ms-Icon--ShieldSolid': !group_info.Status, 'ms-Icon--ReminderGroup': group_info.Status }"></i>
    			</a>
            </div>
			<div class="name-group">
				<h3 :title="group_info.Name">{{group_info.Name}}</h3>
				<a href="javascript:void(0);" @click.stop="toggle_favorite()">
					<i class="ms-Icon" :class="{ 'ms-Icon--FavoriteStarFill': group_info.is_favorite, 'ms-Icon--FavoriteStar': !group_info.is_favorite }"></i>
				</a>
			</div>
			<div class="group-status"> 
                <span v-show="!group_info.Status">{{trans('template.private_status')}}</span>
				<span v-show="group_info.Status">{{trans('template.public_status')}}</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="nav navbar-nav navbar-center navbar-tabs">
			<ul class="nav nav-pills mb-3">
				<li class="nav-item" :title="trans('template.boards_display_mode')">
					<a class="nav-link" :class="{'active': show_mode == 'notes'}" 
                        href="javascript:void(0);" @click.stop="set_show_mode('notes')">
                        <span class="hidden-sm hidden-xs hidden-md">
                            {{trans('template.boards_display_mode')}}
                        </span>
                        <i class="ms-Icon ms-Icon--ViewDashboard hidden-lg"></i>
                    </a>
				</li>
                <li class="nav-item" :title="trans('template.charts_display_mode')">
                    <a class="nav-link" :class="{'active': show_mode == 'charts'}" 
                        href="javascript:void(0);" @click.stop="set_show_mode('charts')">
                        <span class="hidden-sm hidden-xs hidden-md">
                            {{trans('template.charts_display_mode')}}
                        </span>
                        <i class="ms-Icon ms-Icon--Chart hidden-lg"></i>
                    </a>
                </li>
                <li class="nav-item" :title="trans('template.gantt_chart_display_mode')">
                    <a class="nav-link" :class="{'active': show_mode == 'gantt'}" 
                        href="javascript:void(0);" @click.stop="set_show_mode('gantt')">
                        <span class="hidden-sm hidden-xs hidden-md">
                            {{trans('template.gantt_chart_display_mode')}}
                        </span>
                        <i class="ms-Icon ms-Icon--BarChartHorizontal hidden-lg"></i>
                    </a>
                </li>
				<li class="nav-item" :title="trans('template.calendars_display_mode')">
					<a class="nav-link" href="http://event.symper.vn/home">
                        <span class="hidden-sm hidden-xs hidden-md">
                            {{trans('template.calendars_display_mode')}}
                        </span>
                        <i class="ms-Icon ms-Icon--CalendarWeek hidden-lg"></i>
                    </a>
				</li>
				<li class="dropdown nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="ms-Icon ms-Icon--More"></i>
    					<ul class="dropdown-menu drop-setting">
    						<li v-if="group_info.from !== 'core' && is_admin">
                                <a href="javascript:void(0);" v-if="group_info.is_favorite" @click.stop="toggle_favorite()">
                                    {{trans('template.remove_favorite')}}
                                </a>
    							<a href="javascript:void(0);" v-if="!group_info.is_favorite" @click.stop="toggle_favorite()">
                                    {{trans('template.add_favorite')}}
                                </a>
    						</li>
    						<li>
    							<a href="javascript:void(0);" @click.stop="copy_group_to_clip_board">
                                    {{trans('template.copy_group_url')}}                     
                                </a>
    						</li>
    						<li v-if="group_info.from !== 'core' && is_admin">
                                <a href="javascript:void(0);" @click.stop="show_edit_plan_modal">
                                    {{trans('template.group_setting')}}
                                </a>
                            </li>
                            <li v-if="group_info.from !== 'core' && is_admin">
    							<a href="javascript:void(0);" @click.stop="warn_remove_plan">
                                    {{trans('template.remove_plan')}}
                                </a>
    						</li>
    					</ul>
                    </a>
				</li>
			</ul>
		</div>
		<div class="nav navbar-nav navbar-right">
            <!-- Danh sách member -->
            <!-- <div class="symper-member-avatar hidden-sm hidden-xs hidden-md" 
                :title="member.fullname" 
                v-if="index < 5" 
                v-bind:style="{ background: random_colors[index%5] }" 
                v-for="(member, index) in  users_in_group" 
                :key="'list-member-in-group-'+member.uid"
                >
                <img :src="member.avatar" v-if="member.avatar.length" :alt="member.fullname" class="img-circle img-reponsive">
                <span v-if="!member.avatar.length">
                    {{get_avatar_name(member.fullname)}}
                </span>
            </div>
            <div class="symper-member-avatar hidden-sm hidden-xs hidden-md"  
                v-if="users_in_group.length > 5" 
                v-bind:style="{ background: random_colors[0] }" 
                >
                <i class="ms-Icon ms-Icon--More"></i>
            </div> -->
            <!-- Thêm thành viên -->
            <ul class="nav navbar-nav">
                <li class="dropdown symper-member" v-show="'3ABSFT4B' !== group_info.Id">
                    <input type="checkbox" class="hidden" id="show-add-member">
                    <a href="javascript:void(0);">
                        <label for="show-add-member">
                            <span class="hidden-sm hidden-xs hidden-md">
                                {{trans('template.members')}} 
                            </span>
                            <i class="ms-Icon ms-Icon--Teamwork hidden-lg"></i>
                            <i class="ms-Icon ms-Icon--ChevronDown"></i>
                        </label>
                    </a>
                    <ul class="dropdown-menu drop-setting">
                        <li v-if="group_info.from !== 'core' && is_admin">
                            <!-- Ô nhập tìm kiếm thành viên -->
                            <div class="drop-setting-input">
                                <input 
                                    type="text" 
                                    :placeholder="trans('template.find_member_placeholder')"
                                    @keyup="find_user($event)"
                                >
                                <!-- Danh sách kết quả tìm kiếm -->
                                <transition name="fade">
                                    <div class="member-result" v-show="member_result.length">
                                        <div 
                                            v-for="(member, index) in member_result" 
                                            :key="'member-result-'+member.uid" 
                                            @click.stop="select_user(member)"
                                        >
                                            <div class="symper-member-avatar" 
                                                :title="member.fullname" 
                                                v-bind:style="{ background: random_colors[index%5] }"
                                            >
                                                <img :src="member.avatar" v-if="member.avatar.length" :alt="member.fullname" class="img-circle img-reponsive">
                                                <span v-if="!member.avatar.length">
                                                    {{get_avatar_name(member.fullname)}}
                                                </span>
                                            </div>
                                            {{member.fullname}}
                                        </div>
                                    </div>
                                </transition>
                            </div>
                        </li>
                        <!-- Danh sách thành viên -->
                        <li v-for="(member, index) in  users_in_group" class="symper-group-member" :key="'member-in-group-'+member.uid">
                            <div class="symper-member-avatar" 
                                :title="member.fullname" 
                                v-bind:style="{ background: random_colors[index%5] }" 
                                :key="'list-member-'+member.uid"
                            >
                                <img :src="member.avatar" v-if="member.avatar.length" :alt="member.fullname" class="img-circle img-reponsive">
                                <span v-if="!member.avatar.length">
                                    {{get_avatar_name(member.fullname)}}
                                </span>
                            </div>
                            {{member.fullname}}
                            <!-- Loại bỏ người dùng -->
                            <i v-if="group_info.from !== 'core' && is_admin"
                                class="ms-Icon ms-Icon--ReturnToSession pull-right" 
                                @click.stop="remove_member(member)"
                                :data-title="trans('template.remove_member')">
                            </i>
                        </li>
                    </ul>
                </li>
                <!-- Bộ lọc -->
                <li class="dropdown symper-filter">
                    <input type="checkbox" class="hidden" id="show-filter">
                    <a href="javascript:void(0);">
                        <label for="show-filter">
                            <span class="hidden-sm hidden-xs hidden-md">
                                {{trans('template.filter_label')}}
                            </span>
                            <i class="ms-Icon ms-Icon--Filter hidden-lg"></i>
                            <i class="ms-Icon ms-Icon--ChevronDown"></i>
                        </label>
                    </a>
                    <ul class="dropdown-menu drop-setting">
                        <li>
                            <div class="drop-setting-heading">
                                <span>{{trans('template.filter_label')}}</span>
                                <button type="submit" @click="reset_filter()">
                                    {{trans('template.reset_filter_label')}}
                                </button>
                            </div>
                            <div class="drop-setting-input">
                                <input type="text" :placeholder="trans('template.filter_title_label')"
                                    v-model="filter.keyword"
                                >
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="deadline" class="hidden">
                            <a href="javascript:void(0);">
                                <label for="deadline">
                                    {{trans('template.filter_time_label')}} 
                                    ({{filter.date.filter(e => {return e.check}).length}})
                                    <i class="ms-Icon ms-Icon--ChevronDown"></i>
                                </label>
                            </a>
                            <div class="collapse">
                                <ul>
                                    <li 
                                        v-for="time in filter.date" 
                                        @click="time.check = !time.check" 
                                        :key="'date-key-'+time.label"
                                    >
                                        <span>
                                            {{time.label}}
                                        </span>
                                        <i class="ms-Icon ms-Icon--Accept pull-right"
                                            v-if="time.check">
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="labels-filter" class="hidden">
                            <a href="javascript:void(0);">
                                <label for="labels-filter">
                                    {{trans('template.filter_by_label')}} 
                                    ({{filter.labels.filter(e => {return e.check}).length}})
                                    <i class="ms-Icon ms-Icon--ChevronDown"></i>
                                </label>
                            </a>
                            <div class="collapse">
                                <ul>
                                    <li 
                                        v-for="label in filter.labels" 
                                        @click="label.check = !label.check" 
                                        :key="'label-key-'+label.label"
                                    >
                                        <div :class="label.class"></div>
                                        <span>{{label.label}}</span>
                                        <i class="ms-Icon ms-Icon--Accept pull-right"
                                            v-if="label.check">
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" class="hidden" id="missions-filter">
                            <a href="javascript:void(0);">
                                <label for="missions-filter">
                                    {{trans('template.filter_by_users')}} 
                                    ({{filter.users.filter(e => {return e.check}).length}})
                                    <i class="ms-Icon ms-Icon--ChevronDown"></i>
                                </label>
                            </a>
                            <div class="collapse">
                                <ul>
                                    <li 
                                        v-for="(u, index) in filter.users" 
                                        @click="u.check = !u.check" 
                                        :key="'user-key-'+u.uid"
                                    >
                                        <div class="symper-member-avatar" v-if="u.avatar != undefined" :title="u.fullname" v-bind:style="{ background: random_colors[index%5] }">
                                            <img :src="u.avatar" v-if="u.avatar.length" :alt="u.fullname" class="img-circle img-reponsive">
                                            <span v-if="!u.avatar.length">
                                                {{get_avatar_name(u.fullname)}}
                                            </span>
                                        </div>
                                        <span>
                                            {{u.fullname}}
                                        </span>
                                        <i class="ms-Icon ms-Icon--Accept pull-right"
                                            v-if="u.check">
                                        </i>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </li>
                <!-- Nhóm theo các tiêu chí -->
                <li class="dropdown symper-bucket" v-if="show_mode == 'notes'">
                    <input type="checkbox" class="hidden" id="show-container">
                    <a href="javascript:void(0);">
                        <label for="show-container">
                            <span class="hidden-sm hidden-xs hidden-md">
                                {{trans('template.group_by')}} 
                                <span class="symper-selected-label">{{checked_group}} </span>
                            </span>
                            <i class="ms-Icon ms-Icon--SortLines hidden-lg"></i>
                            <i class="ms-Icon ms-Icon--ChevronDown"></i>
                        </label>
                    </a>
                    <ul class="dropdown-menu drop-setting">
                        <li 
                            v-for="gr in filter.groups" 
                            @click="checkFilter2(gr.val)" 
                            :key="'group-key-'+ gr.label"
                        >
                            <span>
                                {{gr.label}}
                            </span>
                            <i class="ms-Icon ms-Icon--Accept pull-right" v-if="gr.check"></i>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
</template>
<style lang="sass" scoped>
    @import 'navs.scss'
</style>
<script>
import swal from 'sweetalert2'
export default {
    components: {
    },
    data(){
        return {
            random_colors: [
                '#417542', 
                '#ff7826',
                '#ff2674',
                '#d526ff',
                '#26adff'
            ],
            checked_group: this.trans('template.container'),
            filter: {
                keyword: '',
                date: [
                    { 
                        label: this.trans('template.overtime'), 
                        check: false, 
                        val: 'overtime' 
                    },
                    { 
                        label: this.trans('template.today'), 
                        check: false, 
                        val: 'today' 
                    },
                    { 
                        label: this.trans('template.thisweek'), 
                        check: false, 
                        val: 'thisweek' 
                    },
                    { 
                        label: this.trans('template.nextweek'), 
                        check: false, 
                        val: 'nextweek' 
                    },
                    { 
                        label: this.trans('template.notime'), 
                        check: false, 
                        val: 'notime' 
                    }
                ],
                groups:[
                    {
                        label: this.trans('template.container'),
                        class:'',
                        check: true,
                        val:'container',
                    },
                    {
                        label: this.trans('template.user_asigned'),
                        class:'',
                        check:false,
                        val:'user_asigned',
                    },
                    {
                        label: this.trans('template.deadline'),
                        class:'',
                        check:false,
                        val:'deadline',
                    },
                    {
                        label: this.trans('template.progress'),
                        class:'',
                        check: false,
                        val:'progress',
                    },{
                        label: this.trans('template.filter_by_label'),
                        class:'',
                        check:false,
                        val:'labels',
                    },{
                        label: this.trans('template.filter_by_time'),
                        class:'',
                        check:false,
                        val:'timeline',
                    },{
                        label: this.trans('template.repeat_task'),
                        class:'',
                        check:false,
                        val:'repeat_task',
                    }
                ],
                labels: [
                    {
                        label: this.trans('template.filter_no_label'),
                        class: "",
                        check: false,
                        val: 'no_label'
                    },
                    {
                        label: this.trans('template.filter_label_no') + " 1",
                        class: "colap-rule-color rule-"+"1",
                        check: false,
                        val: 'label_1'
                    },
                    {
                        label: this.trans('template.filter_label_no') + " 2",
                        class: "colap-rule-color rule-"+"2",
                        check: false,
                        val: 'label_2'
                    },
                    {
                        label: this.trans('template.filter_label_no') + " 3",
                        class: "colap-rule-color rule-"+"3",
                        check: false,
                        val: 'label_3'
                    },
                    {
                        label: this.trans('template.filter_label_no') + " 4",
                        class: "colap-rule-color rule-"+"4",
                        check: false,
                        val: 'label_4'
                    },
                    {
                        label: this.trans('template.filter_label_no') + " 5",
                        class: "colap-rule-color rule-"+"5",
                        check: false,
                        val: 'label_5'
                    },
                    {
                        label: this.trans('template.filter_label_no') + " 6",
                        class: "colap-rule-color rule-"+"6",
                        check: false,
                        val: 'label_6'
                    }
                ],
                users: []
            },
            member_result: [],
            is_admin: false
        };
    },
    methods: {
        warn_remove_plan(){
            swal({
                title: this.trans('template.remove_plan_warning'),
                type: 'warning',
                input: 'checkbox',
                inputPlaceholder: this.trans("template.remove_plan_checkbox"),
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                inputValidator: (result) => {
                    return !result && this.trans("template.remove_plan_checkbox_confirm")
                },
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
                    fetch(window.api_url + "/delete-plan/"+this.group_info.Id)
                    .then(res => res.json())
                    .then(res => {
                        if (!res.status) {
                            swal({
                                text: res.msg,
                                type: 'warning',
                            });
                            return false;
                        }
                        swal({
                            title: this.trans("template.delete_plan_successful"),
                            type: 'success'
                        });
                        this.$emit('removePlan', this.group_info);
                    });
                }
            });
        },
        show_edit_plan_modal(){
            document.getElementById('update-plan-modal').classList.add('in');
        },
        set_show_mode(_mode){
            this.$emit('changeShowMode', _mode);
        },
        copy_group_to_clip_board(){
            var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = window.location.origin+'/'+window.location.pathname.split('/')[1];
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            swal({
                text: this.trans('template.group_link_copied'),
                type: 'success',
            });
        },
        toggle_status(){
            fetch(window.api_url + "/toogle-plan-status", {
                method: "post",
                body: JSON.stringify({
                    group_id: this.group_info.Id
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.group_info.Status = !this.group_info.Status;
            });
        },
        toggle_favorite(){
            fetch(window.api_url + "/toggle-favorite-plan", {
                method: "post",
                body: JSON.stringify({
                    group_id: this.group_info.Id
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.group_info.is_favorite = !this.group_info.is_favorite;
                for (var i = 0; i < this.groups.length; i++) {
                    if (this.groups[i].Id == this.group_info.Id) {
                        this.groups[i].is_favorite = this.group_info.is_favorite;
                        break;
                    }
                }
            });
        },
        remove_member(mem){
            fetch(window.api_url + "/remove-plan-member", {
                method: "post",
                body: JSON.stringify({
                    group_id: this.group_info.Id,
                    user_id: mem.uid
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                for (var i = 0; i < this.users_in_group.length; i++) {
                    if(this.users_in_group[i].uid === mem.uid){
                        this.users_in_group.splice(i, 1);
                        break;
                    }
                }
            });
        },
        select_user(mem){
            fetch(window.api_url + "/add-plan-member", {
                method: "post",
                body: JSON.stringify({
                    group_id: this.group_info.Id,
                    user_id: mem.uid
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.users_in_group.push(mem);
            });
            this.member_result = [];
            document.querySelector('.symper-member .drop-setting-input input').value = '';
        },
        find_user(e){
            let _key = this.remove_latin_accent( e.target.value.trim().toLowerCase() );
            if (_key.length) {
                this.member_result = this.users.filter( u => {
                    return (u.email.toLowerCase().includes(_key) || this.remove_latin_accent(u.fullname.toLowerCase()).includes(_key)) && !this.users_in_group.filter(user => { return user.uid == u.uid}).length;
                });
            }
            else{
                this.member_result = [];
            }
        },
        get_avatar_name(name){
            if (!name.length) { return '';}
            name = name.split(' ');
            if (name.length > 1) {
                return name[0][0] + name[1][0];
            }
            return name[0][0];
        },
        checkFilter2(value){
            for (let i = 0; i < this.filter.groups.length; i++) {
                if(this.filter.groups[i].val == value){
                    this.filter.groups[i].check = true;
                    this.checked_group = this.filter.groups[i].label;
                    if (this.filter.groups[i].val == 'timeline') {
                        this.set_show_mode('timeline');
                    }
                }else{
                    this.filter.groups[i].check = false;
                }
            }
        },
        reset_filter(){
            this.filter.keyword = '';
            for (let index = 0; index < this.filter.date.length; index++) {
                this.filter.date[index].check = false;                
            }
            for (let index = 0; index < this.filter.labels.length; index++) {
                this.filter.labels[index].check = false;                
            }
            for (let index = 0; index < this.filter.users.length; index++) {
                this.filter.users[index].check = false;                
            }
        },
        add_close_on_click_outside(){
            
            // Detect all clicks on the document
            document.addEventListener("click", function(event) {
                if (event.target.closest(".symper-bucket")) {
                    var box = document.querySelector(".symper-filter");
                    box.children[0].checked = false;
                    box = document.querySelector(".symper-member");
                    box.children[0].checked = false;
                    return
                };
                if (event.target.closest(".symper-filter")) {
                    var box = document.querySelector(".symper-bucket");
                    box.children[0].checked = false;
                    box = document.querySelector(".symper-member");
                    box.children[0].checked = false;
                    return
                };
                if (event.target.closest(".symper-member")) {
                    var box = document.querySelector(".symper-bucket");
                    box.children[0].checked = false;
                    box = document.querySelector(".symper-filter");
                    box.children[0].checked = false;
                    return
                };
                var box = document.querySelector(".symper-filter");
                if (box != null) {
                    box.children[0].checked = false;
                }
                var box2 = document.querySelector(".symper-bucket");
                if (box2 != null) {
                    box2.children[0].checked = false;
                }
                var box3 = document.querySelector(".symper-member");
                if (box3 != null) {
                    box3.children[0].checked = false;
                }
            });
        }
    },
    props: {
        group_info: {
            type: Object,
            defaul: {}
        },
        groups: {
            type: Array,
        },
        users: {
            type: Array,
            defaul: []
        },
        users_in_group: {
            type: Array,
            defaul: []
        },
        show_mode: {
            type: String,
            default: ''
        }
    },
    created(){
        this.filter.users.push({
            uid: 0,
            fullname: this.trans('template.not_assigned_yet'),
            check: false
        });
        let _this = this;
        setTimeout(function(){
            for (var i = 0; i < _this.users_in_group.length; i++) {
                _this.filter.users.push({
                    uid: _this.users[i].uid,
                    check: false,
                    fullname: _this.users[i].fullname,
                    email: _this.users[i].email,
                    avatar: _this.users[i].avatar
                });
            }
            _this.is_admin = _this.current_user_is_group_admin(_this.group_info);
        }, 1000);
        this.add_close_on_click_outside();
    },
    watch: {
        filter: {
            handler: function(val){
                this.$emit('filter_task', val);
            },
            deep: true
        },
        group_info:{
            handler: function(val){
                this.is_admin = this.current_user_is_group_admin(val);
                if ("3ABSFT4B" == val.Id) {
                    this.checkFilter2('progress');
                    this.$emit('filter_task', this.filter);
                }else{
                    this.checkFilter2('container');
                    this.$emit('filter_task', this.filter);
                }
            },
            deep: true
        } 
    }
};
</script>
