<template>
    <div id="main">
        <div class="mail-box">
            <main-content></main-content>
        </div>
    </div>
</template>

<script>
import symperHeader from "./Header/Header";
import mainContent from "./Main/MainContent";
export default {
    data() {
        return {};
    },
    components: {
        symperHeader,
        mainContent
    },
    created(){
    }
};
</script>