<template>
  <div class="group-pie-chart">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">
      <GChart
        type="PieChart"
        :data="pie_data"
        :options="chartOptions"
      />    
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col" style="padding-bottom: 10px;position: relative;margin-top: -40px;">
      <div class="legends-item" v-for="(data, index) in pie_data" :key="'pie-legend-num-'+index" v-if="index">
        <div class="pull-left legends-title"> 
          <div class="legends-color" :class="'legends-item-'+index"></div>
          <span>{{data[0]}}</span>
        </div>
        <div class="pull-right">
          <strong>{{data[1]}}</strong>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .group-pie-chart{
    background-color: #fff;
    display: inline-block;
    width: 100%;
    position: relative;
    top: -40px;
    z-index: 1;
    max-height: 300px;
  }
  .legends-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    float: left;
    border-radius: 2px;
    margin-right: 5px;
    margin-top: 5px;
  }
  .legends-item-1{
    background-color: #c8c8c8;
  }
  .legends-item-2{
    background-color: #408ab7;
  }
  .legends-item-3{
    background-color: #d63867;
  }
  .legends-item-4{
    background-color: #64b564;
  }
  .legends-item {
      position: relative;
      z-index: -1;
  }
</style>
<script>
import { GChart } from "vue-google-charts";
export default {
  components: {
    GChart
  },
  data() {
    return {
      chartOptions: {
        pieHole: 0.75,
        height: 250,
        width: '100%',
        pieSliceText: 'none',
        slices: {
            0: { color: '#c8c8c8' },
            1: { color: '#408ab7' },
            2: { color: '#d63867' },
            3: { color: '#64b564' }
          },
        legend: {
          position: 'none'
        },
        animation: {
          duration: 1500,
          easing: 'linear',
          startup: true
        },
        backgroundColor: 'transparent'
      },
      pie_data: []
    };
  },
  methods: {
    set_chart_data(){
      this.pie_data = [
          ["Trạng thái", "Giá trị"],
          [this.trans('template.task_status_not_start'), this.group.not_start_yet],
          [this.trans('template.task_status_working'), this.group.on_working],
          [this.trans('template.late'), this.group.missing_deadline],
          [this.trans('template.task_status_done'), this.group.done]
        ];
    },
  },
  props: {
    group: {
      type: Object
    }
  },
  created(){
    let _this = this;
    setTimeout(function() {
      _this.set_chart_data();
    }, 1000);
  }
};
</script>