.symper-groups{
	width: 100%;
    height: 100vh;
    padding: 10px 20px;
    display: block;
    .row{
    	padding-right: -7.5px;
    	padding-left: -7.5px;
	    height: calc(100vh - 80px);
	    display: block;
	    overflow: auto;
	    padding-bottom: 15px;
    }
    .symper-single-group{
	    padding-top: 15px;
	    padding-bottom: 15px;
	    padding-right: 7.5px;
	    padding-left: 7.5px;
	    .symper-group-wrapper {
		    border: 1px solid #ffffff;
		    padding: 10px;
		    border-radius: 3px;
		    display: flex;
		    background-color: #ffffff;
		    cursor: pointer;
	        position: relative;
		    .symper-group-avatar {
		        position: relative;
			    z-index: +10;
			    width: 50px;
			    height: 50px;
			    display: inline-block;
			    background: #f93a3a;
			    color: #fff;
			    text-align: center;
			    line-height: 50px;
			    font-size: 20px;
			    text-transform: uppercase;
			    font-weight: bold;
			}
			.symper-group-detail {
			    width: calc(100% - 50px);
			    display: inline;
			    height: 50px;
			    line-height: normal;
			    padding-left: 10px;
			    .symper-group-name {
				    font-weight: bold;
				    height: 30px;
				    position: relative;
				    padding-right: 30px;
				    span{
			    	    line-height: 15px;
					    width: 100%;
					    height: 30px;
					    display: inline-block;
					    overflow: hidden;
					    white-space: normal;
					    position: relative;
					    z-index: +10;
				    }
				    .tgl-favorite-btn{
						position: absolute;
						bottom: -20px;
						right: 0;
					    z-index: +100;
						i.ms-Icon.ms-Icon--FavoriteStarFill{
						    color: #fd8200;
						}
					}
				    a.nav-link {
					    position: absolute;
					    top: 0;
					    right: 0;
					    display: block;
					    &:hover {
					    	ul {
					    		display: block;
				    		    left: -50%;
							    width: 200px;
							    top: 100%;
							    transform: translate(-85%, 0%);
							    animation: slide-up 0.2s;
					    	}
					    }
					}
				}
				.symper-group-status {
				    position: relative;
				    bottom: -5px;
				    left: 0;
				}
			}
		}
	}
}
@media only screen and (min-width: 1600px) {
	.symper-single-group{
		width: calc(100% / 6);
	}
}
.slide-left-enter-active {
  animation: slide-left .2s;
}
.slide-left-leave-active {
  animation: slide-left .2s reverse;
}
@keyframes slide-left {
  0% {
    left: 0;
  }
  100% {
    left: -999999px;
  }
}

@keyframes slide-up{
	0%{
		top: 130%;
	}
	100%{
		top: 100%;
	}
}