<template>
	<div class="symper-groups">
		<div class="symper-group-header">
			<div class="h2">
				{{trans('template.welcome_text')}}
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12 h4" v-if="favorites_plan.length">
                {{trans('template.favorites_plan')}}
            </div>
            <div v-if="favorites_plan.length">
                <div class="symper-single-group col-xs-6 col-sm-4 col-md-3 col-lg-3" 
                    v-for="gr in favorites_plan" :key="'favorite-group-'+gr.Id"
                    @click="select_group(gr)" >
                    <div class="symper-group-wrapper">
                        <div class="symper-group-avatar">
                            {{ get_group_avatar_name(gr.Name) }}
                        </div>
                        <div class="symper-group-detail">
                            <div class="symper-group-name">
                                <span>
                                    {{gr.Name}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <group-chart :group="gr" />
                </div>
            </div>
			<div class="col-xs-12 h4">
				{{trans('template.your_plan_text')}}
			</div>
			<div class="symper-single-group col-xs-6 col-sm-4 col-md-3 col-lg-3" 
				v-for="gr in groups" 
				:key="gr.Id+'-group'"
				@click="select_group(gr)"
			>
				<div class="symper-group-wrapper">
					<div class="symper-group-avatar">
						{{ get_group_avatar_name(gr.Name) }}
					</div>
					<div class="symper-group-detail">
						<div class="symper-group-name">
							<span>
								{{gr.Name}}
							</span>
							<a href="javascript:void(0);" 
								v-if="gr.Id != undefined" 
								class="tgl-favorite-btn" @click.stop="toggle_favorite(gr)" 
								:title="gr.is_favorite ? trans('template.remove_favorite') : trans('template.add_favorite')"
								>
								<i class="ms-Icon" :class="{ 'ms-Icon--FavoriteStarFill': gr.is_favorite, 'ms-Icon--FavoriteStar': !gr.is_favorite }"></i>
							</a>
							<a class="nav-link" href="javascript:void(0)">
		                        <i class="ms-Icon ms-Icon--More"></i>
		    					<ul class="dropdown-menu drop-setting">
		    						<li v-if="gr.from !== 'core'">
		                                <a href="javascript:void(0);" v-if="gr.is_favorite" @click.stop="toggle_favorite(gr)">
		                                    {{trans('template.remove_favorite')}}
		                                </a>
		    							<a href="javascript:void(0);" v-if="!gr.is_favorite" @click.stop="toggle_favorite(gr)">
		                                    {{trans('template.add_favorite')}}
		                                </a>
		    						</li>
		    						<li>
		    							<a href="javascript:void(0);" @click.stop="copy_group_to_clip_board(gr.Id)">
		                                    {{trans('template.copy_group_url')}}                     
		                                </a>
		    						</li>
		    						<!-- <li v-if="gr.from !== 'core'">
		                                <a href="javascript:void(0);" @click.stop="show_edit_plan_modal">
		                                    {{trans('template.group_setting')}}
		                                </a>
		                            </li> -->
		                            <!-- <li v-if="gr.from !== 'core'">
		    							<a href="javascript:void(0);" @click.stop="warn_remove_plan">
		                                    {{trans('template.remove_plan')}}
		                                </a>
		    						</li> -->
		    					</ul>
		                    </a>
						</div>
						<div class="symper-group-status">
							{{gr.Status ? trans('template.public_status') : trans('template.private_status') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="sass" scoped>
    @import './groups.scss'
</style>


<script>
import swal from 'sweetalert2';
import groupChart from './Group-Chart.vue';
export default {
	data(){
		return {
            favorites_plan: [],
		};
	},
    components: {
        groupChart
    },
	methods: {
		get_group_avatar_name(name){
			if (!name.length) { return '';}
            name = name.split(' ');
            if (name.length > 1) {
                return name[0][0] + name[1][0];
            }
            return name[0][0];
        },
        select_group(group){
        	this.$emit('selectGroup', group);
        },
        toggle_status(group){
            fetch(window.api_url + "/toogle-plan-status", {
                method: "post",
                body: JSON.stringify({
                    group_id: group.Id
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                for (var i = 0; i < this.groups.length; i++) {
                    if (this.groups[i].Id == group.Id) {
                        this.groups[i].Status = !this.groups[i].Status;
                        break;
                    }
                }
            });
        },
        get_favorites_plans(){
            fetch(window.api_url + "/get-favorites-plans")
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    return false;
                }
                this.favorites_plan = res.data;
            });
        },
        toggle_favorite(group){
            fetch(window.api_url + "/toggle-favorite-plan", {
                method: "post",
                body: JSON.stringify({
                    group_id: group.Id
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                group.is_favorite = !group.is_favorite;
                for (var i = 0; i < this.groups.length; i++) {
                    if (this.groups[i].Id == group.Id) {
                        this.groups[i].is_favorite = group.is_favorite;
                        break;
                    }
                }
            });
        },
        copy_group_to_clip_board(group_id){
            var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = window.location.origin+'/'+group_id;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            swal({
                text: this.trans('template.group_link_copied'),
                type: 'success',
            });
        },
        // show_edit_plan_modal(){
        //     document.getElementById('update-plan-modal').classList.add('in');
        // },
        warn_remove_plan(group_id){
            swal({
                title: this.trans('template.remove_plan_warning'),
                type: 'warning',
                input: 'checkbox',
                inputPlaceholder: this.trans("template.remove_plan_checkbox"),
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                inputValidator: (result) => {
                    return !result && this.trans("template.remove_plan_checkbox_confirm")
                },
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
                    fetch(window.api_url + "/delete-plan/"+group_id)
                    .then(res => res.json())
                    .then(res => {
                        if (!res.status) {
                            swal({
                                text: res.msg,
                                type: 'warning',
                            });
                            return false;
                        }
                        swal({
                            title: this.trans("template.delete_plan_successful"),
                            type: 'success'
                        });
                        // this.$emit('removePlan', this.group_info);
                    });
                }
            });
        },
	},
	props: {
		groups: {
			type: Array,
			default: []
		}
	},
    created(){
        this.get_favorites_plans();
    }
};
</script>