$task_width: 280px;
$label_bg: #f0f0f0;
.tabs-task{
    &.is-filter{
        padding-top: 40px;
        &.open-add-form{
            padding-top: 240px;
        }
    }
    .smooth-dnd-container.vertical {
        width: $task_width;
    }
    
    
    height: calc(100vh - 200px);
    overflow-y: auto;
    transition: all 0.2s;
    margin-top: 10px;
    width: 300px;
    padding-right: 20px;
    .symper-tasks-done{
        width: 280px;
        margin-top: 25px;
        label{
            width: $task_width;
            padding: 0px 10px;
            height: 40px;
            line-height: 40px;
            background-color: $label_bg;
            cursor: pointer;
            i{
                transition: all 0.3s;
            }
        }
        .done-tasks-wrapper{
            display: none;
            opacity: 0;
            animation: pop_up 0.5s reverse;
        }
        input[type="checkbox"]{
            display: none;
            &:checked + label i{
                transform: rotate(180deg);
            }
            &:checked ~ .done-tasks-wrapper{
                display: block;
                opacity: 1;
                animation: pop_up 0.5s;
            }
        }
    }
}
.tabs-table-item {
    position: relative;
    width: $task_width;
    .note-title{
        >span {
            padding: 10px 10px;
            display: block;
            background-color: $label_bg;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            span.task-rule-button {
                width: 10px;
                height: 10px;
                display: inline-block;
            }
            span.ms-Icon.status-icon:before {
                top: 2px;
                position: relative;
            }
            span.ms-Icon{
                &.ms-Icon--CircleHalfFull{
                    color: #7272ce;
                }
                &.ms-Icon--Accept{
                    color: rgb(50, 193, 101);
                }
                &.ms-Icon--CircleRing{
                    font-size: 12px;
                    &:before{
                        top: 1px !important;
                    }
                }
            }
        }
        input.tabs-input { 
            position: relative; 
            width: 100%; 
            padding: 10px; 
            background: rgb(240, 240, 240); 
            border: 0;
            outline: none;
            padding-right: 30px;
            font-weight: bolder;
        }
    }
    .tabs-table-icon { 
        position: absolute; 
        right: 10px; 
        top: 10px; 
        font-size: 120%;
        cursor: pointer;
    }
}
.task-add {
    width: $task_width;
}
.tabs-task .smooth-dnd-container.vertical.empty{
    height: calc(100vh - 280px);
}
.task-table-add{
    width: $task_width;
    margin-top: 20px;
    margin-bottom: -15px;
    .adding-task-form{
        margin-top: 25px;
        background: rgb(255,255,255);
        transition: all 0.2s;
        font-size: 16px; 
        text-align: center; 
        margin: 5px 0;
        display: block;
        height: 0;
        overflow: hidden;
        transition: all 0.2s;
        transform: scale(0);
        width: $task_width;
        .task-sbm{
            padding: 10px;
            button{
                border-radius: 0px;
                border: 0;
                box-shadow: none;
                background-color: rgb(129, 131, 185) !important;
                color: rgb(255,255,255);
                outline: none;
                &:hover{
                    background-color: rgb(129, 131, 185);
                    background-position: 0%;
                }
            }
        }
    }
    label.btn-show-adding-from{
        width: 100%; 
        background: rgb(255, 255, 255);
        margin-bottom: 0;
        padding: 10px;
        transition: all 0.5s;
        text-align: center;
        position: relative;
        &:hover{
            background: rgb(129, 131, 185); 
            color: rgb(255, 255, 255);
            cursor: pointer;
            &:before{
                z-index: +100000;
                display: block;
                animation: fadeIn 100ms linear;
            }
            &:after{
                z-index: +100000;
                display: block;
                border-width: 8px;
            }
        }
        &:before{
            content: attr(data-label);
            min-width: 200px;
            padding: 10px;
            text-align: center;
            background-color: rgba(129, 131, 185, 0.9);
            display: none;
            position: absolute;
            top: 60px;
            left: 30px;
        }
        &:after{
            content: '';
            border: 0px solid transparent;
            border-bottom-color: rgba(129, 131, 185, 0.9);
            display: none;
            position: absolute;
            top: 44px;
            left: 125px;
            transition: all 0.2s;
        }
        i{
            transition: transform 0.5s;
            font-size: 120%;
        }
    } 
    input[type="checkbox"]{
        &:checked ~ div.adding-task-form{
            height: auto;
            min-height: 150px;
            transform: scale(1);
        }
        &:checked + .task-add label i{
            transform: rotate(45deg) scale(1.1);
        }
        &:checked + .task-add label{
            background: rgb(129, 131, 185); 
            color: rgb(255, 255, 255);
        }
    }
    .task-input{
        padding: 5px 10px;
        input.task-input { 
            background: rgb(240, 240, 240); 
            border: none; 
            margin: 10px 0; 
            padding: 10px; 
            font-size: 14px; 
            width: 100%;
            outline:none;
        }
    } 
    .task-time{
        button{
            background: none; 
            border: 0; 
            width: 100%; 
            margin-bottom: 10px; 
            text-align: left; 
            outline: none;
            padding: 0px 10px; 
            font-size: 14px;
            input.symper-asign-input {
                border: 0;
                border-bottom: 1px solid;
                outline: none;
            }
            i { 
                margin-right: 5px; 
            }
        }
        .symper-task-member{
            width: 100%;
            font-size: 14px;
            .symper-member-name{
                text-align: left;
            }
        }
        .symper-asign-result {
            display: inline-block;
            width: 100%;
            .symper-member-avatar {
                margin-right: 0px;
                width: 35px;
                height: 35px;
                font-size: 13px;
                line-height: 35px;
                transition: all .3s linear;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                img{
                    width: 35px;
                    height: 35px;
                }
                &:hover:before {
                    content: 'x';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(72, 68, 68, 0.7);
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    } 
}
.smooth-dnd-container.vertical .smooth-dnd-draggable-wrapper {
    // overflow-y: auto;
    &:last-of-type{
        margin-bottom: 20px;
    }
}
#card-detail-model{
    .vdatetime-input{
        display: none;
    }
}
.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
    cursor: hand;
}

.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
}
.fade-enter-active, .fade-leave-active {
  transition: all 0.3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: scale(0.8)
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop_up{
    0%{
        margin-top: 50px;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}
