<template>
    <div class="tabs-table connectedSortable" 
        :id="'symper-board-'+note.note_id" 
        v-show="!hidden_board_all_done || (hidden_board_all_done && done_tasks.length !== note.cards.length)"
        >
        <datetime class="symper-datepicker theme-symper" v-model="global_expiry_date" :auto=true></datetime>
        <div class="tabs-table-item">
            <div class="note-title">
                <span v-show="mode.length || note.type == 'synce_from_plans' || note.type == 'my-staff'">
                    <strong>
                        <span v-if="note.class != undefined" :class="note.class"></span>
                        {{note.title}}
                    </strong>
                </span>
                <input 
                    type="text" 
                    v-model="note.title" 
                    @change="update_title()" 
                    class="tabs-input"
                    v-show="!mode.length && note.type != 'synce_from_plans' && note.type != 'my-staff'"
                >
            </div>
            <i class="ms-Icon ms-Icon--Delete tabs-table-icon" v-show="!mode.length && (is_note_owner || is_group_admin) && '3ABSFT4B' != note.note_id" @click="confirm_to_delete"></i>
        </div>

        <div class="task-table-add" v-show="!mode.length && note.type != 'synce_from_plans' && note.type != 'my-staff'">
            <input type="checkbox" class="hidden" 
                :id="'adding-card-for-note-'+note.note_id"
                >
            <div class="task-add" v-show="!mode.length">
                <label class="btn-show-adding-from" 
                    :for="'adding-card-for-note-'+note.note_id" 
                    :data-label="trans('template.add_new_task_title')">
                    <i class="ms-Icon ms-Icon--Add" ></i>
                </label>
            </div>
            <div class='adding-task-form' v-show="!mode.length">
                <div class="task-block">
                    <div class="task-input">
                        <input type="text" 
                            :placeholder="trans('template.new_task_title')" 
                            v-model="new_task.card_title" 
                            @keyup.enter.prevent="add_new_card()"
                            class="task-input">
                    </div>
                    <div class="task-time">
                        <button class="datepicker">
                            <i class="ms-Icon ms-Icon--CalendarDay"></i>
                            <span @click="show_date_picker()"> 
                                <span v-show="new_task.expiry_date == ''">
                                    {{ trans('template.expire_date_label') }} 
                                </span>
                                <span v-show="new_task.expiry_date != ''">
                                    {{ trans('template.expire_in_date') + ' ' + get_date_and_month(new_task.expiry_date) }} 
                                </span>
                            </span>
                        </button>
                    </div>
                    <div class="task-time" v-if="'3ABSFT4B' !== group_info.Id">
                        <button>
                            <i class="ms-Icon ms-Icon--AddFriend"></i>
                            <span v-show="!show_asign_form" @click="show_asign_form = !show_asign_form">
                                {{trans('template.assign')}}
                            </span>
                            <input 
                                type="text" class="symper-asign-input" 
                                v-show="show_asign_form" 
                                @change="show_asign_form = !show_asign_form" 
                                :placeholder="trans('template.find_member_placeholder')" 
                                @keyup="find_user()" 
                                v-model="keyword"
                            >
                        </button>
                        <transition name="fade">
                            <div class="symper-show-asign-member" v-show="keyword.trim().length && show_asign_form">
                                <div class="symper-task-member" 
                                    v-for="user in member_results" 
                                    :key="'result-'+user.uid" 
                                    @click.stop="assign_user(user)">
                                    <div class="symper-member-avatar">
                                        <img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
                                        <span v-if="!user.avatar.length">
                                            {{get_user_avatar_name(user.fullname)}}
                                        </span>
                                    </div>
                                    <div class="symper-member-name">
                                        <a href="javascript:void();">
                                            <span>{{user.fullname}}</span>
                                        </a>
                                    </div>
                                </div>
                                <strong v-if="!member_results.length">{{trans('template.no_user_found')}}</strong>
                            </div>
                        </transition>
                        <div class="symper-asign-result" v-show="member_selected.length">
                            <div class="symper-member-avatar" 
                                :title="trans('template.click_to_remove') + ' ' + user.fullname" 
                                v-for="user in member_selected" 
                                @click.stop="remove_user(user)" 
                                :key="'result-'+user.uid">
                                <img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
                                <span v-if="!user.avatar.length">
                                    {{get_user_avatar_name(user.fullname)}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="task-sbm">
                        <button type="submit" @click.stop="add_new_card()" class="btn form-control">
                            {{ trans('template.add_new_task_title') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-task">
            <Container  :class="{'empty':!done_tasks.length}"
                :animation-duration="200" 
                @drop="(e) => drop_task(e)" 
                :get-child-payload="get_card_payload()" 
                :should-accept-drop="(container, payload) => shouldAcceptDrop(container, payload)"
                drag-class="card-ghost"
                drop-class="card-ghost-drop"
                group-name="item"
                orientation='vertical'
            >            
                <Draggable 
                    v-for="task in note.cards" 
                    :key="task.position+'-'+task.note_id+'-'+task.card_id+task.status"
                >
                    <symper-task class="draggable-item" 
                        :card="task" :users="users" 
                        :note_slug="note.slug"
                        :note_type="note.type"
                        :users_in_group="users_in_group" 
                        v-show="task.status < 2 || (note.type == 'progress'  && note.type != undefined)"
                        :key="'task-'+task.card_slug"
                        @updateStatus="update_status($event)"
                        @updateUrgent="update_urgent($event)"
                        @showCard="show_card($event)"
                        @deleteCard="remove_task($event)"
                        @updateMembers="update_members($event)"
                        @updateSchedule="update_schedule($event)"
                        @showDatePicker="show_date_picker">
                    </symper-task>
                </Draggable>
            </Container>
            <div class="symper-tasks-done" v-show="done_tasks.length && note.type != 'progress'" >
                <input type="checkbox" :id="note.note_id+'open-done-tasks-'+note.title">
                <label :for="note.note_id+'open-done-tasks-'+note.title">
                    {{done_tasks.length}}{{trans('template.done_tasks_label')}}
                    <i class="ms-Icon ms-Icon--ChevronDown pull-right"></i>
                </label>
                <div class="done-tasks-wrapper">
                    <symper-task class="draggable-item symper-task-done"
                        :card="task" :users="users" 
                        :note_slug="note.slug"
                        :note_type="note.type"
                        :users_in_group="users_in_group" 
                        v-for="task in done_tasks" 
                        :key="'done-task-'+task.card_slug"
                        @updateStatus="update_status($event)"
                        @showCard="show_card($event)" 
                        @deleteCard="remove_task($event)"
                        @showDatePicker="show_date_picker">
                    </symper-task>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="sass" scoped>
    @import "board.scss"
</style>

<script>
import task from "./Task";
import swal from 'sweetalert2'
import { Container, Draggable } from "vue-smooth-dnd";
export default {
    data() {
        return {
            new_task: {
                card_title: '',
                expiry_date: '',
                //   user: ''
            },
            global_expiry_date: '',
            current_card : null,
            show_asign_form: false,
            keyword: '',
            member_results: [],
            member_selected: [],
            done_tasks: [],
            is_note_owner: false,
            is_group_admin: false,
            calling_api: false
        };
    },
    components: {
        symperTask: task,
        Container, 
        Draggable
    },
    props: {
        note: {
            type: Object,
            default: {}
        },
        users: {
            type: Array,
            default: []
        },
        users_in_group: {
            type: Array,
            default: []
        },
        boards: {
            type: Array,
            default: []
        },
        group_info: {
            type: Object,
            default: {}
        },
        mode:{
            type: String,
            default: ''
        },
        hidden_board_all_done: {
            type: Boolean
        }
    },
    methods: {
        confirm_to_delete(){
            swal({
                title: this.trans('template.are_you_sure'),
                text: this.trans("template.delete_explain_text"),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
                    fetch(window.api_url + "/delete-note/"+this.note.note_id)
                    .then(res => res.json())
                    .then(res => {
                        if (!res.status) {
                            swal({
                                text: res.msg,
                                type: 'warning',
                            });
                            return false;
                        }
                        swal({
                            title: this.trans("template.delete_note_successful"),
                            type: 'success'
                        });
                        this.$emit('deleteNote', this.note.note_id);
                    });
                }
            });
        },
        shouldAcceptDrop(group, item){
            if (this.note.type == 'my-staff' || this.note.type == 'synce_from_plans') {
                return false;
            }
            return group.groupName == "item";
        },
        show_card(card) {
            this.$emit("showDetail", {card: card});
        },
        update_title() {
            let data = {
                title: this.note.title.trim(),
                note_id: this.note.note_id
            };
            fetch(window.api_url + "/update-note", {
                method: "post",
                body: JSON.stringify(data),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.$emit('updateTitle', this.note);
            });
        },
        show_date_picker(card){
            this.global_expiry_date = '';
            document.querySelector('#symper-board-'+this.note.note_id+' .symper-datepicker .vdatetime-input').click();
            this.current_card = card;
        },
        get_date_and_month(date){
            date = new Date(date);
            return date.getDate() + '/' + (date.getMonth() + 1);
        },
        add_new_card(){
            if (this.calling_api) {
                return false;
            }
            let date = this.global_expiry_date;
            if(date != ''){
                date = date.split('T').join(' ').split('.');
                date = date[0];
                this.global_expiry_date = '';
            }
            this.calling_api = true;
            fetch(window.api_url + "/add-card", {
                method: "post",
                body: JSON.stringify({
                    note_id: this.note.note_id,
                    card_title: this.new_task.card_title,
                    expiry_date: date,
                    members: this.member_selected.map(user => {return user.uid})
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                this.calling_api = false;
                if (res.status) {
                    res.data.todolist = [];
                    res.data.totalComment = 0;
                    this.note.cards.reverse()
                    this.note.cards.push(res.data);
                    this.note.cards.reverse();
                    this.new_task = {
                        card_title: '',
                        expiry_date: ''
                    }
                    this.$emit('doFilterAgaint', res.data);
                    document.getElementById('adding-card-for-note-'+this.note.note_id).checked = false;
                    this.member_results = [];
                    this.member_selected = [];
                    this.keyword = '';
                }else{
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                }
            });
        },
        remove_task(task){
            this.$emit('deleteCard', task);
        },
        drop_task(task){
            if (this.note.type == 'my-staff' || this.note.type == 'synce_from_plans') {
                return false;
            }
            let { removedIndex, addedIndex, payload } = task;
            if (removedIndex === null && addedIndex === null) return false;
            // Di chuyển tác vụ trong bộ chứa
            if(removedIndex != null && addedIndex != null){
                this.note.cards = this.applyDrag(this.note.cards, task);
                let arr_len = this.note.cards.length;
                for (var i = 0; i < this.note.cards.length; i++) {
                    this.note.cards[i].position = arr_len-i+1;
                    if (!this.mode.length)
                    this.update_card_position(this.note.cards[i]);
                }
            }
            // Di chuyển tác vụ từ bộ chứa này sang bộ chứa khác
            else{
                this.move_card_to_board(task);
                return false;
            }
        },
        applyDrag(arr, task){
            let { removedIndex, addedIndex, payload } = task;
            if (removedIndex == null && addedIndex == null) return arr;
            let result = [...arr];
            let itemToAdd = payload;
            let result_length = result.length;
            if (removedIndex !== null) {
                itemToAdd = result.splice(removedIndex, 1)[0];
            }
            if (addedIndex !== null) {
                result.splice(addedIndex, 0, itemToAdd);
            }
            return result;
        },
        move_card_to_board(task){
            if(this.note.type == 'synce_from_plans') return false;
            // Loại bỏ tác vụ đã di chuyển khỏi bộ chứa
            if (task.removedIndex != null) {
                for (let i = 0; i < this.boards.length; i++) {
                    if (this.mode.length) {
                        if (this.note.type == "progress") {
                            if (this.boards[i].title == this.note.title) {
                                this.boards[i].cards.splice(task.removedIndex, 1);
                            }
                            this.$emit('changeBoards', this.boards);
                        }
                        else if (this.note.type == "labels") {
                            if (this.boards[i].val == this.note.val) {
                                this.boards[i].cards.splice(task.removedIndex, 1);
                            }
                            this.$emit('changeBoards', this.boards);
                        }
                    }else{
                        if (this.boards[i].note_id === this.note.note_id) {
                            this.boards[i].cards.splice(task.removedIndex, 1);
                            this.$emit('changeBoards', this.boards);
                            break;
                        }
                    }
                }
            }
            // Thêm tác vụ mới chuyển vào bộ chứa
            else if (task.addedIndex != null) {
                for (let i = 0; i < this.boards.length; i++) {
                    if (this.mode.length) {
                        // Đang filter theo tiến độ
                        if (this.note.type == "progress") {
                            if (this.boards[i].title == this.note.title) {
                                task.payload.status = this.boards[i].status;
                                this.boards[i].cards.splice(task.addedIndex, 0, task.payload);
                                let data = {
                                    note_id: task.payload.note_id,
                                    card_id: task.payload.card_id,
                                    status: task.payload.status
                                }
                                fetch(window.api_url + "/update-card", {
                                    method: "post",
                                    body: JSON.stringify(data),
                                    headers: { "content-type": "application/json" }
                                })
                                .then(res => res.json())
                                .then(res => {
                                    if (!res.status) {
                                        alert(res.msg);
                                        return false;
                                    }
                                    this.$emit('doFilterAgaint', task.payload);
                                    this.done_tasks = this.note.cards.filter(task => task.status == 2);
                                });
                            }
                            this.$emit('changeBoards', this.boards);
                        }
                        // Filter theo nhãn dán
                        else if (this.note.type == "labels") {
                            if (this.boards[i].val == this.note.val) {
                                let label_index = -1;
                                // remove toàn bộ các label
                                for (var j = 0; j < task.payload.labels.length; j++) {
                                    task.payload.labels[j].check = 0;
                                }
                                this.uncheck_label(task.payload.card_id);
                                // Check label
                                if (this.note.val != "no_label") {
                                    label_index = this.note.val.split('_')[1];
                                    label_index = parseInt(label_index) - 1;
                                    task.payload.labels[label_index].check = 1;
                                    this.check_label( task.payload.card_id, task.payload.labels[label_index].label_id );
                                }
                                this.boards[i].cards.splice(task.addedIndex, 0, task.payload);
                                this.$emit('doFilterAgaint', task.payload);
                                this.done_tasks = this.note.cards.filter(task => task.status == 2);
                            }
                        }
                    }else{
                        if (this.boards[i].note_id === this.note.note_id) {
                            this.boards[i].cards.splice(task.addedIndex, 0, task.payload);
                            let arr_len = this.boards[i].cards.length;
                            for (var j = 0; j < this.boards[i].cards.length; j++) {
                                this.boards[i].cards[j].position = arr_len-j+1;
                                this.update_card_position(this.boards[i].cards[j]);
                            }
                            fetch(window.api_url + "/move-card-to-note", {
                                method: "post",
                                body: JSON.stringify({
                                    card_id: task.payload.card_id,
                                    to_note: this.note.note_id,
                                }),
                                headers: { "content-type": "application/json" }
                            })
                            .then(res => res.json())
                            .then(res => {
                                if (!res.status) {
                                    swal({
                                        text: res.msg,
                                        type: 'warning',
                                    });
                                    return false;
                                }
                                this.$emit('changeBoards', this.boards);
                            });
                            break;
                        }
                    }
                }
            }
        },
        check_label(_card_id, _label_id){
            fetch(window.api_url + "/update-label", {
                method: "post",
                body: JSON.stringify({
                    card_id: _card_id,
                    label_id: _label_id,
                    val : 1,
                    field: 'check',
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {});
        },
        uncheck_label(_card_id){
            fetch(window.api_url + "/uncheck-labels", {
                method: "post",
                body: JSON.stringify({
                    card_id: _card_id
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {});
        },
        update_status(task){
            this.done_tasks = this.note.cards.filter(_task => {return _task.status == 2});
            this.$emit('doFilterAgaint', task);
        },
        update_urgent(task){
            this.$emit('doFilterAgaint', task);
        },
        update_card_position(card){
            if (card === undefined) {
                return false;
            }
            let data = {
                note_id: card.note_id,
                card_id: card.card_id,
                position: card.position
            }
            fetch(window.api_url + "/update-card", {
                method: "post",
                body: JSON.stringify(data),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {});
        },
        should_accept_drop(sourceContainerOptions, payload){
            if (this.note.type == 'synce_from_plans') {
                return false;
            }
            return !this.mode.length;
        },
        get_card_payload(){
            let _this = this;
            return index => {
                let note = _this.boards.filter( note => { 
                    if (this.note.note_id == undefined) return note.title == _this.note.title;
                    return note.note_id === _this.note.note_id;
                });
                if (note.length) {
                    return note[0].cards[index];
                }else{
                    return [];
                }
            }
        },
        find_user(){
            if (this.keyword.trim().length) {
                let key = this.remove_latin_accent(this.keyword.toLowerCase());
                this.member_results = this.users_in_group.filter(user => {
                    return ((this.remove_latin_accent(user.fullname.toLowerCase()).includes(key)) || (user.email.toLowerCase().includes(key))) && this.member_selected.map( member => member.uid).indexOf(user.uid) < 0;
                });
            }else{
                this.member_results = [];
            }
        },
        find_selected_user(uid){
            return this.users.filter(user => {
                return user.uid === uid;
            })[0];
        },
        get_user_avatar_name(name){
            name = name.split(' ');
            if (name.length > 2) {
                return name[name.length - 2][0]+name[name.length - 1][0];
            }else if(name.length > 2){
                return name[1][0]+name[0][0];
            }else{
                return name[0][0];
            }
        },
        assign_user(user){
            this.member_selected.push(user);
            this.show_asign_form = false;
            this.keyword = '';
            this.member_results = [];
        },
        remove_user(user){
            for (var i = 0; i < this.member_selected.length; i++) {
                if(this.member_selected[i].uid == user.uid){
                    this.member_selected.splice(i, 1);
                    return false;
                }
            }
        },
        update_members(data){
            this.$emit('updateTask', data);
        },
        update_schedule(data){
            this.$emit('updateTask', data);
        }
    },
    watch: {
        global_expiry_date: function(val){
            if (this.current_card == null) {
                this.new_task.expiry_date = val;
            }else{
                val = val.split('T').join(' ').split('.');
                val = val[0];
                this.current_card.expiry_date = val;
                let data = {
                    expiry_date: val,
                    note_id: this.current_card.note_id,
                    card_id: this.current_card.card_id
                };
                fetch(window.api_url + "/update-card", {
                    method: "post",
                    body: JSON.stringify(data),
                    headers: { "content-type": "application/json" }
                })
                .then(res => res.json())
                .then(res => {
                    this.$emit("doFilterAgaint", this.current_card);
                    if (res.status) {
                        this.current_card = null;
                    }
                });
            }
        },
        note: function(val){
            this.done_tasks = val.cards.filter(task => {return task.status == 2});
        }
    },
    created: function(){
        let _this = this;
        setTimeout(function() {
            _this.is_note_owner = _this.current_user_is_note_owner(_this.note);
            _this.is_group_admin = _this.current_user_is_group_admin(_this.group_info);
            _this.done_tasks = _this.note.cards.filter(task => task.status == 2);
        }, 1000);
    }
};

</script>
