<template>
    <div class="chart">
		<div class="row">
            <div class="symper-col">
                <div class="block-chart symper-col-chart">
                    <div class="col-chart-top">
                        <div class="col-chart-donut">
                            <!-- Tên bộ chứa -->
                            <div class="col-chart-status">
				            	<label>{{trans('template.status')}}</label>
				            </div>
                            <!-- Biểu đồ vành khăn -->
                            <div class="col-chart-body">
                                <div class="main-bucket">
			                  		<pie-chart ref="pie_chart" :pie_data="pie_data"></pie-chart>
			                  		<!-- Tổng số tác vụ chưa hoàn thành -->
									<div class="text-total">
										<div><strong>{{pie_data.length ? pie_data[1][1] : 0 }}</strong></div>
										<div>{{trans('template.tasks_left')}}</div>
									</div>
			                  	</div>
                                <!-- Chú thích màu sắc -->
			                  	<div class="col-chart-legends">
					              	<div class="legends-item" v-for="(data, index) in pie_data" :key="'pie-legend-num-'+index" v-if="index">
			              				<div class="pull-left">
			              					<div class="legends-color" :class="'legends-item-'+index"></div>
			              				</div>
			              				<div class="pull-left legends-title"> <span>{{data[0]}}</span></div>
			              				<div class="pull-right">
			              					<strong>{{data[1]}}</strong>
			              				</div>
			              				<div class="clearfix"></div>
			              			</div>
			              		</div>
                            </div>
                        </div>
                        <div class="col-chart-colum">
	                        <!-- Tên bộ chứa -->
	                        <div class="col-chart-status">
			                	<label>{{trans('template.bucket')}}</label>
			              	</div>
			              	<!-- Biểu đồ cột -->
			              	<div class="col-chart-body">
		                  		<bar-chart ref="bar_chart" :bar_data="bar_data"></bar-chart>
		                	</div>
                        </div>
                    </div>
                    <div class="col-chart-bot">
                        <!-- Tên bộ chứa -->
                        <div class="col-chart-status">
		              		<label>{{trans('template.members')}}</label>
		            	</div>
		            	<!-- Biểu đồ ngang -->
		            	<div class="col-chart-body">
		              		<horizontal-chart ref="horizontal_chart" :user_data="user_data"></horizontal-chart>   
		            	</div>
                    </div>
                </div>
                <div class="block-chart symper-col-task">
                    <div class="col-task">
                        <!-- Tác vụ -->
                        <div class="col-task-status">
                            <label>{{trans('template.tasks')}}</label>
                        </div>
                        <datetime class="symper-datepicker theme-symper" v-model="global_expiry_date" :auto=true></datetime>
						<symper-task
		                    :card="task" :users="users" 
		                    :users_in_group="users_in_group" 
		                    v-for="task in all_tasks" 
		                    :key="'charts-task-'+task.card_id+'-note-'+task.note_id"
		                    @updateStatus="update_status($event)"
		                    @showCard="show_card($event)"
		                    @showDatePicker="show_date_picker"
		                    @deleteCard="remove_task($event)"
		                   >
		                </symper-task>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<style lang="sass" scoped>
	@import 'chart.scss'
	@import 'board.scss'
</style>
<script>
import BarChart from "./Chart/BarChart.vue";
import Horizontal from "./Chart/Horizontal.vue";
import PieChart from "./Chart/PieChart.vue";
import symperTask from "./Task";
export default {
	data() {
	    return {
	    	pie_data: [],
	    	bar_data: [],
	    	user_data: [],
	    	all_tasks: [],
	    	current_card : null,
	    	global_expiry_date: ''
	    };
	},
	components: {
	    barChart: BarChart,
	    horizontalChart: Horizontal,
	    pieChart: PieChart,
	    symperTask
	},
	props: {
	  	group_info: {
	  		type: Object
	  	},
	  	temp_data: {
	  		type: Array
	  	},
	  	users_in_group: {
	  		type: Array
	  	},
	  	users: {
	  		type: Array
	  	},
	  	show_mode: {
	  		type: String
	  	}
	},
	methods: {
		remove_task(task){
			this.all_tasks = this.all_tasks.filter(_task => {
				return _task.card_id != task.card_id;
			});
            this.$emit('deleteCard', task);
        },
	  	update_status(task){
	        this.$emit('doFilterAgaint', task);
	    },
	    show_card(card) {
	        this.$emit("showDetail", {card: card});
	    },
	    show_date_picker(card){
	        this.global_expiry_date = '';
	        document.querySelector('.block-chart .symper-datepicker .vdatetime-input').click();
	        this.current_card = card;
	    },
	  	set_all_charts_data(){
	  		let all_cards = [];
	        for (var i = 0; i < this.temp_data.length; i++) {
	            all_cards = all_cards.concat(this.temp_data[i].cards);
	        }
	        this.all_tasks = all_cards;
	        let date = new Date();
	        let current_date = new Date(date.getFullYear(), date.getMonth(), date.getDate());
	  		this.pie_data = [
		  		["Trạng thái", "Giá trị"],
		        [this.trans('template.task_status_not_start'), all_cards.filter(card => {return card.status == 0}).length],
		        [this.trans('template.task_status_working'), all_cards.filter(card => {return card.status == 1}).length],
		        [this.trans('template.late'), all_cards.filter(card => {
		        	if (card.expiry_date == null) {
	                    return false;
	                }
		        	let expiry_date = card.expiry_date.split(" ")[0].split("-");
	                expiry_date = new Date(expiry_date[0], parseInt(expiry_date[1]) - 1, expiry_date[2]);
	                return (current_date.getTime() - expiry_date.getTime()) > 0;
		        }).length],
		        [this.trans('template.task_status_done'), all_cards.filter(card => {return card.status == 2}).length]
	  		];
	  		this.bar_data = [
	  			["Todo List", this.trans('template.task_status_not_start'), this.trans('template.task_status_working'), this.trans('template.late'), this.trans('template.task_status_done')],
	  		];
	  		for (var i = 0; i < this.temp_data.length; i++) {
	            this.bar_data.push([
	            	this.temp_data[i].title,
	            	this.temp_data[i].cards.filter(card => {return card.status == 0}).length,
	            	this.temp_data[i].cards.filter(card => {return card.status == 1}).length,
	            	this.temp_data[i].cards.filter(card => {
	            		if (card.expiry_date == null) {
		                    return false;
		                }
			        	let expiry_date = card.expiry_date.split(" ")[0].split("-");
		                expiry_date = new Date(expiry_date[0], parseInt(expiry_date[1]) - 1, expiry_date[2]);
		                return (current_date.getTime() - expiry_date.getTime()) > 0;
	            	}).length,
	            	this.temp_data[i].cards.filter(card => {return card.status == 2}).length,
	            ]);
	        }
	        this.user_data = [
	        	["Người thực hiện", this.trans('template.task_status_not_start'), this.trans('template.task_status_working'), this.trans('template.late'), this.trans('template.task_status_done')],
	        ];
	        if (!this.users_in_group.length) {
	            this.user_data.push([
	                this.current_user.fullname,
	                all_cards.filter(card => {return card.status == 0}).length,
			        all_cards.filter(card => {return card.status == 1}).length,
			        all_cards.filter(card => {
			        	if (card.expiry_date == null) {
		                    return false;
		                }
			        	let expiry_date = card.expiry_date.split(" ")[0].split("-");
		                expiry_date = new Date(expiry_date[0], parseInt(expiry_date[1]) - 1, expiry_date[2]);
		                return (current_date.getTime() - expiry_date.getTime()) > 0;
			        }).length,
			        all_cards.filter(card => {return card.status == 2}).length
	            ]);
	        }else{
	            for (let index = 0; index < this.users_in_group.length; index++) {
	                let user = this.users_in_group[index];
	                let user_cards = all_cards.filter(card => {
	                    return card.members.filter(mem => {
	                        return mem.fullname == user.fullname;
	                    }).length;
	                });
	                this.user_data.push([
		                user.fullname,
		                user_cards.filter(card => {return card.status == 0}).length,
				        user_cards.filter(card => {return card.status == 1}).length,
				        user_cards.filter(card => {
				        	if (card.expiry_date == null) {
			                    return false;
			                }
				        	let expiry_date = card.expiry_date.split(" ")[0].split("-");
			                expiry_date = new Date(expiry_date[0], parseInt(expiry_date[1]) - 1, expiry_date[2]);
			                return (current_date.getTime() - expiry_date.getTime()) > 0;
				        }).length,
				        user_cards.filter(card => {return card.status == 2}).length
		            ]);
	            }
	        }
	  	}
	},
  	created(){
	  	let _this = this;
	  	setTimeout(function() {
		  	_this.set_all_charts_data();
		  	_this.$emit('disable_loading');
	  	}, 2000);
  	}, 
  	watch: {
	  	temp_data: function(val){
	  		this.set_all_charts_data();
	  	},
        global_expiry_date: function(val){
        	if (val == '') {
        		return false;
        	}
            val = val.split('T').join(' ').split('.');
            val = val[0];
            this.current_card.expiry_date = val;
            let data = {
                expiry_date: val,
                note_id: this.current_card.note_id,
                card_id: this.current_card.card_id
            };
            fetch(window.api_url + "/update-card", {
                method: "post",
                body: JSON.stringify(data),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                this.$emit("doFilterAgaint", this.current_card);
                if (res.status) {
                    this.current_card = null;
                }
            });
        },
        show_mode: function(val){
        	this.$refs.pie_chart.re_draw();
        	this.$refs.bar_chart.re_draw();
        	this.$refs.horizontal_chart.re_draw();
        }
  	}
};
</script>
