.chart {
    margin: 0 2em;
    .symper-col {
        width: 100%;
        display: flex;
        .block-chart {
            height: calc(100vh - 120px);
            max-height: calc(100vh - 120px);
            overflow-x: hidden;
            overflow-y: auto;
        }
        .symper-col-chart {
            padding-right: 1em;
            flex-grow: 2;
            .col-chart-top {
                display: flex;
                .col-chart-donut {
                    width: 350px;
                    margin-right: .5em;
                }
                .col-chart-colum {
                    width: calc(100% - 350px);
                }
            }
        }
        .symper-col-task {
            flex-grow: 1;
            width: 300px;
            margin-left: 1em;
        }
    }
}

.col-chart-top {
    margin-bottom: 1em;
}

.col-chart-status, .col-task-status {
    background: #f0f0f0;
    padding: 8px 0;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    label {
        padding: 8px 10px;
        font-weight: 700;
    }
}

.main-bucket {
    position: relative;
    .text-total {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        strong {
            font-size: 20px;
        }
    }
}

.col-chart-body {
    background: #fff;
    width: 100%;
    overflow: hidden;
    .col-chart-legends {
        .legends-item {
            z-index: 1;
            .legends-color {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                margin-left: 3em;
                margin-bottom: 5px;
            }
            .legends-title {
                margin-left: 1em;
                margin-top: 2px;
            }
            .pull-right strong {
                margin-right: 4em;
            }
            .legends-item-1 {
                background: #c8c8c8;
            }
            .legends-item-2 {
                background: #408ab7;
            }
            .legends-item-3 {
                background: #d63867;
            }
            .legends-item-4 {
                background: #64b564;
            }
        }
    }
}

.col-chart-donut:hover, .col-chart-colum:hover,.col-chart-bot:hover {
    box-shadow: 0 2px 14px 5px #5a5a5a59;
}
.col-chart-donut,.col-chart-colum,.col-chart-bot {
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

@media screen and (min-width: 892px) and (max-width: 1024px) {
    .chart{
        .symper-col {
            .symper-col-chart{
                width: calc(100% - 300px;);
                .col-chart-top {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .col-chart-donut {
                        width: 100%;
                        margin-bottom: 1em;
                        .main-bucket {
                            float: left;
                        }
                        .col-chart-legends {
                            float: right;
                            margin-top: 7em;
                            width: 220px;
                            margin-right: 3em;
                            .legends-item {
                                .pull-right {
                                    strong {
                                        margin-right: 1em;
                                    }
                                }
                            }
                        }
                    }
                    .col-chart-colum {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 891px) {
    .chart{
        .symper-col {
            .symper-col-chart{
                width: calc(100% - 300px;);
                .col-chart-top {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .col-chart-donut {
                        width: 100%;
                        margin-bottom: 1em;
                        .main-bucket {
                            .text-total {
                                left: 41% !important;
                            }
                        }
                        .col-chart-legends {
                            margin-top: 1em;
                            width: 220px;
                            margin-left: 6em;
                            .legends-item {
                                .pull-right {
                                    strong {
                                        margin-right: 1em;
                                    }
                                }
                            }
                        }
                    }
                    .col-chart-colum {
                        width: 100%;
                    }
                }
            }
        }
    }
}