.gantt-view {
    width: 100%;
    height: calc(100vh - 74px);
    overflow: hidden;
    display: block;
    float: left;
    padding: 20px;
    padding-right: 0;
    padding-bottom: 0;
    .gantt-chart-table {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: block;
        position: relative;
        &.fixed-header {
            .gantt-chart-table-buckets div:first-child{
                &:before {
                    content: attr(title);
                    position: fixed;
                    top: 95px;
                    width: 100px;
                    height: 30px;
                    display: block;
                    text-align: center;
                    left: 20px;
                    border-bottom: 1px solid #eee;
                    background: #ddd;
                    z-index: +10000;
                }
                &:after{
                    content: '';
                    position: fixed;
                    top: 94px;
                    width: 20px;
                    left: 0;
                    background: #f5f5fa;
                    z-index: +10000;
                    display: block;
                    height: 35px;
                    border: 0;
                }
            }
            .gantt-chart-table-content{
                .gantt-chart-table-content-sub-header{
                    display: block;
                }
            }
        }
        .gantt-chart-table-buckets {
            width: 100px;
            background: #ddd;
            height: auto;
            float: left;
            & > div {
                &:not(:first-child){
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    font-size: 20px;
                    padding: 10px;
                    line-height: 80px;
                }
                text-align: center;
                height: 30px;
                padding: 0 10px;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 30px;
                border-bottom: 1px solid #eee;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .gantt-chart-table-content {
            width: calc(100% - 100px);
            overflow: auto;
            display: block;
            min-height: 100%;
            position: relative;
            .gantt-chart-table-content-header {
                position: relative;
                display: block;
                z-index: 0;
                .gantt-chart-table-content-th{
                    &:first-child{
                        width: 270px;
                    }
                    width: 135px;
                    display: block;
                    float: left;
                    padding: 0 10px;
                    line-height: 30px;
                    text-shadow: 0 0 0;
                    border-left: 1px solid #eee;
                    text-align: center;
                    border-top: 1px solid #eee;
                    &:nth-child(even) {
                        background-color: #edeff2;
                    }
                }
            }
            .gantt-chart-table-content-sub-header {
                position: fixed;
                display: none;
                z-index: +1000;
                height: 30px;
                top: 94px;
                background: #f5f5fa;
                .gantt-chart-table-content-th{
                    &:first-child{
                        width: 270px;
                    }
                    width: 135px;
                    display: block;
                    float: left;
                    padding: 0 10px;
                    line-height: 30px;
                    text-shadow: 0 0 0;
                    border-left: 1px solid #eee;
                    text-align: center;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    height: 30px;
                    &:nth-child(even) {
                        background-color: #edeff2;
                    }
                }
            }
        }
        .gantt-chart-table-tasks {
            position: absolute;
            display: block;
            left: 0;
            border-top: 1px solid #ddd;
            .gantt-single-task {
                min-width: 270px;
                overflow: hidden;
                display: block;
                position: absolute;
                background: #fff;
                padding: 0 10px;
                height: 35px;
                line-height: 35px;
                border-radius: 50px;
                color: #333;
                text-shadow: 0 0 0;
                text-align: left;
                // box-shadow: 0 0 5px;
                margin-top: 2.5px;
                cursor: pointer;
                border: 1px solid #ddd;
                .task-title {
                    height: 35px;
                    display: block;
                    float: left;
                    line-height: 35px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 13px;
                    > i {
                        float: left;
                        margin-right: 5px;
                    }
                    span {
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        border: 1px solid;
                        line-height: 20px;
                        border-radius: 20px;
                        display: block;
                        float: left;
                        position: relative;
                        top: 7px;
                        text-align: center;
                        margin-right: 8px;
                        background: rgba(232, 232, 232, 0.54);
                        &:before{
                            content: attr(length);
                            display: block;
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            width: 12px;
                            height: 12px;
                            font-size: 9px;
                            background: #f00;
                            color: #fff;
                            line-height: 12px;
                            border-radius: 12px;
                            text-shadow: 0 0 0;
                        }
                    }
                }
                &.has-no-start{
                    background-image: linear-gradient(to left, #e2e0e0, #fff);
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    border-left: 0;
                    &.has-no-end{
                        background-image: #fff;
                        border-bottom-left-radius: 50px;
                        border-top-left-radius: 50px;
                        border-right: 0;
                        &.symper-task-done{
                            background-image: #d0e8e3;
                        }
                    }
                    &.symper-task-done{
                        background-image: linear-gradient(to left, #d0e8e3, #f5f5fa);
                    }
                }
                &.has-no-end{
                    background-image: linear-gradient(to right, #e2e0e0, #fff);
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: 0;
                    &.has-no-start{
                        background-image: #fff;
                        border-bottom-left-radius: 50px;
                        border-top-left-radius: 50px;
                        border-left: 0;
                        &.symper-task-done{
                            background-image: #d0e8e3;
                        }
                    }
                    &.symper-task-done{
                        background-image: linear-gradient(to right, #d0e8e3, #f5f5fa);
                    }
                }
                &.symper-task-done{
                    background-color: #d0e8e3;
                    color: #333;
                    &:hover {
                        box-shadow: 0 10px 6px -6px #777;
                        z-index: 10;
                    }
                }
                &.is-urgent{
                    background-color: #fb8888;
                }
                .task-members {
                    height: 35px;
                    line-height: 35px;
                    display: block;
                    float: left;
                    text-align: center;
                    .symper-member-avatar {
                        margin: 0;
                        margin-left: 10px;
                        margin-top: 2.5px;
                        margin-right: -15px;
                    }
                }
                &:hover {
                    box-shadow: 0 10px 6px -6px #777;
                    z-index: 10;
                            
                }
            }
        }
    }
}