<template>
    <div class="gantt-view">
		<div class="gantt-chart-table">
			<div class="gantt-chart-table-buckets">
				<div :title="trans('template.bucket')">
					{{trans('template.bucket')}}
				</div>
				<div v-for="note in temp_data" 
					:style="{'height': get_height(note)+'px'}" 
					:key="'gantt-bucket-' + note.slug"
					:title="note.title">
					{{note.title}}
				</div>
			</div>
			<div class="gantt-chart-table-content">
				<div class="gantt-chart-table-content-header" 
					:style="{'width': (dates_range.length+2)*135+'px', 'height': total_height+'px'}">
					<div class="gantt-chart-table-content-th"
						:style="{'height': total_height+'px'}" 
						:title="trans('template.no_expiry_date')"
						>
						{{trans('template.no_expiry_date')}}
					</div>
					<div class="gantt-chart-table-content-th" 
						v-for="date in dates_range" 
						:key="'gantt-date-head-'+date.getTime()" 
						:style="{'height': total_height+'px'}" 
						:title="get_date_format(date)"
						>
						{{get_date_format(date)}}
					</div>
				</div>
				<!-- Sub header -->
				<div class="gantt-chart-table-content-sub-header" 
					:style="{'width': (dates_range.length+2)*135+'px'}">
					<div class="gantt-chart-table-content-th">
						{{trans('template.no_expiry_date')}}
					</div>
					<div class="gantt-chart-table-content-th" 
						v-for="date in dates_range" 
						:key="'gantt-date-sub-head-'+date.getTime()" 
						:title="get_date_format(date)"
						>
						{{get_date_format(date)}}
					</div>
				</div>
				<div class="gantt-chart-table-tasks" 
					v-for="(note, index) in temp_data" 
					:key="'gantt-note-' + note.slug"
					:style="{'height': get_height(note)+'px', 'width': (dates_range.length+2)*135+'px', 'top': get_note_margin_top(index)}"
					>
					<div class="gantt-single-task" 
						v-for="(task, offset) in note.cards" 
						:key="'gantt-task-' + task.card_slug" 
						:class="{
							'has-no-start': (task.start_date == null && task.expiry_date != null), 
							'has-no-end': (task.start_date != null && task.expiry_date == null),
							'symper-task-done': task.status == 2,
							'is-urgent' : task.is_urgent && task.status < 2
						}"
						:style="{'top': offset*40+'px', 'width': get_task_width(task)+'px', 'left': get_margin_left(task)+'px'}" 
						:title="task.card_title" 
						@click.stop="open_detail_card(task)"
						>
						<!-- Task title -->
						<div class="task-title" 
							:style="{width: 'calc(100% - ' + (task.members.length == 1 ? 35 : task.members.length >= 2 ? 60 : 0) + 'px)'}">
							<i class="ms-Icon ms-Icon--CircleRing" 
	                            v-if="task.status == 0" 
	                            :title="trans('template.task_status_not_start')">
	                        </i>
	                        <i class="ms-Icon ms-Icon--CircleHalfFull" 
	                            v-if="task.status == 1" 
	                            :title="trans('template.task_status_working')">
	                        </i>
							<span v-if="task.files.length" 
	                            :title="task.files.length + ' ' + trans('template.total_files')" 
	                            :length="task.files.length"
	                            >
	                            <i class="ms-Icon ms-Icon--Attach"></i>
	                        </span>
	                        <span 
	                            v-if="task.totalComment"
	                            :title="task.totalComment + ' ' + trans('template.total_comments')" 
	                            :length="task.totalComment"
	                            >
	                            
	                            <i class="ms-Icon ms-Icon--Message"></i>
	                        </span>
	                        {{task.card_title}}
						</div>
						<!-- Task members -->
						<div class="task-members" 
							v-if="task.members.length" 
							:style="{width: (task.members.length == 1 ? 35 : task.members.length >= 2 ? 60 : 0)+'px'}"
							>
							<div class="symper-member-avatar" 
				                v-bind:style="{ background: random_colors[0] }"
				                >
				                <img :src="task.members[0].avatar" 
				                	v-if="task.members[0].avatar.length" 
				                	:alt="task.members[0].fullname" class="img-circle img-reponsive"
				                >
				                <span v-if="!task.members[0].avatar.length">
				                    {{get_user_avatar_name(task.members[0].fullname)}}
				                </span>
				            </div>
				            <div class="symper-member-avatar" 
				                v-bind:style="{ background: random_colors[1] }"
				                v-if="task.members.length == 2"
				                >
				                <img :src="task.members[1].avatar" 
				                	v-if="task.members[1].avatar.length" 
				                	:alt="task.members[1].fullname" class="img-circle img-reponsive"
				                >
				                <span v-if="!task.members[1].avatar.length">
				                    {{get_user_avatar_name(task.members[1].fullname)}}
				                </span>
				            </div>
				            <div class="symper-member-avatar" 
				                v-bind:style="{ background: random_colors[2] }"
				                v-if="task.members.length > 2"
				                >
				                <span style="font-size: 13px" v-if="!task.members[1].avatar.length">
				                    +{{task.members.length-1}}
				                </span>
				            </div>
						</div>
						<!-- Task preview -->
						<!-- <task 
						/> -->
					</div>
				</div>
			</div>
        </div>
	</div>
</template>

<style lang="sass" scoped>
	@import 'gantt.scss'
</style>
<script>
import task from "./Task.vue";
export default {
	data() {
	    return {
	    	min_date: new Date(),
	    	max_date: new Date(),
	    	dates_range: [new Date()],
	    	count_task: 0,
	    	random_colors: [
                '#417542', 
                '#ff7826',
                '#ff2674',
                '#d526ff',
                '#26adff'
            ],
            total_height: 0
	    };
	},
	components: {
		task
	},
	props: {
	  	temp_data: {
	  		type: Array
	  	},
	  	users_in_group: {
	  		type: Array
	  	},
	  	show_mode: {
	  		type: String
	  	}
	},
	methods: {
		open_detail_card(task, action = '') {
            if (task.from_source == 'core') {
                let win = window.open(window.CORE_DOMAIN+'/workflow/execute/?node_id='+task.action.split(":")[1].split("}")[0]+'&taskid='+task.source_id, '_blank');
                win.focus();
                return false;
            }
            this.$emit("showDetail", {card: task, open_action: action});
        },
		set_content_height(){
			this.total_height = 30;
			for (let i = 0; i < this.temp_data.length; i++) {
				if (this.temp_data[i].cards.length <= 3) {
					this.total_height += 120;
				}else{
					this.total_height += this.temp_data[i].cards.length*40;
				}
			}
		},
		get_note_margin_top(note_index){
			if (note_index == 0) {
				return '30px';
			}
			let top = 30;
			for (var i = 0; i < note_index; i++) {
				if(this.temp_data[i].cards.length <= 3){
					top += 120;
				}else{
					top += this.temp_data[i].cards.length*40;
				}
			}
			return top + 'px'; 
		},
		get_height(note){
			if (note.cards.length <= 3) {
				return 120;
			}
			return note.cards.length*40;
		},
		get_user_avatar_name(name){
            name = name.split(' ');
            if (name.length > 2) {
                return name[name.length - 2][0]+name[name.length - 1][0];
            }else if(name.length > 2){
                return name[1][0]+name[0][0];
            }else{
                return name[0][0];
            }
        },
		get_date_format(date){
			return date.getDate() + '-' + (date.getMonth()+1) + '-' + date.getFullYear();
		},
	  	get_task_width(task){
	  		if (task.start_date != null && task.expiry_date != null) {
	  			let start_time = new Date(task.start_date);
	  			let end_time = new Date(task.expiry_date);
	  			return (end_time.getTime() - start_time.getTime())/86400000*135;
	  		}
	        return 270;
	    },
	    get_margin_left(task){
	  		if (task.start_date != null && task.expiry_date != null) {
	  			let start_time = new Date(task.start_date);
	  			let min_time = new Date(this.min_date);
	  			return (start_time.getTime() - min_time.getTime())/86400000*135 + 270;
	  		}
	  		if(task.expiry_date != null && task.start_date == null){
	  			let end_time = new Date(task.expiry_date);
	  			let min_time = new Date(this.min_date);
	  			return ((end_time.getTime() - min_time.getTime())/86400000 - 3)*135 + 270;
	  		}
	        return 0;
	    },
	    show_card(card) {
	        this.$emit("showDetail", {card: card});
	    },
	  	set_gantt_chart_data(){
	  		let all_cards = [];
	        for (let i = 0; i < this.temp_data.length; i++) {
	            all_cards = all_cards.concat(this.temp_data[i].cards);
	        }
	        this.count_task = all_cards.length;
	        this.min_date = this.max_date = new Date();
	        for (let i = 0; i < all_cards.length; i++) {
	        	if (all_cards[i].start_date != null) {
	        		let start_date = new Date(all_cards[i].start_date);
	        		if (this.min_date.getTime() > start_date.getTime()) {
	        			this.min_date = new Date(all_cards[i].start_date);
	        		}
	        	}
	        	if (all_cards[i].expiry_date != null) {
	        		let expiry_date = new Date(all_cards[i].expiry_date);
	        		if (expiry_date.getTime() > this.max_date.getTime()) {
	        			this.max_date = new Date(all_cards[i].expiry_date);
	        		}
	        	}
	        }
	        this.set_dates_range();
	        let table = document.querySelector('.gantt-chart-table');
	        let sub_header = document.querySelector('.gantt-chart-table-content-sub-header');
	        let tasks = document.querySelector('.gantt-chart-table-content');
	        table.onscroll = function(){
	        	if (table.scrollTop > 10) {
	        		table.classList.add('fixed-header');
	        	}else{
	        		table.classList.remove('fixed-header');
	        	}
	        }
	        tasks.onscroll = function(){
	        	if (tasks.scrollLeft > 10) {
	        		sub_header.style.left = (120 - tasks.scrollLeft)+'px';
	        	}else{
	        		sub_header.style.left = '120px';
	        	}
	        };
	        this.set_content_height();
	  	},
	  	set_dates_range() {
		    this.dates_range = [];
		    let start_time = this.min_date.getTime(), 
		    	end_time = this.max_date.getTime();
		    for(let loopTime = start_time; loopTime <= end_time; loopTime += 86400000){
			    this.dates_range.push(new Date(loopTime));
			}
		}
	},
  	created(){
	  	(function(_this){
		  	setTimeout(function() {
			  	_this.set_gantt_chart_data();
		  	}, 1000);
	  		setTimeout(function(){
	  			_this.$emit('disable_loading');
	  		}, 2000);
	  	})(this);
  	}, 
  	watch: {
	  	temp_data: function(val){
	  		this.set_gantt_chart_data();
	  	},
  	}
};
</script>
