<template>
    <div class="symper-single-task">
        <div class="tabs-table-info" 
            :class="{'is-urgent' : card.is_urgent && card.status < 2}" 
            @click="open_detail_card()">
            <div class="tabs-header" v-show="card.files.length > 0">
                <div class="symper-single-file image-preview"
                    v-if="card.files[0] != undefined && is_image(card.files[0].file_type)">
                    <img :src="'thumb/'+card.files[0].file_id" :alt="card.files[0].file_name">
                </div>
            </div>
            <div class="tabs-body-info">
                <div class="task-name clearfix">
                    <strong>
                        {{ card.card_title }} 
                    </strong>
                </div>
                <div class="task-des text-muted text-small clearfix" v-show="card.show_des" v-if="card.from_source != 'core'">
                    {{card.card_des}}
                </div>
                
                <div class="task-option row" v-if="card.from_source != 'core'">
                    <div class="col-xs-10">
                        <i class="ms-Icon ms-Icon--CircleRing" v-if="card.status == 0" aria-hidden="true">&nbsp;</i>
                        <i class="ms-Icon ms-Icon--CircleHalfFull" v-if="card.status == 1" aria-hidden="true">&nbsp;</i>
                        <i class="ms-Icon ms-Icon--Accept" v-if="card.status == 2" aria-hidden="true">&nbsp;</i>
                        <a class="datepicker" :class="get_task_class()" @click.stop="showDatePicker()">
                            <i class="ms-Icon ms-Icon--CalendarDay"></i>&nbsp;
                            <span>
                                {{get_date(card.expiry_date)}}
                            </span>
                        </a>
                        <span v-show="card.totalComment">
                            &nbsp;&nbsp;
                            <i class="ms-Icon ms-Icon--Message"></i>&nbsp;
                            {{ card.totalComment }}
                        </span>
                        <span v-show="card.show_checklist && card.todolist.length">&nbsp;&nbsp;
                            <i class="ms-Icon ms-Icon--CheckboxComposite"></i>&nbsp;
                            {{ card.todolist.filter(todo => todo.status == 1).length }} / 
                            {{ card.todolist.length }}
                        </span>
                        <span v-show="card.files.length">&nbsp;&nbsp;
                            <i class="ms-Icon ms-Icon--Attach"></i>&nbsp;
                            {{ card.files.length }}
                        </span>
                    </div>
                </div>
                <div class="symper-task-label" v-if="card.from_source != 'core'">
                    <div class="task-rule-button" 
                        :class="'rule-'+la.label_pos" 
                        v-for="la in card.labels" 
                        v-if="la.check" 
                        :key="'label-key-'+la.label_pos"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="sass" scoped>
    @import 'task.scss'
</style>

<script>
export default {
    data(){
        return {
            creator: {
                uid: '',
                Name: ''
            },
            finish_by: {
                uid: '',
                Name: ''
            },
            random_colors: [
                '#417542', 
                '#ff7826',
                '#ff2674',
                '#d526ff',
                '#26adff'
            ],
            member_results: [],
            keyword: '',
        };
    },
    methods: {
        is_image(type){
            return ['bmp', 'gif', 'ico', 'jpeg', 'jpg', 'png', 'tif', 'tiff', 'webp', 'jfif'].indexOf(type.toLowerCase()) > -1;
        },
        
        get_user_avatar_name(name){
            name = name.split(' ');
            if (name.length > 2) {
                return name[name.length - 2][0]+name[name.length - 1][0];
            }else if(name.length > 2){
                return name[1][0]+name[0][0];
            }else{
                return name[0][0];
            }
        },
        open_detail_card(action = '') {
            if (this.card.from_source == 'core') {
                let win = window.open(window.CORE_DOMAIN+'/workflow/execute/?node_id='+this.card.action.split(":")[1].split("}")[0]+'&taskid='+this.card.source_id, '_blank');
                win.focus();
                return false;
            }
            this.card.open_action = action;
            this.$emit("showCard", this.card);
        },
        
        get_date(date){
            if (!date) {
                return this.trans('template.null_date');
            }
            date = new Date(date);
            return date.getDate() + '/' + (date.getMonth() + 1);
        },
        
        get_task_class(){
            if (!this.card.expiry_date ) {
                return '';
            }
            let expiry_date = this.card.expiry_date;
            if (this.card.status == 2 || !expiry_date.length) {
                return '';
            }
            if (this.card.status == 1) {
                let date = new Date();
                let current_date = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                expiry_date = expiry_date.split(" ")[0].split("-");
                expiry_date = new Date(expiry_date[0], parseInt(expiry_date[1]) - 1, expiry_date[2]);
                let date_range = current_date.getTime() - expiry_date.getTime();
                if (date_range > 0) {
                    return 'danger';
                }
                if (date_range <= 0) {
                    // nhỏ hơn 3 ngày
                    if (date_range >= -259200000) {
                        return 'warning';
                    }
                }
            }
        },
        get_task_finish_by(){
            for (var i = 0; i < this.users.length; i++) {
                if (this.users[i].uid == this.card.finish_by) {
                    return this.users[i];
                }
            }
            return {
                uid: '',
                Name: ''
            };
        }
    },
    props:{
        card: {
            type: Object,
            default: {}
        },
        users: {
            type: Array,
            default: []
        }
        
    },
    created: function(){
        let _this = this;
        setTimeout(function(){
            if (_this.users.length) {
                var count = 0;
                for (var i = 0; i < _this.users.length; i++) {
                    if (_this.users[i].uid === _this.card.created_by ) {
                        _this.creator = _this.users[i];
                        count ++;
                    }
                    if (_this.users[i].uid === _this.card.finish_by) {
                        _this.finish_by = _this.users[i];
                        count ++;
                    }
                    if (count > 1) {
                        break;
                    }
                }
            }
        }, 1000);
    },
    watch: {
        card: function(val){
            if (val.status == 2) {
                this.finish_by = this.get_task_finish_by();
            }else{
                this.finish_by = {
                    uid: '',
                    Name: ''
                };
            }
        }
    }
};
</script>
