<template>
    <div class="symper-single-task">
        <div class="tabs-table-info" 
            :class="{'is-urgent' : card.is_urgent && card.status < 2}" 
            @click="open_detail_card()">
            <div class="tabs-header" v-show="card.files.length > 0">
                <div class="symper-single-file image-preview"
                    v-if="card.files[0] != undefined && is_image(card.files[0].file_type)">
                    <img :src="'thumb/'+card.files[0].file_id" :alt="card.files[0].file_name">
                </div>
            </div>
            <div class="tabs-body-info">
                <div class="task-name clearfix">
                    <strong>
                        {{ card.card_title }} 
                    </strong>
                    <span class="navbar-right" v-if="card.from_source != 'core'">
                        <input type="checkbox" 
                            class="hidden set-finish-checkbox" 
                            :id="'set-finish-task-'+card.card_id" 
                            :checked="card.status" 
                        >
                        <label 
                            :for="'set-finish-task-'+card.card_id" 
                            class="check-finish-task" 
                            :title="card.status < 2 ? trans('template.set_task_finish') : trans('template.set_task_unfinish')"
                            @click.stop="check_finish_task($event)"
                        >
                            <i class="ms-Icon ms-Icon--CheckMark" v-show="card.status < 2"></i>
                            <i class="ms-Icon ms-Icon--RevToggleKey" v-show="card.status == 2"></i>
                        </label>
                    </span>
                    <span class="navbar-right" v-if="card.from_source == 'core'">
                        <label class="check-finish-task" @click="open_detail_card()">
                            <i class="ms-Icon ms-Icon--OpenInNewWindow"></i>
                        </label>
                    </span>
                </div>
                <div class="task-des text-muted text-small clearfix" v-html="card.card_des" v-show="card.show_des" v-if="card.from_source != 'core'">
                </div>
                <div class="task-list clearfix" v-show="card.show_checklist" v-if="card.from_source != 'core'">
                    <div class="symper-single-task" v-for="task in card.todolist" v-if="!task.status" :key="`task`+ task.todo_list_id">
                        <input type="checkbox" :id="'symper-task-'+ task.todo_list_id">
                        <label 
                            @click.stop.prevent="check_todo_list(task)" 
                            :for="'symper-task-'+ task.todo_list_id" 
                            :title="task.content"
                            >
                            {{task.content}}
                        </label>
                    </div>
                </div>
                <div class="task-option row" v-if="card.from_source != 'core'">
                    <div class="col-xs-10">
                        <i class="ms-Icon ms-Icon--CircleRing" 
                            v-if="card.status == 0" 
                            :title="trans('template.task_status_not_start')">
                        </i>
                        <i class="ms-Icon ms-Icon--CircleHalfFull" 
                            v-if="card.status == 1" 
                            :title="trans('template.task_status_working')">
                        </i>
                        <i class="ms-Icon ms-Icon--Accept" 
                            v-if="card.status == 2" 
                            :title="trans('template.task_status_done')">
                        </i>
                        <a class="datepicker" 
                            :class="get_task_class()" 
                            @click.stop="showDatePicker()"
                            :title="trans('template.set_expiry_date')"
                            >
                            <i class="ms-Icon ms-Icon--CalendarDay"></i>
                            <span>
                                {{get_date(card.expiry_date)}}
                            </span>
                        </a>
                        <span 
                            v-show="card.totalComment"
                            :title="card.totalComment + ' ' + trans('template.total_comments')"
                            >
                            
                            <i class="ms-Icon ms-Icon--Message"></i>
                            {{ card.totalComment }}
                        </span>
                        <span v-show="card.show_checklist && card.todolist.length"
                            :title="card.todolist.length + ' ' + trans('template.total_todolists')"
                            >
                            <i class="ms-Icon ms-Icon--CheckboxComposite"></i>
                            {{ card.todolist.filter(todo => todo.status == 1).length }} / 
                            {{ card.todolist.length }}
                        </span>
                        <span v-show="card.files.length" 
                            :title="card.files.length + ' ' + trans('template.total_files')"
                            >
                            <i class="ms-Icon ms-Icon--Attach"></i>
                            {{ card.files.length }}
                        </span>
                    </div>

                    <div class="col-xs-2">
                        <div class="menu-task-hover navbar-right">
                            <ul class="navbar menu-hover">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="ms-Icon ms-Icon--More"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" @click.stop="open_detail_card('copy')">
                                                {{ trans("template.copy_card") }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" @click.stop="copy_task_to_clip_board()">
                                                {{ trans("template.copy_link") }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" @click.stop="remove_card()">
                                                {{ trans("template.remove_card") }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" @click.stop="show_assign_form()">
                                                {{ trans('template.assign') }}
                                            </a>
                                        </li>
                                        <li v-if="card.status < 2">
                                            <a href="javascript:void(0)" @click.stop="set_task_urgent()">
                                                {{ !card.is_urgent ? trans('template.set_task_urgent') : trans('template.set_task_normal') }}
                                            </a>
                                        </li>
                                        <li v-if="card.status < 2 && note_type != 'repeat_task'">
                                            <a href="javascript:void(0)" @click.stop="open_repeat_task()">
                                                {{ trans('template.repeat_task') }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="symper-task-label" v-if="card.from_source != 'core'">
                    <div class="task-rule-button" 
                        :class="'rule-'+la.label_pos" 
                        v-for="la in card.labels" 
                        v-if="la.check" 
                        :key="'label-key-'+la.label_pos"
                    ></div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <small>{{trans('template.task_created_by')}} <b>{{get_datetime(card.created_at.date)}}</b></small>
                    </div>
                </div>
            </div>
        </div>
        <!-- List member -->
        <div class="tabs-table-manage" 
            v-if="card.from_source != 'core' && card.members.length">
            <div class="symper-member-avatar" 
                :title="trans('template.click_to_remove') + ' ' + member.fullname" 
                v-bind:style="{ background: random_colors[index%5] }" 
                v-for="(member, index) in card.members" 
                :key="'member-key-'+member.uid"
                v-if="card.status < 2" 
                @click.stop="remove_member(member)"
                >
                <img :src="member.avatar" v-if="member.avatar.length" :alt="member.fullname" class="img-circle img-reponsive">
                <span v-if="!member.avatar.length">
                    {{get_user_avatar_name(member.fullname)}}
                </span>
            </div>
            <span 
                style="padding: 0 10px;"
                class="symper-task-finish-by pull-left" 
                v-if="card.status == 2 && finish_by.fullname != undefined">
                {{trans('template.finish_by')}} <b :title="finish_by.fullname">{{finish_by.fullname}}</b>
            </span>
            <label class="pull-right" 
                v-if="card.status < 2" 
                @click.stop="show_assign_form()"
                :title="trans('template.assign')">
                <i class="ms-Icon ms-Icon--AddFriend"></i>
            </label>
        </div>

        <!-- Adding member form -->
        <input type="checkbox" class="hidden toggle-asign-form" :id="'check-add-user-label-'+card.card_id+'-'+note_slug">
        <div class="symper-add-task-member-form">
            <input type="text" 
                :placeholder="trans('template.find_member_placeholder')" v-model="keyword"
                @keyup="find_user($event)">
            <div class="symper-task-member" 
                v-for="(user, index) in member_results" 
                :key="'result-'+user.uid" 
                @click="assign_user(user)" >
                <div class="symper-member-avatar" v-bind:style="{ background: random_colors[index%5] }">
                    <img :src="user.avatar" v-if="user.avatar.length" :alt="user.fullname" class="img-circle img-reponsive">
                    <span v-if="!user.avatar.length">
                        {{get_user_avatar_name(user.fullname)}}
                    </span>
                </div>
                <div class="symper-member-name">
                    <a href="javascript:void(0);">
                        <span>{{user.fullname}}</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Repeating task form -->
        <div class="symper-repeat-task" 
            v-show="show_repeat_task"
            v-if="card.status < 2 && note_type != 'repeat_task'"
            >
            <div v-for="rep in repeat_options">
                <input type="checkbox" 
                    @change="set_repeat_task(rep.val)" 
                    :name="card.card_id+'repeat_options[]'" 
                    class="hidden" 
                    :value="rep.val" 
                    :id="'repeat-option-'+rep.val+'-'+card.card_id+'-'+note_slug" 
                    :checked="card.schedule != undefined && card.schedule.includes(rep.val)"
                    >
                <label 
                  :for="'repeat-option-'+rep.val+'-'+card.card_id+'-'+note_slug"
                  >
                    {{rep.title}}
                </label>
            </div>
        </div>
    </div>
</template>
<style lang="sass" scoped>
    @import 'task.scss'
</style>

<script>
import swal from 'sweetalert2'
export default {
    data(){
        return {
            creator: {
                uid: '',
                Name: ''
            },
            finish_by: {
                uid: '',
                Name: ''
            },
            random_colors: [
                '#417542', 
                '#ff7826',
                '#ff2674',
                '#d526ff',
                '#26adff'
            ],
            member_results: [],
            keyword: '',
            show_repeat_task: false,
            repeat_options: [
                {
                    val: 1,
                    title: this.trans('template.monday')
                },
                {
                    val: 2,
                    title: this.trans('template.tuesday')
                },
                {
                    val: 3,
                    title: this.trans('template.wednesday')
                },
                {
                    val: 4,
                    title: this.trans('template.thursday')
                },
                {
                    val: 5,
                    title: this.trans('template.friday')
                },
                {
                    val: 6,
                    title: this.trans('template.saturday')
                },
                {
                    val: 7,
                    title: this.trans('template.sunday')
                },
                {
                    val: 8,
                    title: this.trans('template.every_week')
                },
                {
                    val: 9,
                    title: this.trans('template.every_month')
                },
            ]
        };
    },
    methods: {
        set_repeat_task(val){
            val += '';
            let checkedValue = this.card.schedule;
            checkedValue = checkedValue.split(',');
            checkedValue = checkedValue.filter(function(item, pos, self) {
                return self.indexOf(item) == pos;
            })
            if (checkedValue.indexOf(val) > -1) {
                for (var i = 0; i < checkedValue.length; i++) {
                    if (checkedValue[i] == val) {
                        checkedValue.splice(i, 1);
                    }
                }
            }else{
                checkedValue.push(val);
            }
            fetch(window.api_url+"/set-repeat-task", {
                method: 'post',
                body: JSON.stringify({
                    card_id: this.card.card_id,
                    schedule: checkedValue
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.card.schedule = checkedValue.join(',');
                this.$emit('updateSchedule', {
                    note_id : this.card.note_id,
                    card_id : this.card.card_id,
                    key     : 'schedule',
                    val     : this.card.schedule
                });
            });
        },
        open_repeat_task(){
            this.show_repeat_task = true;
        },
        remove_member(member){
            fetch(window.api_url+"/remove-card-member", {
                method: 'post',
                body: JSON.stringify({
                    card_id: this.card.card_id,
                    member_id: member.uid,
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.card.members = this.card.members.filter(mem => {
                    return mem.uid != member.uid;
                });
                this.$emit('updateMembers', {
                    note_id : this.card.note_id,
                    card_id : this.card.card_id,
                    key     : 'members',
                    val     : this.card.members
                });
            });
        },
        show_assign_form(){
            if (this.finish_by.uid.length) {
                return false;
            }
            let input = document.querySelector('#check-add-user-label-'+this.card.card_id+'-'+this.note_slug);
            if (input == null) {
                return
            }
            input.checked = true;
            this.keyword = '';
            this.member_results = [];
            this.member_results = this.users_in_group.filter(user => {
                return this.card.members.map( member => member.uid).indexOf(user.uid) < 0;
            });
        },
        is_image(type){
            return ['bmp', 'gif', 'ico', 'jpeg', 'jpg', 'png', 'tif', 'tiff', 'webp', 'jfif'].indexOf(type.toLowerCase()) > -1;
        },
        remove_card(){
            swal({
                title: this.trans('template.are_you_sure_to_remove_card'),
                text: this.trans("template.delete_card_explain_text"),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: this.trans('template.delete_btn'),
                cancelButtonText: this.trans('template.cancel_copy_btn')
            }).then((result) => {
                if (result.value) {
                    fetch(window.api_url + "/delete-card/"+this.card.card_id)
                    .then(res => res.json())
                    .then(res => {
                        if (!res.status) {
                            swal({
                                text: res.msg,
                                type: 'warning',
                            });
                            return false;
                        }
                        swal({
                            title: this.trans("template.delete_card_successful"),
                            type: 'success'
                        });
                        this.$emit('deleteCard', this.card);
                    });
                }
            });
        },
        copy_task_to_clip_board(){
            let tempInput = document.createElement("input");
		    tempInput.style = "position: absolute; left: -1000px; top: -1000px";
		    tempInput.value = window.location.origin+'/'+window.location.pathname.split('/')[1]+'/'+this.card.card_slug;
		    document.body.appendChild(tempInput);
		    tempInput.select();
		    document.execCommand("copy");
		    document.body.removeChild(tempInput);
		    swal({
				text: this.trans('template.task_link_copied'),
				type: 'success',
			});
        },
        get_user_avatar_name(name){
            name = name.split(' ');
            if (name.length > 2) {
                return name[name.length - 2][0]+name[name.length - 1][0];
            }else if(name.length > 2){
                return name[1][0]+name[0][0];
            }else{
                return name[0][0];
            }
        },
        open_detail_card(action = '') {
            if (this.card.from_source == 'core') {
                let win = window.open(window.CORE_DOMAIN+'/workflow/execute/?node_id='+this.card.action.split(":")[1].split("}")[0]+'&taskid='+this.card.source_id, '_blank');
                win.focus();
                return false;
            }
            this.card.open_action = action;
            this.$emit("showCard", this.card);
        },
        showDatePicker() {
            this.$emit("showDatePicker", this.card);
        },
        get_date(date){
            if (!date) {
                return this.trans('template.null_date');
            }
            date = new Date(date);
            return date.getDate() + '/' + (date.getMonth() + 1);
        },
        get_datetime(date){
            date = new Date(date);
            let now = new Date();
            let range = (now.getTime() - date.getTime())/1000;
            let time_range = 0;
            if (localStorage.getItem("time_range") != null) {
                time_range = parseInt(localStorage.getItem("time_range"));
            }
            range += time_range;
            if (Math.floor(range) <= 0) {
                return this.trans('template.just_now');
            }
            if (range > 0 && range < 60) {
                return Math.floor(range) + ' ' + this.trans('template.senconds_ago');
            }
            // Bao nhiêu phút trước
            if (range >= 60 && range < 3600) {
                return Math.floor(range/60) + ' ' + this.trans('template.minutes_ago');
            }
            // Bao nhiêu giờ trước
            if (range >= 3600 && range < 84600) {
                return Math.floor(range/3600) + ' ' + this.trans('template.hours_ago');
            }
            // Bao nhiêu ngày trước
            if (range >= 84600 && range < 592200) {
                return Math.floor(range/84600) + ' ' + this.trans('template.days_ago');
            }
            // Bao nhiêu tuần trước
            if (range >= 592200 && range < 2368800) {
                return Math.floor(range/592200) + ' ' + this.trans('template.weeks_ago');
            }
            return date.getHours().toString().padStart(2, '0') + ":" + date.getMinutes().toString().padStart(2, '0') + " " + date.getDate().toString().padStart(2, '0') + "/" + (date.getMonth() + 1).toString().padStart(2, '0');
        },
        check_finish_task(e){
            e.preventDefault();
            this.card.status = this.card.status < 2 ? 2 : 1;
            this.card.last_position = this.card.position + 1;
            let data = {
                note_id: this.card.note_id,
                card_id: this.card.card_id,
                status: this.card.status
            }
            fetch(window.api_url + "/update-card", {
                method: "post",
                body: JSON.stringify(data),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    alert(res.msg);
                    return false;
                }else{
                    if (data.status == 2) {
                        this.card.finish_by = this.current_user.uid;
                    }
                }
            });
            this.$emit('updateStatus', this.card);
        },
        set_task_urgent(){
            this.card.is_urgent = !this.card.is_urgent;
            let data = {
                note_id: this.card.note_id,
                card_id: this.card.card_id,
                is_urgent: this.card.is_urgent
            }
            fetch(window.api_url + "/update-card", {
                method: "post",
                body: JSON.stringify(data),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    alert(res.msg);
                    return false;
                }
            });
            this.$emit('updateUrgent', this.card);
        },
        check_todo_list(todo){
            fetch(window.api_url + "/check-todo-list", {
                method: "post",
                body: JSON.stringify({
					checklist_id: todo.todo_list_id
				}),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    alert(res.msg);
                    return false;
				}
                for (let index = 0; index < this.card.todolist.length; index++) {
                    if (this.card.todolist[index].todo_list_id == todo.todo_list_id) {
                        this.card.todolist[index].status = !this.card.todolist[index].status;
                    }
                }
            });
            return false;
        }, 
        get_task_class(){
            if (!this.card.expiry_date ) {
                return '';
            }
            let expiry_date = this.card.expiry_date;
            if (this.card.status == 2 || !expiry_date.length) {
                return '';
            }
            if (this.card.status == 1) {
                let date = new Date();
                let current_date = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                expiry_date = expiry_date.split(" ")[0].split("-");
                expiry_date = new Date(expiry_date[0], parseInt(expiry_date[1]) - 1, expiry_date[2]);
                let date_range = current_date.getTime() - expiry_date.getTime();
                if (date_range > 0) {
                    return 'danger';
                }
                if (date_range <= 0) {
                    // nhỏ hơn 3 ngày
                    if (date_range >= -259200000) {
                        return 'warning';
                    }
                }
            }
        },
        find_user(e){
            e.preventDefault();
            let key = this.remove_latin_accent( this.keyword.trim().toLowerCase() );
            if (key.length) {
                this.member_results = [];
                this.member_results = this.users_in_group.filter(user => {
                    return ((this.remove_latin_accent( user.fullname.toLowerCase() ).includes(key)) || ( user.email.toLowerCase().includes(key))) && this.card.members.map( member => member.uid).indexOf(user.uid) < 0;
                });
            }else{
                this.member_results = [];
            }
        },
        assign_user(user){
            if (this.finish_by.uid.length) {
                return false;
            }
            fetch(window.api_url+"/add-member-to-card", {
                method: 'post',
                body: JSON.stringify({
                    card_id: this.card.card_id,
                    member_id: user.uid,
                }),
                headers: { "content-type": "application/json" }
            })
            .then(res => res.json())
            .then(res => {
                if (!res.status) {
                    swal({
                        text: res.msg,
                        type: 'warning',
                    });
                    return false;
                }
                this.card.members.push(user);
                this.member_results = [];
                this.close_assign_form();
            });
        },
        close_assign_form(){
            let input = document.querySelector('#check-add-user-label-'+this.card.card_id+'-'+this.note_slug);
            if (input == null) {
                return
            }
            input.checked = false;
            this.keyword = '';
        },
        close_adding_form_by_click_outside(){
            let _this = this;
            document.addEventListener("click", function(event) {
                if (event.target.closest(".tabs-table-manage")) {
                    let input = document.querySelector('#check-add-user-label-' + _this.card.card_id);
                    if (input == null) {
                        return
                    }
                    if (input.checked) {
                        input.checked = false;
                    }
                    return false;
                }
                if (event.target.closest(".symper-add-task-member-form")) {
                    return false;
                }
                else{
                    _this.close_assign_form();
                }
                if (event.target.closest(".symper-repeat-task")) {
                    return false;
                }
                else{
                    _this.show_repeat_task = false;
                }
            });
            document.body.addEventListener('keyup', function(e){
                if(e.key == "Escape" || e.key == "Esc" || e.keyCode == 27){
                    _this.close_assign_form();
                    _this.show_repeat_task = false;
                }
            });
        },
        get_task_finish_by(){
            for (let i = 0; i < this.users.length; i++) {
                if (this.users[i].uid == this.card.finish_by) {
                    return this.users[i];
                }
            }
            return {
                uid: '',
                Name: ''
            };
        }
    },
    props:{
        card: {
            type: Object,
            default: {}
        },
        users: {
            type: Array,
            default: []
        },
        users_in_group: {
            type: Array,
            default: []
        },
        note_slug: {
            type: String,
            default: ''
        },
        note_type: {
            type: String,
            default: ''
        }
    },
    created: function(){
        let _this = this;
        setTimeout(function(){
            if (_this.users.length) {
                let count = 0;
                for (let i = 0; i < _this.users.length; i++) {
                    if (_this.users[i].uid === _this.card.created_by ) {
                        _this.creator = _this.users[i];
                        count ++;
                    }
                    if (_this.users[i].uid === _this.card.finish_by) {
                        _this.finish_by = _this.users[i];
                        count ++;
                    }
                    if (count > 1) {
                        break;
                    }
                }
            }
        }, 1000);
        this.close_adding_form_by_click_outside();
    },
    watch: {
        card: function(val){
            if (val.status == 2) {
                this.finish_by = this.get_task_finish_by();
            }else{
                this.finish_by = {
                    uid: '',
                    Name: ''
                };
            }
        }
    }
};
</script>
