
.symper-single-task{
    width: 280px;
    position: relative;
    &.symper-task-done{
        margin-top: 25px;
        .tabs-table-info {
            background: #d0e8e3 !important;
        }
    }
    .tabs-table-info{
        &.is-urgent{
            background-color: #fb8888;
            color: #fff;
            .task-des.text-muted{
                color: #fff;
                width: 100%;
                overflow: hidden;
            }
            .task-option a.danger{
                box-shadow: 0 0 10px #fff !important;
            }
        }
    }
    &:hover{
        cursor: pointer;
    }
    .task-option .col-xs-10 > *{
        padding: 0 5px;
        height: 20px;
        width: auto;
        display: block;
        float: left;
        line-height: 20px;
        align-items: flex-end;
        border-radius: 3px;
        &:hover {
            background: #eee;
        }
    }
    .tabs-header {
        width: 280px;
        overflow: hidden;
        max-height: 170px;
        display: block;
        .symper-single-file.image-preview {
            width: 280px;
            height: 200px;
            overflow: hidden;
            img {
                width: 280px;
                height: auto;
            }
        }
    }
    .tabs-body-info{
        width: 280px;
        position: relative;
        .symper-task-label {
            position: absolute;
            width: 10px;
            height: auto;
            display: block;
            top: 0;
            right: -10px;
            .task-rule-button {
                width: 10px;
                height: 10px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                margin-bottom: 3px;
            }
        }
    }
    .tabs-table-manage{
        
        label{
            cursor: pointer;
            i {
                cursor: pointer;
            }
        }
    }
    a.datepicker{
        -webkit-transition: all .25s linear;
           -moz-transition: all .25s linear;
            -ms-transition: all .25s linear;
             -o-transition: all .25s linear;
                transition: all .25s linear;
        &:hover {
            background: #eee;
        }
    }
    .toggle-asign-form{
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        position: relative;
        z-index: -100;
    }
    input[type=checkbox].toggle-asign-form:checked{
        &~.symper-add-task-member-form{
            display: block;
            animation: pop_up 0.2s linear;
        }
    }
    .symper-add-task-member-form{
        position: absolute;
        top: calc(100% + 10px);
        left: 0px;
        width: 100%;
        padding: 10px;
        display: none;
        background: #f5f5fa;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px #ccc;
        z-index: 1000;
        input{
            height: 30px;
            padding-left: 10px;
            padding-right: 10px;
            background: #f0f0f0;
            border: 0;
            outline: none;
            box-shadow: none;
            width: 100%;
        }
        .symper-task-member {
            width: 100%;
            transition: all 0.3s;
            &:hover{
                background: #eee;
            }
            .symper-member-avatar {
                margin-left: 0;
            }
            .symper-member-name {
                padding-left: 40px;
            }
        }
    }

    .task-option{
        .navbar-right{
            margin-right: 0px;
        }
    }
    .task-name {
        width: 100%;
        height: 30px;
        line-height: 20px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        > strong {
            width: 240px;
            display: block;
        }
        .navbar-right{
            position: absolute;
            right: 0;
            top: 0;
        }
    } 
    .symper-member-avatar {
        margin-right: -15px;
        box-shadow: -1px 0px 5px 2px #fff;
        cursor: pointer;
        transition: all .2s linear;
        position: relative;
        overflow: hidden;
        &:hover{
            z-index: +100;
            transform: scale(1.15);
            &:before {
                content: 'x';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(72, 68, 68, 0.7);
                color: #fff;
                font-weight: bold;
            }
        }
    }
    .task-list{
        .symper-single-task{
            input[type=checkbox]{
                display: none;
            }
            label{
                display: inline-block;
                width: calc(100% - 20px);
                border: 0 !important;
                padding: 0 0 0 25px !important;
                font-weight: 400;
                position: relative;
                overflow: hidden;
                height: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                transition: all .3s linear;
                &:before{
                    content: '';
                    width: 15px;
                    height: 15px;
                    border: 1px solid rgb(135, 135, 135);
                    position: absolute;
                    top: 2px;
                    left: 0;
                    display: block;
                }
                &:hover {
                    text-decoration: underline;
                    background: #eee;
                }
            }
        }
    }
    .symper-task-finish-by.pull-left {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .task-option {
        i.ms-Icon.ms-Icon--CircleHalfFull {
            color: #7272ce;
        }
        a{
            &.danger {
                background-color: #ff4b4b;
                color: #fff;
                padding: 2px;
                i{
                    position: relative;
                    top: 2px;
                    left: 2px;
                    font-size: 105%;
                }
            }
            &.warning {
                background-color: #ff9512;
                color: #fff;
                padding: 2px;
                i{
                    position: relative;
                    top: 2px;
                    left: 2px;
                    font-size: 105%;
                }
            }
        }
        .col-xs-2 {
            &.dropdown.navbar-right.drop-options-task {
                margin-right: 1.5em;
            }
        }
    }
    a.dropdown-toggle:hover + div {
        display: block;
        top: 10px;
        left: -200px;
    }
    .symper-repeat-task {
        width: 100%;
        min-height: 100px;
        background: #fff;
        padding: 10px;
        border-top: 2px solid #f5f5fa;
        div{
            width: 100%;
            height: 30px;
            line-height: 30px;
            margin-bottom: 2px;
            overflow: hidden;
            cursor: pointer;
            &:hover{
                background: #eee;
            }
            input[type=checkbox]:checked + label{
                background: #eee;
                font-weight: bold;
                &:after{
                    background-color: #e4773a !important;
                }
                &:before{
                    border-color: #e4773a !important;
                }
            }
            label {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 30px;
                margin: 0;
                position: relative;
                font-weight: normal;
                text-shadow: 0 0 0;
                height: 30px;
                display: inline-block;
                cursor: pointer;
                &:before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border: 1px solid;
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    border-radius: 2px;
                }
                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: inherit;
                    display: block;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    border-radius: 2px;
                }
            }
        }
    }
}
.menu-hover li a i {
    color: #666;
    font-size: 15px;
}
.menu-task-hover ul {
    list-style: none;
    margin: 0;
    min-height: 0px;
    ul {
        position: absolute;
        top: 20px;
        left: -150px;
        display: none;
        width: 180px;
        z-index: +9999;
        li {
            position: relative;
            padding: 6px;
            transition: all 0.3s linear;
            &:hover{
                background: #ccc;
                font-weight: bold;
            }
        }
    }
}
.menu-task-hover ul li:hover ul {
    display: block;
    background: #f5f5fa;
    box-shadow: 0 0 5px #ccc;
}
.menu-task-hover ul li {
    font-size: 14px;
}
@keyframes pop_up{
    0%{
        top: calc(100% + 20px);
        opacity: 0;
    }
    100%{
        top: calc(100% + 10px);
        opacity: 1;
    }
}