.symper-timeline, .timeline-horizontal{
    padding: 20px;
    display: flex;
    align-items: start;
    overflow-x: auto;
    flex: 1;
    height: calc(100vh - 80px);
    overflow-y: hidden;
    padding-top: 0px;
}
/* Timeline */
 .timeline, .timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
}
 .timeline:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #ff7826;
    left: 50%;
    margin-left: -1.5px;
}
 .timeline .timeline-item {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
 .timeline .timeline-item:before, .timeline .timeline-item:after {
    content: "";
    display: table;
}
 .timeline .timeline-item:after {
    clear: both;
}
 .timeline .timeline-item .timeline-badge {
    color: #333;
    font-weight: bold;
    width: 54px;
    height: 54px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -25px;
    background-color: #f5f5fa;
    border: 3px solid #ff7826;
    z-index: 100;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #f5f5fa;
}
 .timeline .timeline-item .timeline-badge i, .timeline .timeline-item .timeline-badge .fa, .timeline .timeline-item .timeline-badge .glyphicon {
    top: 2px;
    left: 0px;
}

.timeline .timeline-item .timeline-panel {
    position: relative;
}
.timeline-heading {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 1px;
    font-weight: bold;
}
 
 .timeline .timeline-item .timeline-panel .timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: bold;
}
.timeline-body {
    height: calc(100vh - 230px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 290px;
}
 .timeline .timeline-item .timeline-panel .timeline-body > p, .timeline .timeline-item .timeline-panel .timeline-body > ul {
    margin-bottom: 0;
}
 .timeline .timeline-item .timeline-panel .timeline-body > p + p {
    margin-top: 5px;
}
 .timeline .timeline-item:last-child:nth-child(even) {
    float: right;
}
 .timeline .timeline-item:nth-child(even) .timeline-panel {
    float: right;
    left: 16px;
}
 .timeline .timeline-item:nth-child(even) .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
 .timeline-horizontal {
    list-style: none;
    position: relative;
}
 .timeline-horizontal:before {
    height: 10px;
    top: 42px;
    left: 50px;
    right: 0;
    // width: calc(100%);
    border-radius: 5px;
}
 .timeline-horizontal .timeline-item {
    height: calc(100vh - 210px);
    width: 300px;
    min-width: 300px;
    padding-left: 0px;
    padding-right: 20px;
    margin-top: 100px;
}
 .timeline-horizontal .timeline-item .timeline-panel {
    top: -20px;
    display: inline-block;
    float: none !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    margin-bottom: 20px;
}
 .timeline-horizontal .timeline-item .timeline-panel:before {
    top: -16px;
    left: 45% !important;
    right: auto;
    border-right: 16px solid transparent !important;
    border-top: 0 solid #fff !important;
    border-bottom: 16px solid #fff !important;
    border-left: 16px solid transparent !important;
    position: absolute;
    content: " ";
    display: inline-block;
}
 .timeline-horizontal .timeline-item:before, .timeline-horizontal .timeline-item:after {
    display: none;
}
 .timeline-horizontal .timeline-item .timeline-badge {
    top: -100px;
    left: 47%;
}
