<template>
	<div class="symper-timeline">
		<ul class="timeline timeline-horizontal">
			<li v-for="(board, index) in temp_boards" :key="'timeline-board-'+index" class="timeline-item">
				<div class="timeline-badge">
					{{get_day_by_title(board.title)}}
				</div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title text-center">
							{{get_date_by_title(board.title)}}
						</h4>
					</div>
					<div class="timeline-body">
						<symper-task
							v-for="task in board.cards" 
	                        :card="task"
	                        :users="users" 
                            @showCard="show_card($event)" 
                            :key="'timeline-task-'+task.card_id+'-'+task.expiry_date">
	                    </symper-task>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<style lang="sass" scoped>
  @import "timeline.scss"
</style>

<script>
import task from "./Task-Timeline.vue";
export default {
    data(){
        return {
        	all_cards: [],
        	temp_boards: []
        };
    },
    components:{
    	symperTask: task
    },
    methods: {
    	get_day_by_title(title){
    		if (this.trans('template.no_expiry_date') == title) {
    			return 0;
    		}
    		return title.split(' ')[0].split('-')[2];
    	},
    	get_date_by_title(title){
    		if (this.trans('template.no_expiry_date') == title) {
    			return title;
    		}
    		return title.split(' ')[0].split('-').reverse().join('-');
    	},
    	set_data(){
    		this.all_cards = [];
    		this.temp_boards = [];
            for (var i = 0; i < this.boards.length; i++) {
                this.all_cards = this.all_cards.concat(this.boards[i].cards);
            }
            this.all_cards.sort(function(a,b){
            	return new Date(a.expiry_date) - new Date(b.expiry_date);
            });
            this.temp_boards.push({
    			title: this.trans('template.no_expiry_date'),
    			cards: []
    		});
            for (var i = 0; i < this.all_cards.length; i++) {
            	let flag = false;
            	for (var j = 0; j < this.temp_boards.length; j++) {
            		if (this.all_cards[i].expiry_date == null) {
            			this.temp_boards[0].cards.push(this.all_cards[i]);
            			flag = true;
            		}
        			else if ( this.all_cards[i].expiry_date == this.temp_boards[j].title ) {
        				this.temp_boards[j].cards.push(this.all_cards[i]);
            			flag = true;
        			}
            	}
            	if (!flag) {
            		this.temp_boards.push({
		    			title: this.all_cards[i].expiry_date,
		    			cards: [this.all_cards[i]]
		    		});
            	}
            }
            document.querySelector("ul.timeline.timeline-horizontal").pseudoStyle("before","width", (this.temp_boards.length * 300 - 100) + "px !important")
    	},
        show_card(card) {
            this.$emit("showDetail", {card: card});
        },
    },
    props:{
    	boards: {
    		type: Array,
    		default: []
    	},
    	users: {
            type: Array,
            default: []
        }
    },
    created: function(){
    	let _this = this;
    	setTimeout(function(){
    		_this.set_data();
            _this.$emit('disable_loading');
    	}, 2000);

    },
    watch: {
    	boards: function(val){
    		this.set_data();
    	}
    }
};
</script>