<template>
  <div>
    <div class="lg-side">
        <input type="checkbox" class="hidden" id="toggle-sidebar-btn">
        <symper-aside 
          @addNewGroup="add_new_group($event)" 
          @resetSelectedGroup="reset_selected_group" 
          @toggle_board_all_done="toggle_board_all_done" 
          @openGroup="set_group($event)" 
          :groups="groups" 
          :group="group" 
          :hidden_board_all_done="hidden_board_all_done" 
        />
        <transition name="slide-left">
          <symper-groups 
            @selectGroup="set_group($event)" 
             v-show="!group.length" 
             :groups="groups" 
          ></symper-groups>
        </transition>
        <transition name="slide-right" >
          <symper-boards 
            v-show="group.length"
            :group="group" 
            :groups="groups"
            :card_slug="card_slug" 
            :hidden_board_all_done="hidden_board_all_done" 
            @RemovePlan="remove_plan($event)"
            @SetCardSlug="set_card_slug($event)"
          >
          </symper-boards>
        </transition>
    </div>
  </div>
</template>
<style lang="sass" scoped>
	@import 'main-content.scss'
</style>

<script>
import boards from "./libs/Boards/Boards";
import groups from "./libs/Groups/Groups";
import symperAside from "../Sidebar/SymperAside";
export default {
  components: {
  	symperGroups: groups,
    symperBoards: boards,
    symperAside,
  },
  data(){
    return {
      group: '',
      card_slug: '',
      show_loading: true,
      groups: [],
      hidden_board_all_done: false
    };
  },
  methods: {
    toggle_board_all_done(){
      this.hidden_board_all_done = !this.hidden_board_all_done;
      localStorage.setItem('hidden_board_all_done', this.hidden_board_all_done);
    },
    remove_plan(plan){
      this.reset_selected_group();
      for (var i = 0; i < this.groups.length; i++) {
        if (this.groups[i].Id == plan.Id) {
          this.groups.splice(i, 1);
          break;
        }
      }
    },
    set_card_slug(slug){
      this.card_slug = slug;
    },
    reset_selected_group(){
      this.group = '';
      document.title = this.trans('template.welcome_text');
      window.history.pushState({urlPath:window.location.origin}, this.trans('template.welcome_text'), window.location.origin);
      return false;
    },
	  add_new_group(data){
		  this.groups.push(data);
	  },
    get_groups(){
      fetch(window.api_url+'/get-plans')
      .then(res => res.json())
      .then(res => {
        if (res.status) {
          this.groups = res.data;
          for (var i = 0; i < this.groups.length; i++) {
            if (this.groups[i].Id == this.group) {
              document.title = this.groups[i].Name;
              break;
            }
          }
        }
      });
    },
    set_group(group){
      this.group = group.Id;
      document.title = group.Name;
      window.history.pushState({urlPath:group.Id}, group.Name, group.Id);
      // if (window.history.state && window.history.state.urlPath && window.history.state.urlPath != document.getElementsByTagName('base')[0].getAttribute('href') + group.Id) {
      // }
    },
    set_group_by_url(){
      let url = window.location.pathname.split('/');
      for (var i = 0; i < url.length; i++) {
        if(url[i] === ""){
          url.splice(i, 1);
          i--;
        }
      }
      if (url[0] !== undefined && /[0-9A-Z]{8}/.test(url[0])) {
        this.group = url[0];
        document.title = this.group.Name;
        if (url[1] != undefined) {
          this.card_slug = url[1];   
        }
      }else{
        document.title = this.trans('template.welcome_text');
        this.group = '';
      }
    }
  },
  created(){
    this.get_groups();
    let _this = this;
    this.set_group_by_url();
    window.onpopstate = function(event) {
      _this.set_group_by_url();
    }
    this.hidden_board_all_done = localStorage.getItem("hidden_board_all_done") != null ? localStorage.getItem("hidden_board_all_done") == 'true' : false;
  }
};
</script>

