.sm-sidebar-hidden {
    position: fixed;
    right: -270px;
    width: 270px;
    transition: all 0.3s;
    top: 0;
    z-index: +1000;
}
.symper-sidebar {
    position: fixed;
    z-index: +100000001;
}
.toggle-nav {
    top: 30px;
    right: 20px;
    z-index: +100000001;
    position: fixed;
    transition: all 0.3s;

    label {
        cursor: pointer;
        display: block;
        span{
            width: 20px;
            background-color: #333;
            display: block;
            height: 2px;
            border-radius: 2px;
            margin: 5px;
            transition: all 0.3s;
        }
    }
}
input#toggle-sidebar-btn:checked + div .sm-sidebar-hidden{
    right: 0px;
    .toggle-nav {
        width: 30px;
        height: 30px;
        // border: 1px solid;
        // border-radius: 50%;
        label {
            span:first-child{
                margin-bottom: -3px;
                display: block;
                transform: rotate(45deg);
                width: 10px;
                margin-left: 15px;
                margin-top: 8px;
            }
            span:last-child{
                display: block;
                transform: rotate(-45deg);
                margin-top: -3px;
                width: 10px;
                margin-left: 15px;
            }
        }
    }
}
ul.components i {
    margin-right: .5em;
}
.sidebar {
    width: 270px;
    height: 100vh; 
    max-height: 100vh;
    background: #F5F5FA;
    color: #666;
    font-size: 14px;
    position: absolute;
    z-index: 99;
    top: 0px;
    right: 0;
    padding: 0;
    box-shadow: 0 10px 14px 0 #5a5a5a59;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .sidebar-header {
    background: #F5F5FA;
}

.sidebar ul.components {
    padding: 20px 0;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    color: #7386D5;
    background: #f0f0f0;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #666;
    background: #F5F5FA;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em;
}
ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #F5F5FA;
}

ul li a[data-toggle="collapse"] {
    text-transform: uppercase;
    font-size: 13px;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.come-back {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #f0f0f0 !important;
    color: #666 !important;
}

.sidebar.openSidebar {
    animation: slide-out 0.3s;
    display: block;
    right: 0;
}
ul li a .symper-group-avatar,
ul li a .symper-group-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-top: -0.4em;
    margin-right: 1em;
    background-color: red;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
}

ul.components li a i.ms-Icon.ms-Icon--ChevronDown {
    position: absolute;
    right: 2em;
}
.openCollap {
    display: block;
    animation: slide 0.3s;
}
@keyframes slide{
    0%{
        opacity: 0;
        margin-top: 30px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes slide-out{
    0%{
        right: -1000px;
    }
    100%{
        right: 0px;
    }
}