<template>
    <div class="symper-sidebar">
        <div class="sm-sidebar-hidden">
            <!-- Icon Open -->
            <div class="toggle-nav" v-show="!is_pin_sidebar">
                <label for="toggle-sidebar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <!-- Nội dung sidebar -->
            <div class="sidebar">
                <ul class="list-unstyled components">
                    <li>
                        <a href="javascript:void(0);" @click.stop="toggle_pin_sidebar()">
                            <i class="ms-Icon" :class="{'ms-Icon--Pin': !is_pin_sidebar, 'ms-Icon--Pinned': is_pin_sidebar}"></i> 
                            {{is_pin_sidebar ? trans('template.unpin_sidebar') : trans('template.pin_sidebar')}}
                        </a>
                    </li>
                    <li :title="trans('template.hide_board_all_done_helper')">
                        <a href="javascript:void(0);" @click.stop="toggle_board_all_done()">
                            <i class="ms-Icon" :class="{'ms-Icon--Hide': !hidden_board_all_done, 'ms-Icon--RedEye': hidden_board_all_done}"></i> 
                            {{!hidden_board_all_done ? trans('template.hide_board_all_done') : trans('template.show_board_all_done')}} ...
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" @click.stop="show_add_new_plan_modal()">
                            <i class="ms-Icon ms-Icon--Add"></i> {{trans('template.new_plan')}}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" @click.stop="show_groups">
                            <i class="ms-Icon ms-Icon--ProgressLoopOuter"></i> 
                            {{trans('template.planner-hub')}}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" @click.stop="open_group('3ABSFT4B')">
                            <i class="ms-Icon ms-Icon--Contact"></i> 
                            {{trans('template.my_task')}}
                        </a>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" @click="toggleCollapse">
                            <strong>{{trans('template.favorites_plan')}}</strong>
                            <i class="ms-Icon ms-Icon--ChevronDown"></i>
                        </a>
                        <ul class="collapse openCollap list-unstyled" id="homeSubmenu">
                            <li @click.stop="open_group(gr.Id)" 
                                v-for="(gr, index) in groups.filter(function(group){ return group.is_favorite})" 
                                :key="'recent-group-'+index">
                                <a href="javascript:void(0);">
                                    <div class="symper-group-avatar">
                                        <span class="text-uppercase">
                                            {{get_avatar_name(gr.Name ? gr.Name : '')}}      
                                        </span>
                                    </div>
                                    {{gr.Name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li @click="toggleHubPlan">
                        <a href="javascript:void(0)">
                            <strong>{{trans('template.recent_plans')}} </strong>
                            <i class="ms-Icon ms-Icon--ChevronDown"></i>
                        </a>
                        <ul class="collapse openCollap list-unstyled" id="pageSubmenu">
                            <li @click.stop="open_group(gr.Id)" 
                                v-for="(gr, index) in groups" 
                                :key="'recent-group-'+index">
                                <a href="javascript:void(0);">
                                    <div class="symper-group-avatar">
                                        <span class="text-uppercase">
                                            {{get_avatar_name(gr.Name ? gr.Name : '')}}      
                                        </span>
                                    </div>
                                    {{gr.Name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
        <modal-aside :modalId="'add-new-plan-modal'" @addPlan="add_plan($event)"/>
        <modal-aside 
            :modalId="'update-plan-modal'" 
            :selected_group="selected_group" 
            @updatePlan="update_plan($event)" 
            @resetSelectedGroup="reset_selected_plan($event)"
        />
    </div>
</template>
<style lang="sass" scoped>
    @import 'aside.scss'
</style>
<script>
    import ModalAside from '../Main/libs/Boards/Board-detail/ModalAside.vue'
    export default {
        data: function(){
            return {
                selected_group: null,
                is_pin_sidebar: false
            }
        },
        components: {
            modalAside : ModalAside,
        },
        methods: {
            toggle_pin_sidebar(){
                this.is_pin_sidebar = !this.is_pin_sidebar;
                localStorage.setItem('pin_sidebar', this.is_pin_sidebar);
                if (this.is_pin_sidebar) {
                    document.getElementById('toggle-sidebar-btn').checked = true;
                }
            },
            toggle_board_all_done(){
                this.$emit('toggle_board_all_done')
            },
            update_plan(plan){
                for (var i = this.groups.length - 1; i >= 0; i--) {
                    if (this.groups[i].Id === plan.Id) {
                        this.groups[i].Name = plan.Name;
                        this.groups[i].Status = plan.Status;
                        this.groups[i].Description = plan.Description;
                        break;
                    }
                }
            },
            get_avatar_name(name){
                if (!name.length) { return '';}
                name = name.split(' ');
                if (name.length > 1) {
                    return name[0][0] + name[1][0];
                }
                return name[0][0];
            },
            open_group(id){
                for (var i = this.groups.length - 1; i >= 0; i--) {
                    if (this.groups[i].Id === id) {
                        this.selected_group = this.groups[i];
                        this.$emit('openGroup', this.groups[i]);
                        break;
                    }
                }
            },
            show_groups(){
                this.$emit('resetSelectedGroup');
                this.closeSideBar();
            },
            show_add_new_plan_modal(){
                document.getElementById('add-new-plan-modal').classList.add('in');
            },
            closeSideBar(){
                if (this.is_pin_sidebar){
                    return false;
                }
                document.getElementById('toggle-sidebar-btn').checked = false;
            },
            toggleCollapse(){
                document.getElementById('homeSubmenu').classList.toggle('openCollap');
            },
            toggleHubPlan(){
                document.getElementById('pageSubmenu').classList.toggle('openCollap');
            },
            close_sidebar_by_click_outside(){
                if (this.is_pin_sidebar){
                    return false;
                }
                let _this = this;
                document.addEventListener("click", function(event) {
                    if (event.target.closest(".sm-sidebar-hidden") || event.target.closest(".toggle-nav") || event.target.closest("#toggle-sidebar-btn")) {
                        return
                    };
                    _this.closeSideBar();
                });
                document.body.addEventListener('keyup', function(e){
                    e.preventDefault();
                    if(e.key == "Escape" || e.key == "Esc" || e.keyCode == 27){
                        _this.closeSideBar();
                    }
                });
            },
            add_plan(plan){
                this.$emit('addNewGroup', plan);
            }
        }, 
        created(){
            let _this = this;
            setTimeout(function() {
                if (_this.group != '') {
                    for (var i = _this.groups.length - 1; i >= 0; i--) {
                        if (_this.groups[i].Id === _this.group) {
                            _this.selected_group = _this.groups[i];
                            break;
                        }
                    }
                }
            }, 1000);
            this.close_sidebar_by_click_outside();
            this.is_pin_sidebar = localStorage.getItem("pin_sidebar") != null ? localStorage.getItem("pin_sidebar") == 'true' : false;
            if (this.is_pin_sidebar) {
                setTimeout(function(){
                    document.getElementById('toggle-sidebar-btn').checked = true;
                }, 1000);
            }
        },
        props: {
            groups: {
                type: Array,
                default: []
            },
            group: {
                type: String
            },
            hidden_board_all_done: {
                type: Boolean
            }
        },
        watch: {
            group: function(val){
                for (var i = this.groups.length - 1; i >= 0; i--) {
                    if (this.groups[i].Id === val) {
                        this.selected_group = this.groups[i];
                        break;
                    }
                }
            }
        }
    }
</script>
